{% extends "community/base.profile.html" %}
{% block title %}Dodawanie komplementu{% endblock %}
{% block head %}
{% include "include/map.head.html" %}
{% endblock %}
{% block profile-left %}
<h2>Nowy komplement</h2>
<form class="form-standard" action="" method="post">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="submit" type="submit" value="Dodaj">
</form>
{% endblock %}