<div id="compliment-box">
	<h3>Wyślij komplement</h3>
	<div>
	    <form name="compliment-form" id="compliment-form">
	        <table>
	            {% load compliment_name %}
	            {% for item in compliment_types %}
	            <tr>
	                <td>
	                    <div class="compliment-title">
	                        <input style="width: 30px;" {%  if forloop.first %}checked{%  endif %}  type="radio" name="type" value="{{ item.id }}"><img id="compliment-img-{{ item.id }}" width="25" height="26" src="{{ item.image.url }}"> <span id="compliment-title-{{ item.id }}">{% compliment_name item selecteduser.get_profile.gender %}</span>
	                    </div>
	                </td>
	            </tr>{% endfor %}
	        </table>
	        <textarea style="width: 285px; height: 60px;" name="body"></textarea>
	        <input type="submit" value="Wyślij" class="submit"/>
			<input type="button" value="Zamknij" class="close"/>
	    </form>
	</div>
</div>