{% load i18n %}{% load common_tags %}
    {% ifequal request.session.area.slug "warszawa" %}
    <h2>{% trans "Partners" %}</h2>
<object width="265" height="100">
<param name="movie" value="http://static.lemonet.eu/ads/kampus265x100.swf">
<embed src="http://static.lemonet.eu/ads/kampus265x100.swf" width="265" height="100">
</embed>
</object>
    {% endifequal %}

    {% ifequal request.session.area.slug "wroclaw" %}
    <h2>{% trans "Partners" %}</h2>
<a href="http://www.tvs-styk.pwr.wroc.pl/"><img id="advert-styk" src="{{ 'ads/styk265.jpg'|ADD_MEDIA_URL }}" /></a>
    {% endifequal %}

    {% ifequal request.session.area.slug "poznan" %}
    <h2>{% trans "Partners" %}</h2>
<a href="http://www.aktywny-uniwersytet.pl/"><img id="advert-au" src="{{ 'ads/au265x80.png'|ADD_MEDIA_URL }}" /></a>
    {% endifequal %}
	
    {% ifequal request.session.area.slug "katowice" %}
    <h2>{% trans "Partners" %}</h2>
<a href="http://www.slaskieradio.com/"><img style="margin-bottom: 7px;" id="advert-au" src="{{ 'ads/slask265.jpg'|ADD_MEDIA_URL }}" /></a><br />
<a href="http://espinacz.pl/"><img id="advert-au" src="{{ 'ads/spinacz265.jpg'|ADD_MEDIA_URL }}" /></a>
    {% endifequal %}
	<!--
    {% ifequal request.session.area.slug "sosnowiec" %}
    <h2>{% trans "Partners" %}</h2>
    {% endifequal %}

    {% ifequal request.session.area.slug "opole" %}
    <h2>{% trans "Partners" %}</h2>
    {% endifequal %}
	
    {% ifequal request.session.area.slug "rybnik" %}
    <h2>{% trans "Partners" %}</h2>
    {% endifequal %}
-->