<ol>{% for item in items %}
    {% if forloop.first %}
        <div style="text-align: left; padding: 5px; padding-top:0px;"><a href="{{ item.get_absolute_url }}"><img width="70" height="70" src="{{ item.photo.get_urls.medium }}" /></a></div>
    {% endif %}
    <li {% if forloop.first %}style="font-weight: bold;"{% endif %}><a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
{% endfor %}</ol>