<br /><br />
{% ifequal request.session.area.slug "warszawa" %}
    <div id="facebook-like-box"><iframe src="http://www.facebook.com/plugins/likebox.php?id=122471107782947&amp;width=240&amp;connections=8&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:287px;" allowTransparency="true"></iframe></div>
{% endifequal %}
{% ifequal request.session.area.slug "wroclaw" %}
    <div id="facebook-like-box"><iframe src="http://www.facebook.com/plugins/likebox.php?id=169206923127305&amp;width=240&amp;connections=8&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:287px;" allowTransparency="true"></iframe></div>
{% endifequal %}
{% ifequal request.session.area.slug "rzeszow" %}
    <div id="facebook-like-box"><iframe src="http://www.facebook.com/plugins/likebox.php?id=168951723136504&amp;width=240&amp;connections=8&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:287px;" allowTransparency="true"></iframe></div>
{% endifequal %}
{% ifequal request.session.area.slug "trojmiasto" %}
    <div id="facebook-like-box"><iframe src="http://www.facebook.com/plugins/likebox.php?id=127691223969449&amp;width=240&amp;connections=8&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:287px;" allowTransparency="true"></iframe></div>
{% endifequal %}
{% ifequal request.session.area.slug "gdansk" %}
    <div id="facebook-like-box"><iframe src="http://www.facebook.com/plugins/likebox.php?id=127691223969449&amp;width=240&amp;connections=8&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:287px;" allowTransparency="true"></iframe></div>
{% endifequal %}
{% ifequal request.session.area.slug "gdynia" %}
    <div id="facebook-like-box"><iframe src="http://www.facebook.com/plugins/likebox.php?id=127691223969449&amp;width=240&amp;connections=8&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:287px;" allowTransparency="true"></iframe></div>
{% endifequal %}
{% ifequal request.session.area.slug "sopot" %}
    <div id="facebook-like-box"><iframe src="http://www.facebook.com/plugins/likebox.php?id=127691223969449&amp;width=240&amp;connections=8&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:287px;" allowTransparency="true"></iframe></div>
{% endifequal %}
{% ifequal request.session.area.slug "krakow" %}
    <div id="facebook-like-box"><iframe src="http://www.facebook.com/plugins/likebox.php?id=126386580767898&amp;width=240&amp;connections=8&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:287px;" allowTransparency="true"></iframe></div>
{% endifequal %}
