{% load i18n %}<div style="position: absolute; z-index: 10;">
	<div id="map_canvas" style="width: 285px; height: 300px;"></div>
	<div style="height: 4px"><!--  --></div>
	{% if not category_path %}
	<input type="checkbox" checked name="map-research" id="map-research" value="1" class="with-label"> <label class="checkbox-label" for="map-research">{% trans "Search again after move of map" %}</label><br />
	<input type="checkbox" name="map-stay-put" id="map-stay-put" value="1" class="with-label"> <label class="checkbox-label" for="map-stay-put">{% trans "Leave objects on map" %}</label><br />
	<!-- input type="checkbox" name="map-show-all" id="map-show-all" value="1" > <label for="map-show-all">Pokaż wszystkie (maksymalnie 50)</label><br / -->
	<input type="checkbox" name="map-enlarge" id="map-enlarge" value="1" class="with-label"> <label class="checkbox-label" for="map-enlarge">{% trans "Enlarge map" %}</label>
	{% endif %}
	
	</div>
	<div style="position: relative; display: none;" id="map-tooltip">
		<div style="float: left; padding: 10px;"><img id="map-tooltip-photo" src="{{ MEDIA_URL }}photos/building.thumbnail.jpg"/></div>
		<div style="float: right; width: 220px">
			<h3 id="map-tooltip-name">Nazwa</h3>
			<span id="map-tooltip-street">Adres</span><br />
			<span id="map-tooltip-city">Miasto</span><br />
			<div id="map-tooltip-review" style="margin-top: 7px; font-size: 11px; color: #444444">Recenzja</div>
		</div>
		<div style="clear: both; height: 5px;"><!--  --></div>
	</div>
</div>
<div style="height: 550px;"></div>
