    {% load i18n %}{% ifequal request.session.area.slug 'warszawa' %}
    <div class="hr"><!-- --></div>
    <div id="neiborhood">
        <h2>{% trans "Search by neighbourhood" %}</h2>

	{% with request.session.area.area_set.all as results %}
	{% load list_to_columns %}
    {% list_to_columns results as list 3 %}
    <table style="width: 100%">
	{% for l in list %}
		<td style="width: 33%">
			{%for item in l %}
				<span class="cat-list"><a href="{% url business_search %}?gdzie=Warszawa,{{ item }}">{{ item }}</a></span><br />
			{% endfor %}
		</td>
	{% endfor %}
	</table>
	{% endwith %}

    </div>
    {% endifequal %}