{% load i18n %}{% load stars %}
<div class="sponsored-box">
<div style="float: left; "><h3>{% trans "Today's recommend:" %}</h3></div>
<div style="float: right; "><span>{% trans "Sponsored result:" %}</span></div>
<div style="clear: both; "></div>
{% if item %}
<div style="padding-top: 5px;">
<div style="float: left; width: 130px; padding-bottom: 10px; padding-left: 15px; ">
<a href="{{ item.get_absolute_url }}" style="font-weight: bold;">{{ item }}</a><br />
{% stars item.rating %}<br />
</div>
<div style="float: right; width: 500px; font-size: 11px; color: #444444;">
<div style="float: left; width: 30px; margin: 5px; text-align: center;">
	<a href="{{ item.get_absolute_url }}"><img style="margin-top: 4px;" width="20" height="20" alt="{{ item }}" title="{{ item }}" src="{{ item.photo.get_micro_url }}" /></a>
</div>
<div style="line-height: 120%; font-size: 11px;" class="reduced-review" class="translatable">{{ item.review_body|truncatewords:35 }}</div>
</div>
<div style="clear: both; "></div>
</div>
{% endif %}
</div>