{% load i18n %}<table id="tops" style="width: 100%">
                <tr>
                    <td style="width: 50%">
                        <h2>{% trans "Restaurants" %}</h2>
                    {% with best.restaurants as items %}
                        {% include "include/best.html" %}
                    {% endwith %}
                        <a class="more" href="{% url category_city_listing category_name="restauracje" city_slug=request.session.area.slug %}">{% trans "See more" %}</a>
                    </td>
                    <td>
                        <h2>{% trans "Shops" %}</h2>
                        {% with best.shops as items %}
                            {% include "include/best.html" %}
                        {% endwith %}
                        <a class="more" href="{% url category_city_listing category_name="sklepy" city_slug=request.session.area.slug %}">{% trans "See more" %}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>{% trans "Nightlife" %}</h2>
                        {% with best.nightlife as items %}
                            {% include "include/best.html" %}
                        {% endwith %}
                        <a class="more" href="{% url category_city_listing category_name="zycie-nocne" city_slug=request.session.area.slug %}">{% trans "See more" %}</a>
                    </td>
                    <td>
                        <h2>{% trans "Entertainment" %}</h2>
                        {% with best.entertainment as items %}
                            {% include "include/best.html" %}
                        {% endwith %}
                        <a class="more" href="{% url category_city_listing category_name="rozrywka-i-sztuka" city_slug=request.session.area.slug %}">{% trans "See more" %}</a>

                    </td>

                </tr>


            </table>