{% extends "base.html" %}{% load i18n %}
{% block sidebar %}
<ul class="right-menu">
<li><a href="{% url guide_whatisneib %}">{% trans "What is neib?" %}</a></li>
<li><a href="{% url guide_unlock %}">{% trans "Claim ownership" %}</a></li>
<!-- >li><a href="{% url guide_using %}">Jak korzystać z konta właściciela?</a></div -->
<li><a href="{% url guide_advs %}">{% trans "Ads" %}</a></li>
<li><a href="{% url guide_faq %}">{% trans "Frequently asked questions" %}</a></li>
<li><a href="{% url generic_page 'onas' %}">{% trans "Contact" %}</a></li>
</ul>
{% endblock %}