{% extends "businessownersguide/base.html" %}
{% block content %}
<h2>Co to neib?</h2>
Każdego dnia Twoi potencjalni klienci szukają opinii w internecie. neib to jedyny w swoim rodzaju portal społecznościowy, w ramach którego użytkownicy dzielą się informacjami oraz opiniami.<br />
<font style="weight: bold;">neib to wyjątkowy przewodnik po Warszawie.</font> To tu Warszawiacy dowiadują się gdzie dobrze zjeść, gdzie się bawić, gdzie oddać zegarek do naprawy, gdzie zrobić zakupy. A dzięki neib dowiedzą się o Tobie.
<div style="text-align: center; "><img style="padding: 5px; margin: 5px; border: 1px #dddddd solid;" src="{{ MEDIA_URL }}gfx/guide/co-to-neib.jpg" width="450" height="338" /></div>
<h3>Darmowy pakiet neibStandard</h3>
Neib proponuje darmowy pakiet reklamowy neibstandard dla firm, które chciałyby promować swoją działalność w dynamicznie rozwijającym się, opiniotwórczym portalu neib.org<br />
<br />Dołącz za darmo!<br /><br />
Pakiet neibstandard obejmuje bezpłatną edycję danych o firmie.
<ul>
	<li>Edycja szczegółowych informacji: historii, oferty, godzin otwarcia</li>
	<li>Dodawanie promocji i aktualnych wydarzen</li>
	<li>Dostęp do statystyk firmy</li>
	<li>Możliwość dodania 5 zdjęc</li>
</ul>
Jeśli Twoje wymagania są wyższe i chcesz skuteczniej promować swoją działalność, z pewnością zainteresują Cię rozszerzone abonamenty przygotowane dla właścicieli firm.
<h3>Dlaczego pokochasz neib?</h3>
Chciałbyś dowiedzieć się, co myślą o Tobie klienci? Zastanawiasz się jak polepszyć funkcjonowanie swojego biznesu i zapewnić sobie przyszłościowy rozwój? Chcesz znaleźć nowych klientów?<br />
<br />
Portal neib.org może pochwalić się stale rosnącą liczbą odwiedzin oraz szybkim wzrostem liczby recenzji. Neib to idealne miejsce na reklamę Twojej firmy, jeśli chcesz pozyskać nowych, aktywnych klientów. Przygotowaliśmy specjalne pakiety dostosowane do Twoich indywidualnych potrzeb.

{% endblock %}
