{% extends "businessownersguide/base.html" %}
{% block content %}
<h2>Przejmij stronę w neib.org</h2>
Aby korzystać z naszych narzędzi wystarczy znaleźć swój lokal w bazie (lub dodać go korzystając z przycisku na górze), zgłosić się jako właściciel i odebrać telefon od nas. 
<strong>To bardzo proste!</strong>
<div style="text-align: center; "><img style="padding: 5px; margin: 5px; border: 1px #dddddd solid;" src="{{ MEDIA_URL }}gfx/guide/przejecie-strony.jpg" width="450" height="338" /></div>

{% endblock %}
