{% extends "businessownersguide/base.html" %}
{% block content %}
<h2>Reklama</h2>
Neib.org to profesjonalne narzędzie reklamowe, które oprócz funkcjonalności darmowawego pakietu oferuje szeroki wachlarz możliwości promocyjnych. To propozycja dla firm, które chcą rozwijać swoją działalność
i pozyskać nowych klientów.<br /><br />

Oferta obejmuje m.in.:
<ul><li>Link sponsorowany w ramach wyników wyszukiwarki</li>
<li>Reklama na stronie wybranej kategorii</li>
<li>Reklama ofert specjalnych i promocji na stronie głównej</li>
<li>Możliwość wyboru ulubionej recenzji</li>
<li>Brak reklam konkurencji na stronie firmy</li>
<li>Reklama na stronie głównej w ramach kategorii polecane przez użytkowników</li>
<li>Reklama na stronach konkurencyjnych firm</li>
<li>Możliwość dodania 500 zdjęc</li>
</ul>

<h3>REKLAMA U KONKURENCJI.</h3>
Dzięki tej opcji na stronach profilowych konkurencji regularnie pojawia się ogłoszenie Twojej firmy, zachęcające użytkowników do skorzystania z Twoich usług.

<h3>WYBÓR ULUBIONEJ RECENZJI.</h3>
Dzięki tej usłudze możesz wybrać jedną, wyróżniająca się, pozytywną recenzję, która zostanie wyświetlona jako pierwsza na stronie Twojej firmy.

<h3>LINK SPONSOROWANY W WYNIKACH.</h3>
Link sponsorowany to forma reklamy. Twoja firma zostanie wyświetlona jako pierwsza, na wyróżniającym się, kolorowym tle w ramach wyników wyszukiwania.

<h3>WYŁĄCZENIE REKLAM KONKURENCJI.</h3>
Pakiet neibPremium ukrywa reklamy konkurencji i w rezultaciekupia całą uwagę użytkownika na Twojej firmie.

{% endblock %}
