{% extends "base.html" %}

{% block content %}
	<form action="" method="POST">{% csrf_token %}
	<table>
	{{ form }}
	<tr><td colspan="2"><input type="submit"/></td></tr>
	</table>
	{% if errors %}<div class="errors">{{ errors }}</div>{% endif %}
	</form>
{% endblock %}