{% extends "base.html" %}

{% block content %}
	{% if error %} <b style='color: red;'>{{error}}</b> {% endif %}
	<form action="" method="POST"> {% csrf_token %}
	<table>
		{% for contact in contacts %}
			<tr>
				<td><input type="checkbox" name="contacts" value="{{contact.address}}"/></td>
				<td>{{contact.name|default_if_none:""}}</td>
				<td>{% if contact.extra %}<code>{{contact.extra}}</code>{% endif %}</td>
			</tr>
		{% endfor %}
	</table>
	<input type="submit" value="Wyślij"/>
	</form>
	{% if errors %}<div class="errors">{{ errors }}</div>{% endif %}
{% endblock %}