<html>
<head><title></title></head>
<body>
Twój znajomy chciałby/aby zaprosić Cię do skorzystania z serwisu neib.org:</br>
{{message}}
<div class="footer">Wiadomość rozesłana z serwisu neib.org</div>
</body>
</html>