{% extends "base.html" %}

{% block content %}
Wybierz serwis, z którego chcesz pobrać kontakty
	<ul>
		<li><a href="{% url invitation_auth provider='google' %}">GMail</a></li>
		<li><a href="{% url invitation_auth provider='grono' %}">Grono.net</a></li>
		<li><a href="{% url invitation_auth provider='amorki.pl' %}">@amorki.pl</a></li>
        <li><a href="{% url invitation_auth provider='autograf.pl' %}">@autograf.pl</a></li>
        <li><a href="{% url invitation_auth provider='buziaczek.pl' %}">@buziaczek.pl</a></li>
        <li><a href="{% url invitation_auth provider='gazeta.pl' %}">@gazeta.pl</a></li>
        <li><a href="{% url invitation_auth provider='go2.pl' %}">@go2.pl</a></li>
        <li><a href="{% url invitation_auth provider='interia.pl' %}">@interia.pl</a></li>
        <li><a href="{% url invitation_auth provider='neostrada.pl' %}">@neostrada.pl</a></li>
        <li><a href="{% url invitation_auth provider='o2.pl' %}">@o2.pl</a></li>
        <li><a href="{% url invitation_auth provider='onet.eu' %}">@onet.eu</a></li>
        <li><a href="{% url invitation_auth provider='op.pl' %}">@op.pl</a></li>
        <li><a href="{% url invitation_auth provider='poczta.fm' %}">@poczta.fm</a></li>
        <li><a href="{% url invitation_auth provider='poczta.onet.eu' %}">@poczta.onet.eu</a></li>
        <li><a href="{% url invitation_auth provider='poczta.onet.pl' %}">@poczta.onet.pl</a></li>
        <li><a href="{% url invitation_auth provider='poczta.wp.pl' %}">@poczta.wp.pl</a></li>
        <li><a href="{% url invitation_auth provider='tlen.pl' %}">@tlen.pl</a></li>
        <li><a href="{% url invitation_auth provider='vp.pl' %}">@vp.pl</a></li>
        <li><a href="{% url invitation_auth provider='wp.pl' %}">@wp.pl</a></li>
	</ul>
Cenimy Twoją prywatność i zobowiązujemy się do zachowania wszelkiej ostrożności przy pobieraniu adresów. W szczególności Twoje
hasło nie będzie przez nas nigdzie przechowywane i skorzystamy z niego automatycznie, jedynie w celu pobrania kontaktów.

{% endblock %}