{% extends "base.html" %}

{% block content %}
	<form action="" method="POST">{% csrf_token %}
	Wiadomości będą rozesłane do:
	{% for contact in choice %}
		{{contact}}</br>
	{% endfor %}
	<table>
	{{ form }}
	<tr><td colspan="2"><input type="submit" value="Wyślij"/></td></tr>
	</table>
	{% if errors %}<div class="errors">{{ errors }}</div>{% endif %}
	</form>
{% endblock %}