{% extends "base.html" %}
{% block content %}
<h2>Często zadawane pytania</h2>
{% for question in faq %}
<h3>{{ question.question }}</h3>
<div style="padding: 5px; padding-top: 0px;">{{ question.answer|linebreaks }}</div>
{% endfor %}

{% endblock %}
