{% extends "doodadmin/base_with_sidebar.html" %}
{% block content %}
<br />

<h3>Witaj Jadziu</h3>
{% ifequal pending_doubles 0 %}
	<p>
	<h3><font color="green">Nie ma żadnych wykrytych dubli</font></h3>
	</p>
{% else %}
	<p><a href="/double/merge?pair_id={{ links.double }}">
	<h3>Zacznij usuwać duble (<font color="red">{{ pending_doubles }}</font>)</h3>
	</a>
	<blockquote>jest <font color="red">{{ pending_doubles }}</font> nowych potencjalnych par dubli</blockquote>
	</p>
{% endifequal %} 
{% ifequal pending_moderate 0 %}
	<p>
	<h3><font color="green">Nie ma żadnych lokali do moderowania</font></h3>
	</p>
{% else %}
	<p><a href="/business/details?id={{ links.moderation }}">
	<h3>Zacznij moderować dane (<font color="red">{{
	pending_moderate }}</font>)</h3>
	</a>
	<blockquote>jest <font color="red">{{ pending_moderate }}</font> nowych lokali do moderacji</blockquote>
	</p>
{% endifequal %} 
{% ifequal pending_verify 0 %}
	<h3><font color="green">Wszystkie lokale są zweryfikowan</font></h3>
{% else %}
	<p><a href="{% url doodadmin_business_details links.verification %}">
	<h3>Zacznij weryfikować dane (<font color="red">{{ pending_verify }}</font>)</h3>
	</a>
	<blockquote>jest <font color="red">{{ pending_verify }}</font> nowych lokali do weryfikacji</blockquote>
	</p>
{% endifequal %} 
{% endblock %} 
{% block sidebar %}
	<br />
	<br />
	<h4>Ostatnia aktywność:</h4>
	<blockquote>{{ last_activity|date:"r" }}</blockquote>
	<br />
	<h4>Ostatnie przeliczanie dubli:</h4>
	<blockquote>{{ last_double_count|date:"r" }}</blockquote>
	<br />
	<h4>aktualna wersja oprogramowania:</h4>
	<blockquote>1.00 alpha</blockquote>
{% endblock %}