{% extends "doodadmin/base_with_sidebar.html" %}
{% block content %}

<h2>Logowanie do systemu:</h2>

<form method="post" action="{% url django.contrib.auth.views.login %}">
{% csrf_token %}
<table>
	<tr>
		<td>{{ form.username.label_tag }}</td>
		<td>{{ form.username }}</td>
	</tr>
	<tr>
		<td>{{ form.password.label_tag }}</td>
		<td>{{ form.password }}</td>
	</tr>
	<tr>
		<td></td>
		<td align="right"><input type="submit" value="login" /> <input
			type="hidden" name="next" value="{{ next }}" />
		</form>
		</td>
	</tr>
</table>
{% if form.errors %}
<p><font color="red">Niepoprawne hasło lub login.</font></p>
{% endif %} {% endblock %} {% block sidebar %} {% endblock %} {% block menu %} {% endblock %}