{% extends "base.full.html" %}{% load i18n %}
{% block title %}{% trans "Forum" %}{% endblock %}
{% load pagination_tags %}
{% block content %}
<style>
table#talks, table#talk-details
{
	width: 100%;
	cell-spacing: 0px;
	padding: 2px;
	border-collapse: collapse; 
}
table#talks tr th, table#talk-details tr th
{
	color: #c82810;
	font-size: 13px;
	padding-bottom: 5px;
}
table#talks tr td, table#talk-details tr td
{
	border-top: 1px solid #e5e5e5;
	height: 60px;
	vertical-align: middle;
	border-spacing: 0px;
	margin: 0px;
}
table#talk-details tr td {
	height: auto;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}
table#talks tr td.author, table#talks tr td.replies, table#talks tr td.date, table#talk-details tr td.author
{
	text-align: center;
}
table#talks tr td.author img {
	border: 0px;
}
table#talk-details div.date {
	font-size: 11px;
	color: #555555;
	padding-top: 5px;
}
div#talk-categories a {
	display: block;
	padding: 5px;
}


</style>
<h2>{% trans "Forum" %}</h2>
<a href="{% url forum_thread_add %}">{% trans "Start new conversation" %}</a><br>
<div class="hr"></div>
<div style="width: 150px; float: left">
<h3>{% trans "Categories" %}</h3>
<div id="talk-categories">
<a href="{% url forum_thread_list %}">{% trans "All" %}</a>
{% for item in categories %}
    <a href="{% url forum_category item.id %}">{% trans item.name %}</a>
{% endfor %}</div>
</div>
<div style="width: 810px; float: right; border-left: 1px solid #c5c5c5; padding-left: 10px;">
{% block forum-content %}
{% endblock %}
</div>
<div class="clean"></div>
{% endblock %}

