{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "New conversation" %}{% endblock %}
{% load pagination_tags %}
{% block content %}
<h2>{% trans "New conversation" %}</h2>
<form class="form-standard" action="" method="post">{% csrf_token %}
    <table>
        {{ form.as_table }}
        {{ form_post.as_table }}
    </table>
    <input class="submit" type="submit" value="{% trans "Add" %}">
</form>
{% endblock %}

