{% extends "forum/base.html" %}{% load i18n %}
{% load pagination_tags %}
{% block forum-content %}
<table id="talks">
 <tr>
  <th style="width: 110px">{% trans "Author" %}</th>
  <th style="width: 500px">{% trans "Subject" %}</th>
  <th style="width: 50px">{% trans "Answers" %}</th>
  <th style="width: 150px; text-align: center">{% trans "Last change" %}</th>
 </tr>
{% autopaginate threads 10 %}
{% for item in threads %}
{% if item.first_post %}<tr>
 <td class="author"><a href="{% url profile item.first_post.user.id %}"><img alt="{{ item.first_post.user.profile }}" title="{{ item.first_post.user.profile }}" src="{{ item.first_post.user.profile.photo.get_thumbnail_url }}"></a></td>
 <td><a href="{% url forum_thread_details item.id %}">{{ item }}</a></td>
 <td class="replies">{{ item.replies }}</td>
 <td class="date">{% blocktrans with time=item.date|timesince %}{{ time }} ago{% endblocktrans %}</td>
</tr>{% endif %}
{% endfor %}
{% paginate %}</table>
{% endblock %}