{% load socialregistration_tags %}
{% comment %}
<fb:login-button autologoutlink="true" perms="email,user_birthday,status_update,publish_stream"></fb:login-button>
{% endcomment %}

<form class="connect-button" style="display: inline" method="post" action="{% if logged_in %}{% url facebook_connect %}{% else %}{% url facebook_login %}{% endif %}">
{% social_csrf_token %}
{% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
{% endif %}
<input type="image" style="vertical-align: middle;" onclick="facebookConnect(this.form);return false;" src="{{ request.MEDIA_URL }}gfx/fb-connect.png" />
</form>
