	<div class="short-rev">

	<div style="float: left; width: 70px; text-align: center;">
	<a href="{{ item.get_absolute_url }}"><img width="50" height="50" alt="" title="" src="{{ item.gallery.get_representative_photo.get_thumbnail_url }}"></a><br />
	</div>
	<a class="localname" href="{{ item.get_absolute_url }}">{{ item }}</a><br />
	{{ item.event_date|date:"l, j F, P" }}
    <div class="clean"></div>
    <br />
    
    </div>
    