{% load i18n %}<div class="full-biz">
	<div style="float: left; width: 70px; text-align: center;" class="translatable">
	<a href="{{ item.get_absolute_url }}"><img width="50" height="50" alt="{{ item }}" title="{{ item }}" src="{{ item.photo.get_thumbnail_url }}"></a>
	</div>
	<a style="font-weight: bold;" href="{{ item.get_absolute_url }}">{{ item.name }}</a><br />
    <div style="padding: 2px; font-style: italic;">{{ item.event_date|date:"l, j F, P" }}</div>
    {{ item.description|truncatewords:10 }}<br />
    <div class="clean"></div>
    <div class="hr"><!-- --></div>
</div>