{% load i18n %}	<div class="full-rev">

	<div style="float: left; width: 70px; text-align: center;">
	<a href="{% url business_detail item.business.slug %}"><img width="50" height="50" alt="{{ item.business }}" title="{{ item.business }}" src="{{ item.business.photo.get_thumbnail_url }}"></a>
	</div>
	<div class="title">{{ item.name }}</div>
    <div style="padding: 3px;" class="translatable">{{ item.description }}</div>
    <div style="padding: 3px;"><a href="{{ item.business.get_absolute_url }}">{{ item.business }}</a></div>
    <div class="date">{% blocktrans with time=item.date|timesince %}{{ time }} ago{% endblocktrans %}</div>
    
    <div class="clean"></div>
    
	{% if not forloop.last %}
	<div class="hr"><!--  --></div>
	{% endif %}
    </div>