{% load i18n %}
<!DOCTYPE html> 
<html> 
	<head> 
	<title>{% block title %}neib.org / mobile{% endblock %} / alfa</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
	<script>
//	$(document).bind("mobileinit", function() {
	      $.mobile.page.prototype.options.addBackBtn = true;
//	});
	</script>
	<style>
	</style>
</head> 
<body> 

<div data-role="page">

	<div data-role="header" data-theme="e">
		<h1>{% block header %}neib.org - mobile{% endblock %}</h1>
		<a href="/mobile/" class="ui-btn-right" data-icon="home" data-iconpos="notext"  data-direction="reverse">Home</a> 
	</div><!-- /header -->

	<div data-role="content">
		{% block content %}	
		<p>	
			<form>
			<table>
			{{ form.as_table }}
			</table>
			<input type="submit" value="{% trans "Find" %}" />
			</form>
		</p>		
		{% endblock %}	
	</div><!-- /content -->

</div><!-- /page -->


</body>
</html>
