{% extends "mobile/base.html" %}
{% load stars %}{% load i18n %}
{% block title %}{{ business }} - neib.org{% endblock %}
{% block header %}{{ business }}{% endblock %}
{% block content %}
<fieldset class="ui-grid-a">
	<div class="ui-block-a" style="width: 130px;"><img margin-right: 5px;" src="{{ business.photo.get_urls.medium }}" width="110" height="110" /></div>
	<div class="ui-block-b">{% stars business.rating %}<br />
{{ business.address }}<br />
{{ business.zip }} {{ business.city }}<br />
{% if business.phone %}<br /><a href="tel:{{ business.phone }}">{{ business.phone }}</a><br />{% endif %}</div>	   
</fieldset>

<h3>{% trans "Reviews" %}</h3>
<ul data-role="listview">{% for item in business.review_set.all %}
<li style="padding-left: 65px;">
<img style="padding: 5px;" src="{{ item.user.profile.photo.get_urls.thumbnail }}">
{% stars item.rating %}
<p style="white-space: normal; padding-top: 25px;">{{ item.content }}</p>
</li>
{% endfor %}</ul>
{% endblock %}	
