{% extends "mobile/base.html" %}
{% load stars %}
{% block content %}
<div class="content-primary">	
	<ul data-role="listview">	
{% for item in businesses %}
			<li><a href="{% url mobile_business_details item.slug %}">
				<img width="80" height="80" src="{{ item.photo.get_urls.medium }}" />
				<h3>{{ item }} &nbsp; &nbsp; {% stars item.rating %}</h3>
				<p>{{ item.get_full_address }}</p>
			</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}	
