{% load i18n %}{% load thumbnail %}
<script type="text/javascript" src="{{ MEDIA_URL }}website/farbtastic/farbtastic.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}website/farbtastic/farbtastic.css" type="text/css" />

<!-- h2>{% trans "Select theme" %}</h2 -->
<h2>{% trans "Select background" %}</h2>
{% for background in backgrounds %}
	<img id="bg-id-{{ background.id }}" width="80" height="60" src="{{ background.url }}" />
{% endfor %}
<h2>{% trans "Select photo" %}</h2>
{% for banner in banners %}
	<img id="ph-id-{{ banner.id }}" width="80" height="20" src="{{ banner.url }}" />
{% endfor %}
<h2>{% trans "Select menu color" %}</h2>
<form><input type="text" id="color" name="color" value="#123456" /></form>
<div id="colorpicker"></div>

{% trans "Once you bought this site, you are able to add your own pictures as well." %}

<script type="text/javascript">
BACKGROUNDS = [
{% for background in backgrounds %}
'{{ background.url }}',
{% endfor %}
]
BANNERS = [
{% for banner in banners %}
'{{ banner.url }}',
{% endfor %}
]

$("img").click(function(){
   var type = $(this).attr("id").substring(0,2);
   if (type == "bg"){
      var i = $(this).attr("id").substring(6);
      $("body").css("background-image","url(" + BACKGROUNDS[parseInt(i)] + ")" );
   }
   else if (type == "ph"){
      var i = $(this).attr("id").substring(6);
      $("#main-photo").attr("src",BANNERS[parseInt(i)] );
   }
});

$("#color").change(function(){
	$("#main-menu").css("background-color",$(this).val());
	$("#main-photo").css("border-color",$(this).val());
	$("#outer-container").css("border-color",$(this).val());
});
</script>
