{% load i18n %}<form action='.'>
If you are owner of this venue you can buy this site for just 40euro/year. Contact us!

<form id="order-form" action="#" method="POST">
<table style="background: none; border: 0px;">
<tr><th>{% trans "Your e-mail" %}</th><td><input type="text" name="email"></td></tr>
<tr><th>{% trans "Your phone" %}</th><td><input type="text" name="phone"></td></tr>
<tr><th>{% trans "Message" %}</th><td></td></tr>
<tr><td colspan="2">
<textarea name="msg" style="width: 350px; height: 80px;"></textarea>
</td></tr>
</table>
<div style="text-align: center;"><input type="submit" value="{% trans "Send" %}" style="padding: 5px;"></div>
</form>

<script type="text/javascript">
$("form").submit(function(){
	var $inputs = $('form :input');
	var d = {};
    var values = {};
    $inputs.each(function() {
        values[this.name] = $(this).val();
    });
    
	$.get('submit/',values);
	return false;
});
</script>