{% extends "simple.base.html" %}
{% block title %}{% load i18n %}
{% trans "500 server error" %}
{% endblock %}
{% block body %}
{% trans "This page does not work properly but we are working on it!" %}<br />
{% trans "Please try some other subpages" %}
<br />
<ul>
	<li><a href="/wydarzenia/">{% trans "Current events" %}</a></li> 
	<li><a href="/rozmowy/">{% trans "Conversations" %}</a></li> 
	<li><a href="http://neib.org/kategoria/1/">{% trans "Nice restaurants" %}</a></li> 

</ul>
<div style="text-align: center"><img src="http://static.dood.pl/gfx/fatal-error.jpg" /></div>
{% endblock %}