{% load i18n %}{% load common_tags %}{% load facebook_tags %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <link rel="alternate" title="Mobile/PDA" href="/mobile/" type="text/html" media="handheld"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block fulltitle %}{% block title %}
        neib {{ request.session.area.full_name }}{% endblock %}{% endblock %}</title>
    <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}"/>
    <meta name="keywords"
          content="{% trans "mapy, adresy, telefony, zdjęcia, dojazd, szukaj opinii, opinie, oceny, komentarze, wypowiedzi klientów, recenzje, polecane, " %}{% block keywords %}{% trans "lokale, Warszawa, restauracje, gastronomia, sklepy, menu, fryzjer, solarium, uroda, usługi, handel, instytucje, urzędy, deweloperzy, szkoły, banki, hotele, lekarze, bary, puby, knajpy, zadowoleni, niezadowoleni, lokalizator internetowy" %}{% endblock %}"/>
    <meta name="description"
          content="{% block description %}{% trans "neib.org to pierwszy polski serwis społecznościowy przeznaczony do recenzowania lokali. Dzięki użytkownikom, którzy oceniają usługi w miejscu w którym aktualnie się znajdujesz, możesz wybrać lokal najbardziej odpowiadający Twoim preferencjom. Pisz recenzje i oceniaj, a nasz system automatycznie dobierze dla Ciebie lokale, zgodne z Twoim gustem!" %}{% endblock %}"/>
    <meta name="author" content="LEMONET"/>
    <meta name="copyright" content="LEMONET 2008"/>
    <link type="application/opensearchdescription+xml" rel="search" href="{{ 'xml/osdd.xml'|ADD_MEDIA_URL }}"/>
    <!-- CSS -->
    <link rel="SHORTCUT ICON" href="{{ 'gfx/favicon.ico'|ADD_MEDIA_URL }}"/>
    {% load compressed %}{% compressed_css 'screen' %}
    {% compressed_css 'print' %}
    <!-- JS -->
    <style>
        #mainmenu ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: inline-block;
        }

        #mainmenu ul li {
            display: inline;
            padding-right: 5px;
            padding-left: 5px;
            font-weight: bold;
            font-size: 13px;
        }

        #mainmenu ul li a {
            color: #432628;
        }
    </style>
    <script type="text/javascript">
        // SETUP VARIABLES
        var MEDIA_URL = "{{ MEDIA_URL }}";

        searchParams = {}
        searchParams["what"] = '{{ search.what }}';
        searchParams["where"] = '{% if search.where %}{{ search.where }}{% else %}{{ request.session.area.full_name }}{% endif %}';
        searchParams["category"] = {% if search.category %}'{{ search.category }}'{% else %}0{% endif %};
        searchParams["page"] = 1;
        searchParams["pagination"] = 1;
        searchParams["bounds"] = 0;
        searchParams["top"] = 0;
        searchParams["bottom"] = 0;
        searchParams["left"] = 0;
        searchParams["right"] = 0;
        searchParams["request_id"] = 1;

        var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
        var categories = new Array();
        {% for item in categories_all %}categories[{{ item.id }}] = '{{ item }}'; {% endfor %}

        var currentUser = {
            photoId:'{{ request.user.profile.photo.id }}',
            id:'{{ request.user.id }}',
            fullname:'{{ request.user.profile }}',
            profileUrl:'{% if request.user.id %}{% url profile request.user.id %}{% endif %}',
        };
        var selectedUser = {
            id:'{{ selecteduser.id }}',
            fullname:'{{ selecteduser.profile }}',
            profileUrl:'{% if selecteduser %}{% url profile selecteduser.id %}{% endif %}',
            photoId:'{{ selecteduser.profile.photo.id }}',
        };
        var selectedBusiness = {
            id:'{{ business.id }}',
            latitude: {{ business.latitude|default:"0" }},
            longitude: {{ business.longitude|default:"0" }}
        };
        var selectedEvent = {
            id:'{{ event.id }}',
            latitude: {{ event.business.latitude|default:"0" }},
            longitude: {{ event.business.longitude|default:"0" }}
        };
        var currentSite = {% if ownership %}ownership
        {% else %}{% if category_path %}'category'
        {% else %}{% if business %}'business'
        {% else %}{% if event %}'event'
        {% else %}{% if search %}'search'
        {% else %}{% if gallery %}'gallery'
        {% else %}'other'{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %};
    </script>
    {% block head %}
        <meta property="og:image" content="{{ 'gfx/logo-mail.gif'|ADD_MEDIA_URL }}"/>
    {% endblock %}
    {% block header %}{% endblock %}
    <meta name="google-site-verification" content="qry1F5pZcRR_HEqm8SIMOIwUPJkSagWn0pShnGPhiLY"/>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23968296-1']);
        _gaq.push(['_setDomainName', '.neib.org']);
        _gaq.push(['_setCustomVar', 1, 'User Status', '{% if request.user %}logged{% else %}anonymous{% endif %}', 2]);
        _gaq.push(['_setCustomVar', 2, 'User ID', '{{ request.user.id }}', 2]);
        _gaq.push(['_setCustomVar', 3, 'StatRecommendationVersion', '{{ request.session.stat_recommendation_ver }}', 2]);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>{% facebook_js %}
<div id="head" class="{% if index_page %}head-index{% else %}head-normal{% endif %}">
<div class="container">
    <div id="headbar">
        <a href="/{% ifnotequal request.session.area.slug "warszawa" %}{{ request.session.area.slug }}/{% endifnotequal %}"><img
                width="112" height="39" src="{{ 'gfx/head-logo-neib.gif'|ADD_MEDIA_URL }}" id="head-logo" alt="neib.org"
                style="margin-right: 4px;"/></a>

        <div id="head-menu" class="{% if index_page %}head-menu-index{% else %}head-menu-normal{% endif %}">
            {% block head-search %}
                <form class="form-search-top" id="form-search-top" action="{% url business_search %}" method="get">
                    {% trans "What?" %} <input name="co" id="search-co" type="text" value="{{ search.what }}">
                    &nbsp;{% trans "Where?" %}
                    <input name="gdzie" id="search-gdzie"
                           value="{% if search.where %}{{ search.where }}{% else %}{{ request.session.area.full_name }}{% endif %}"
                           id="s" type="text"/>
                    <input class="submit" type="submit" value="{% trans "search" %}">
                </form>&nbsp; &nbsp; &nbsp;
            {% endblock %}
            <div style="display: inline-block; width: 50px;"></div>
            {% if user.id %}<a href="{% url messages_inbox %}">{% trans "Messages" %}</a>
                &nbsp;|&nbsp;<a href="{% url profile_edit %}">{% trans "Edit profile" %}</a>
                &nbsp;|&nbsp;<a href="{% url profile_logout %}?next=/">{% trans "Logout" %}</a>
                {% else %}<a href="{% url registration_register %}">{% trans "Register" %}</a>
                &nbsp;|&nbsp;<a href="{% url profile_login %}?next={{ request.path }}">{% trans "Login" %}</a>
            {% endif %}
        </div>
        <div class="clean">
        </div>
    </div>
    <div id="mainmenu">
        <img width="9" height="28" src="{{ 'gfx/mainmenu-left.gif'|ADD_MEDIA_URL }}" alt=""/>
        <ul>
            <li><a href="/start/" style="font-weight: bold;">{% trans "Home" %}</a></li>
            <li>
                <a href="{% if user.id %}{% url profile user.id %}{% else %}{% url profile_login %}{% endif %}">{% trans "My profile" %}</a>
            </li>
            <li><a href="{% url home_search %}">{% trans "Search" %}</a></li>
            <li><a href="{% url business_add %}" title="{% trans "Add venue" %}"/>{% trans "Add venue" %}</a></li>
            <li><a href="{% url forum_thread_list %}">{% trans "Forum" %}</a></li>
            <li><a href="{% url events %}">{% trans "Events" %}</a></li>
            {% if request.user.get_profile.business_owner %}
                <li><a
                    href="{% url ownership_home request.user.get_profile.business_owner.slug %}">{% trans "Business owner" %}</a>
                </li>{% endif %}
        </ul>
        <img width="9" height="28" src="{{ 'gfx/mainmenu-right.gif'|ADD_MEDIA_URL }}"/>
    </div>
    
            <div id="change-city-text">

            <a id="change-country">{{ request.session.country.name }}</a>
            <div id="countries" class="shadow">
                <ul style="margin: 0; padding: 0; margin-left: 14px;">{% for country in countries %}
                    <li><a href="{% url home_city country.child.slug %}">{{ country }}</a></li>
                {% endfor %}</ul>
            </div>
            &gt;
            <a id="change-city">{{ request.session.area.name }}</a>
            <div id="cities" class="shadow">
                <ul style="margin: 0; padding: 0; margin-left: 14px;">{% for area in areas %}
                    <li><a href="{% url home_city area.slug %}">{{ area }}</a></li>
                {% endfor %}</ul>
            </div>
            &gt;
            <a id="change-lang">{% for lang in LANGUAGES %}{% ifequal lang.0 LANGUAGE_CODE %}{{ lang.1 }}{% endifequal %}{% endfor %}</a>

            <div id="langs" class="shadow">
                <ul style="margin: 0; padding: 0; margin-left: 14px;">{% for lang in LANGUAGES %}
                    {% ifequal lang.0 LANGUAGE_CODE %}
                        <li class="selected">{{ lang.1 }}</li>
                    {% else %}
                        <li><a href="http://{{ lang.0 }}.neib.org{{ request.get_full_path }}">{{ lang.1 }}</a></li>
                    {% endifequal %}
                {% endfor %}</ul>
            </div>
            <br/>


        </div>
        
    <div class="clean">
    </div>

    {% block search-box %}
    {% endblock %}
</div>
</div>
{% if notify %}
    <div class="notification ui-corner-all">
        <h2>{{ notify.title }}</h2>{{ notify.body }}
    </div>
{% endif %}
<div class="container">
    {% block main-container %}
        <div id="content">
            <div class="column-body">
                <!-- content -->
                {% block content %}
                {% endblock %}
            </div>
            <div style="text-align: center">
            	<a href="http://nogazpolaka.pl/konkurs/"><img src="http://nogazpolaka.pl/gfx/konkurs.mini.jpg" width="630" height="164" /></a>
            </div>
        </div>
        <div id="sidebar">
            <div class="inside">
                <div class="column-body">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    <div class="clean">
    </div>
</div>
<div id="foot">
    <div id="foot-inside"><a href="{% url feedback %}{{ request.get_full_path|slice:"1:" }}"><img alt="feedback"
                                                                                                  width="73" height="80"
                                                                                                  src="{{ MEDIA_URL }}gfx/feedback.png"/></a>
    </div>
    <a href="{% url about_us %}">{% trans "About us" %}</a>
    &nbsp;|&nbsp;<a href="{% url generic_page 'terms' %}">{% trans "Terms of use" %}</a>
    &nbsp;|&nbsp;<a href="http://code.google.com/p/dood-api/wiki/HowItWorks">{% trans "API for programmers" %}</a>
    &nbsp;|&nbsp;<!-- <a href="{% url guide_whatisneib %}">{% trans "For business owners" %}</a>
    &nbsp;|&nbsp; --><a href="{% url partners_index %}">{% trans "Partners" %}</a>
    &nbsp;|&nbsp;<a href="{% url feedback %}{{ request.get_full_path|slice:"1:" }}">{% trans "Feedback" %}</a>
    <!--&nbsp;|&nbsp;
            <a href="{% url generic_page 'reklama' %}">Reklama</a> &nbsp;|&nbsp;
            <a href="{% url generic_page 'rss' %}">RSS</a> &nbsp;|&nbsp;
            <a href="{% url generic_page 'mapa' %}">Mapa strony</a>-->
    <br/>
    {% trans "Copyrights &copy; 2009" %} <a href="/">neib.org</a>. {% trans "Made by" %} <a href="http://lemonet.eu/">LEMONET</a>.
</div>
<!-- SCRIPTS -->
<!-- compressed js -->
{% compressed_js 'all' %}
<!-- js include -->
{% block js_include %}{% endblock %}
<script type="text/javascript">$(document).ready(function () {
    {% block js_ready %}{% endblock %}
    $("#facebook-help").click(function () {
        messageBox("" +
                "Dzięki połączeniu neiba z facebookiem możesz z łatwością przeglądać recenzje Twoich znajomych. " +
                "Nie musisz już wyszukiwać wszystkich swoich przyjaciół - wystarczy kliknąć jeden guzik, a znajomi z facebooka, " +
                "którzy są już w neibie zostaną automatycznie dodani!<br /><br />" +
                "Z facebooka zostaną pobrane i przeniesione do neiba tylko:" +
                "<ul>" +
                "<li>Twój adres e-mail</li>" +
                "<li>Twoje zdjęcie</li>" +
                "<li>Lista Twoich znajomych</li>" +
                "</ul>" +
                "W każdej chwili możesz usunąć te dane z naszego serwisu." +
                "<br /><br /><h3>Co zrobić, żeby połączyć konta?</h3>" +
                "Wystarczy kliknąć ikonę facebooka. Jeśli już jesteś zalogowany to " +
                "konta facebookowe i neibowe zostaną połączone. Jeśli nie to " +
                "zostanie stworzony nowy profil." +
                "", "Połączenie neiba z facebookiem", 400, 340);
    });
});</script>
</body>
</html>
