{% extends "base.html" %}
{% block header %}
<style>
div#head {
	background-repeat: horizontal;
	width: 100%;
	border: 0px;
	background-image: none;
}
body {
	background: url('{{ MEDIA_URL }}gfx/head-bg-short.gif');
	background-repeat: repeat-x;
}
</style>
{% endblock %}
{% block main-container %}
	<div id="sidebar">
		<div class="inside">
  		<div class="column-body">
        {% block sidebar %}
        {% endblock %}
	    </div>
		</div>
	</div>
	<div id="content">
  		<div class="column-body">
		<!-- content -->
        {% block content %}
        {% endblock %}
	    </div>
	</div>
{% endblock %}
