{% extends "base.html" %}
{% block header %}
<style>
div#head {
	background-repeat: horizontal;
	width: 100%;
	border: 0px;
	background-image: none;
}
body {
	background: url('{{ MEDIA_URL }}gfx/head-bg-short.gif');
	background-repeat: repeat-x;
}
h2#username {
	vertical-align: top;
	height: 20px;
}
div#motto {
	font-style: italic;
	vertical-align: top;
	height: 20px;
	padding: 2px;
	color: #222222;
}
div#profile-menu {
	margin-bottom: 5px;
}
div#profile-menu a {
	background-color: #eeeeee;
	border: 1px solid #dddbce;
	border-bottom: 0px;
	color: #444444;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 1px;
}
div#profile-menu a.active {
	background-color: #ffffff;
	border: 1px solid #dddbce;
	border-bottom: 0px;
	color: #000000;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
}
div#sidebar-profile {
}
img#profile-img {
	border: 1px solid #eeebce;
}
</style>
{% endblock %}
{% block main-container %}
	<div id="sidebar">
		<div class="inside">
  		<div class="column-body">
        {% block sidebar %}
        {% endblock %}
	    </div>
		</div>
	</div>
	<div id="content">
  		<div class="column-body">
		<!-- content -->
        {% block content %}
        {% endblock %}
	    </div>
	</div>
{% endblock %}
