{% extends "base.full.html" %}
{% block content %}{% load i18n %}
<div style="line-height: 150%; width: 650px; margin: 0 auto; padding: 20px;">
<img style="float: right;" src="{{ MEDIA_URL }}gfx/not-exists.jpg" />
<h2>{% block errorname %}{% trans "404 error - page does not exist" %}{% endblock %} </h2>
{% block errorcontent %}{% trans "Unfortunately this page does not exists any more or even have never existed before" %}<br />
{% trans "But don't give up" %}<br />
{% trans "Our other pages are really cool:" %}<br />
<ul>
	<li><a href="/wydarzenia/">{% trans "Current events" %}</a></li> 
	<li><a href="/rozmowy/">{% trans "Conversations" %}</a></li> 
	<li><a href="http://neib.org/kategoria/1/">{% trans "Nice restaurants" %}</a></li> 
</ul>
{% endblock %}
</div>
{% endblock %} 