{% extends "base.html" %}
{% load i18n %}{% load common_tags %}

{% block head-search %}
{% endblock %}

{% block search-box %}
    <a href="{% url registration_register %}" style="display: block; padding-top: 20px; padding-bottom: 20px; vertical-align: middle; text-align: center; font-size: 20px; color: #C82810">
		 {% blocktrans with site='<strong>neib.org</strong>' %}
			{{ site }} is an easy way to share opinion with people from your neighbourhood!
		{% endblocktrans %}
		<strong>{% trans "Register now!" %}</strong>
    </a>
    <div id="search-box">
    <div id="form">
        <form class="form-search-main" action="{% url business_search %}" method="get">
            <span class="question">{% trans "What?" %}</span>
            <img width="8" height="35" src="{{ 'gfx/editbox-left.gif'|ADD_MEDIA_URL }}" alt=""/><input name="co" type="text"><img width="21" height="35" src="{{ MEDIA_URL }}gfx/editbox-noarrow.gif" alt=""/>

            <span class="question">{% trans "Where?" %}</span>
            <img width="8" height="35" src="{{ 'gfx/editbox-left.gif'|ADD_MEDIA_URL }}" alt=""/><input name="gdzie" value="{{ request.session.area.full_name }}" id="s" type="text" /><img width="21" height="35" onclick="" src="{{ MEDIA_URL }}gfx/editbox-noarrow.gif"/>
            <input type="submit" style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin-left: 30px; width: 121px; background: none; background-color: #C82810; text-transform: uppercase; color: #FFFFFF" value="{% trans "search" %}">
        </form>
    </div>
    <div id="desc-container">
        <div id="left">{% trans "e.g. barber, pharmacy, groceries" %}</div>
        <div id="right">{% trans "e.g. London, 02-155, central station" %}</div>
        <div class="clean"></div>
    </div>
    </div>
{% endblock %}

{% block content %}
	{% comment %}
    <!-- a href="{% url competition %}"><img src="{{ MEDIA_URL }}gfx/banner-competition.gif" /></a -->
	{% endcomment %}

    <div id="categories">
        <h2>{% trans "Search by category" %}</h2>
        {% include "include/categories.html" %}
    </div>

    <div id="bestbiz">
        <div class="inside">
            {% include "include/tops.html" %}
        </div>
    </div>
    <div class="clean"></div>

    {% include "include/neiborhood.html" %}


{% if business_sponsored %}
<div class="hr"><!--  --></div>
{% with business_sponsored as item %}
{% include "include/sponsored.html" %}
{% endwith %}
{% endif %}

    <!-- >div id="mailing">
    <div class="hr"></div>
        <a href="{% url profile_preferences_edit %}"><img width="611" height="50" src="{{ 'gfx/banner-mailing1.gif'|ADD_MEDIA_URL }}" alt="Mailing neib.org"/></a-->
    

    <div class="hr"><!-- --></div>
    <div id="newrevs">
        <div class="inside">
            <h2>{% trans "Recent reviews" %}</h2>
            {% for item in reviews %}
                {% include "include/review.on.main.html" %}
                {% empty %}
                {% trans "There are no reviews in this neighbourhood. Give good example. Review sth!" %}<br /><br />
            {% endfor %}
        </div>
    </div>
    <!--div class="clean"></div>
    < >a href="{% url iphone_emulator %}">
        <img width="662" height="38" src="{{ 'gfx/banner-mdood.gif'|ADD_MEDIA_URL }}" alt="Wypróbuj naszą aplikację na komórkę"/>
    </a -->
{% endblock %}

{% block sidebar %}

<!-- sidebar -->
    {% if best_reviews %}
        <h2>{% trans "Review of the week" %}</h2>
        {% for item in best_reviews %}
            {% include "include/review.short.html" %}
        {% endfor %}
    {% endif %}
    {% comment %}
    <!-- >div id="banner-friends"><img src="{{ MEDIA_URL }}gfx/banner-friends.gif"></div-->
    {% endcomment %}
    <div class="separator-20px"><!-- --></div>
    {% if promotions %}
        <h2>{% trans "Bargains" %}</h2>
    {% for item in promotions %}
        {% include "include/promotion.short.html" %}
    {% endfor %}
    {% endif %}
    
    
    {% comment %}
    <h2>{% trans "Most active users" %}</h2>
    {% for item in best_users %}
 	 	<div>
 	 		<a style="float: left; margin-right: 5px;" class="user-new" href="{% url profile item.id %}"><img width="50" height="50" class="user-short" src="{{ item.get_profile.photo.get_thumbnail_url }}"></a>
 	 		<a href="{% url profile item.id %}">{{ item.profile }}</a><br />
 	 		<div>{{ item.profile.get_current_points }} {% trans "points" %}</div>
 	 		<div class="clean"></div>
		</div>
    {% endfor %}
    <a href="{% url competition %}">{% trans "Read more" %}</a-->
    
    <div class="separator-8px"></div -->

	<div class="separator-20px"><!- -></div>
    <h2>{% trans "Lists" %}</h2>
    {% for item in business_lists %}
	    {% include "include/businesslist.short.html" %}
        {% empty %}
        {% trans "There are no lists in this neighbourhood" %} <a href="{% url business_list_add %}">{% trans "Build your own list" %}</a>
    {% endfor %}
    {% endcomment %}

    <div class="separator-20px"><!-- --></div>
    <h2>{% trans "Forum" %}</h2>
    {% if posts %}
        {% for item in posts %}
		    {% include "include/talk.html" %}
   		{% endfor %}
        <br />
        <a href="{% url forum_thread_list %}">{% trans "Read more" %}</a>
    {% else %}
    	{{ request.session.area }}... {% trans "Is there really nothing to talk about?" %}<br /><a href="{% url forum_thread_add %}">{% trans "Share your knowledge on forum" %}</a>
    {% endif %}
    {% include "include/ads.html" %}
    <br /><h2>{% trans "Events" %}</h2>
    {% for item in events %}
	    {% include "include/event.short.html" %}
    {% endfor %}
    {% if events %}
        <a href="{% url events %}">{% trans "Read more" %}</a>
    {% else %}
        {% trans "No events in this neighbourhood?" %}<br />
        <a href="{% url events_add %}">{% trans "Add event" %}</a>
    {% endif %}
    {% include "include/facebook.likebox.html" %}

{% endblock %}
