<!-- div style="width: 282px; height: 310px"><div id="map_canvas" style="width: 282px; height: 300px"></div></div -->
<img width="282" height="310" style="border: 1px solid #CCC" src="http://maps.google.com/maps/api/staticmap?center={{ business.latitude }}%2C{{ business.longitude }}&language=fr&zoom=15&markers=shadow%3Atrue%7Cicon%3Ahttp%3A%2F%2Fstatic.neib.org%2Fgfx%2Fmarker.checked.png%7C{{ business.latitude }}%2C{{ business.longitude }}&sensor=false&size=283x310" />