{% load absurl %}<html>
<head>
<base href="http://neib.org/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<style>
a { text-decoration: none; color: #086c9a; }
a:hover { text-decoration: underline; }
</style>
</head>
<body style="font-family: Verdana; font-size: 12px; text-align: center;">
<div style="text-align: center; width: 600px; margin: 5px auto; ">
<div style="width: 600px; text-align: left;">
	<div style="background-image: url('http://static.dood.pl/gfx/newsletter-head.png'); background-color: #e30502; height: 38px; color: #ffffff;">
		<div style="float: left; padding: 4px; font-size: 22px; padding-left: 5px; font-weight: bold; "><a style="color: #ffffff; text-decoration: none;" href="http://neib.org/">neib.org</a> <font style="font-weight: normal">// {% block title %}{% endblock %}</font></div>
	</div>
	<div style="padding: 5px; line-height: 150%; color: #444444">
		{% block body %}{% endblock %}
	</div>
		<div style="clear: both; height: 10px"><!-- --></div>
		<div style="border-top: 1px solid #dbdcca; "><!-- --></div>
		<div style="color: #dddddd; font-size: 11px; text-align: center; padding: 5px;">
			<font style=" ">copyrights neib.org</font>
		</div>
</div>
</div>
</body>
</html>