{% extends "base.full.html" %}
{% block content %}
<h1>Partnerzy</h1>
<div style="padding-left: 50px; padding-right: 50px;">
{% for item in partners %}
	<div style="margin-bottom: 50px;">
		<div style="width: 350px; padding-top: 40px; text-align: center; float: left"><a href="{{ item.url }}"><img src="{{ MEDIA_URL }}{{ item.photo }}" /></a></div>
		<div style="width: 500px; float: right"><h3>{{ item.name }}</h3>
		{{ item.description|linebreaks }}
		<a href="{{ item.url }}">Zobacz stronę</a>
		</div>
		<div style="clear: both;"></div>
		
	</div>
{% endfor %}
</div>
{% endblock %}


