{% extends "email.base.html" %}
{% block title %}powiadomienie{% endblock %}
{% block body %}
Ktoś odpowiedział na Twój komentarz:<br />
<br />
{{ comment.body }}<br />
<br />
<a href="{{ comment.thread.get_absolute_url }}">Zobacz rozmowę</a>
<br />
<a href="{% url profile_preferences_edit %}">Ustawienia powiadomień</a>
{% endblock %}