/* HELPERS */
.hidden {
	display: none;	
}
.left {
	float: left;
}
.right {
	float: right;
}
div.clean{
	clear: both;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.sprite {
    display: inline-block; position: relative;
}
#categories-list .sprite {
    top: 3px; margin-top: 1px; margin-right: 4px;
}

.badge {
    display: inline-block;
    text-decoration: none;
    border: 0px solid #A81800;
    cursor: pointer;
    margin: 2px;
    background-color: #890300;
    color: #FFF;
    font-size: 13px;
    padding-bottom: 4px;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius: 6px;
    vertical-align: middle;
}
.badge:hover {
    background-color: #e80401;
    text-decoration: none;
}
a.page {
    margin-left: 4px;
    margin-right: 4px;
}

/* DEFAULTS */
body { 
	margin: 0; /* sets all to 0 */ 
	padding: 0; /* think Opera sets padding on body */ 
	text-align: center;
    color: #333333; 
}
body,div,td,input {
	color: #555;
	font-size: 12px;
	line-height: 133%;
	font-family: Tahoma, Verdana, 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
}
img {
	border: 0px;
}
a {
	text-decoration: none;
	color: #086c9a;
}
a:hover {
	text-decoration: underline;
}
h1,h2,h3 {
	color: #c82810;
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
	padding-bottom: 8px;
	padding-top: 8px;
}
h1 {
	font-size: 16px;
}
h2 {
	font-size: 15px;
}
h3 {
	font-size: 13px;
}

h4 {
    color: #c82810;
    font-size: 13px;
    padding: 0em 1em 1em 1em;
    margin: 0px;
    text-decoration:underline;
}
div.hr {
	margin-top: 3px;
	margin-bottom: 3px;
	margin: 7px;
	
	background-color: #c5c5c5;
	height: 1px;
}
div.hr-nomargin {
	margin-left: 7px;
	margin-right: 7px;

	background-color: #c5c5c5;
	height: 1px;
}
div.full-biz {
	padding: 5px;
}
div.icons img, img.icon {
	position: relative;
	top: 4px;
	padding: 1px;
	border: 0px;
	margin-right: 6px;
}
a.spamflag {
	display: block;
	float: right;
	font-size: 11px;
	color: #909090;
	margin-right: 5px;
}
a.spamflag img {
	padding-right: 0px;
	position: relative;
	top: 6px;
}
input {
	font-family: Tahoma, Verdana, 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #222222;
	border: 1px solid #cccccc;
}
input.submit, input[type="submit"] {
	font-family: Tahoma, Verdana, 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #222222;
	border: 1px solid #cccccc;
	background-color: #f3f3f3;
	text-align: center;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}
input[type="submit"][disabled] {
	color: #aaaaaa;
}


/* HEADER */
div#cities, div#countries, div#langs {
	text-shadow: 1px 1px 1px #dddddd; display: none; float:right; width: 90px; text-align: left; position: absolute; z-index:10; padding: 5px; background-color: #ffffff; border: 1px solid #dddddd;
}
div#change-city-text, div#change-country-text, div#change-lang-text {
	font-weight: bold; float: right; padding-top: 12px;
}
a#change-city, a#change-country, a#change-lang {
	cursor: pointer;
}
div#head {
	background-repeat: horizontal;
	width: 100%;
}
div.container {
	width: 984px; /* should be 984px. ie problem */
	margin: 0 auto;
	text-align: left;
}
div.container div#full-width {
	padding: 5px;	
}
div#headbar {
	/*background: url('gfx/head-bar.png'); */	/*SPRITE*/ 
	background-image: url('/gfx/sprite-main.png');
	background-position: -10px -10px;
	background-repeat: no-repeat;
	height: 39px;
	position: relative;
}
img#banner-top {
	margin-top: 5px;
	margin-bottom: 7px;
}
img#head-logo {
	margin-left: 10px;
	float: left
}

div.head-index {
	background: url('/gfx/head-bg.gif');
	height: 244px;
	border: 0px;
}
div.head-normal {
	background: url('/gfx/head-bg.gif');
	height: 90px;
	border-bottom: 1px solid #dddbce;
}

/* MAIN-SEARCH */
div#search-box {
	margin-top: 2px;
	margin-bottom: 0px;
	/*background-image :url('gfx/search-box.png');*//*SPRITE*/
	background-image: url('/gfx/sprite-main.png');
	background-position: -10px -69px;
	background-repeat: no-repeat;
	width: 984px;
	height: 98px;
}
div#search-box input {
	/*background-image: url('gfx/editbox-bg.gif');*//*SPRITE*/
	background-image: url('/gfx/sprite-main.png');
	background-position: -10px -187px;
	background-repeat: no-repeat;
	border: 0px;
	height: 33px;
	width: 269px;
	font-size: 20px;
	color: #686868;
	line-height: 150%;

	vertical-align: middle;
/*	vertical-align: middle;*/
}
form#form-search-top input[name=co]{
	width: 120px;	
}
form#form-search-top input[name=gdzie]{
	width: 120px;	
}
div#search-box img {
	vertical-align: top;
}
div#search-box span.question {
	position: relative;
	top: 8px;
	font-size: 16px;
	font-weight: bold;
	color: #46130f;
	margin-left: 20px;
    margin-right: 6px;
}
div#search-box div#form {
	padding-top: 25px;
	padding-left: 40px;
}
div#search-box input#search {
	/*background-image: url('gfx/button-search.gif');*//*SPRITE*/
	background-image: url('/gfx/sprite-main.png');
	background-position: -10px -242px;
	width: 121px;
	margin-left: 30px;
}
div#desc-container {
	position: relative; padding-top: 5px;
}
div#desc-container div {
	float: left; position: absolute; color: #a38901;
}
div#desc-container div#left {
	left: 100px; 
}
div#desc-container div#right {
	left: 483px; 
}


/* MENUS */
div#head-menu {
	float: right;
	padding-right: 15px;
	color: #ffffff;
	text-align: right;
}
div.head-menu-index {
	padding-top: 12px;
	padding-bottom: 0px;
}
div.head-menu-normal {
	padding-top: 5px;
	padding-bottom: 5px;
}

div#head-menu input {
	border: 1px solid #b70505;
	padding: 2px;
}
div#head-menu input.submit {
	border: 0;
	padding: 2px;
	color: #ffffff;
	font-weight: bold;
	background: none;
}

div#head-menu a {
	text-decoration: none;
	color: #ffffff;
}

div#head-menu-links {
	word-spacing: 1em;
	padding-left: 1.5em;
}
div#mainmenu {
	margin-top: 12px;
	margin-bottom: 4px;
	height: 28px;
	background-color: #e9eae2;
	float: left;
}
div#mainmenu img {
	vertical-align: middle;
}
a.additional-menu-button {
	position: relative; top: 2px;
}
div#facebook-login-box {
	float:right;padding-top:15px;	
}

/* FOOT */
div#foot {
	background-color: #fafaf2;
	width: 100%;
	height: 80px;
	border-top: 1px solid #f0f0e6;
	padding-top: 15px;
	text-align: center;
	line-height: 180%;
	color: #888;
	margin-top: 8px;
    z-index: 0;
    position: relative;
}
div#foot-inside {
	position: absolute; top: -10px; left: 70%;	
}
div#foot a {
	color: #888;
	text-decoration: none;
}


/* AREAS */
div#content {
	float: left;
	width: 683px;
}
div#sidebar {
	float: right;
	width: 300px;
}
div#sidebar div.inside {
	border-left: #dddbce 1px solid;
	padding-left: 5px;
}
div.column-body {
	padding: 0.5em;
	position: relative;
}

/* MAIN CONTENT COLUMNS */
div#content div#categories, div#content div#advs {
	float: left;
	width: 216px;
}
div#content div#categories div#categories-list {
	background-color: #fafaf2;
	padding: 5px;
	line-height: 150%;
}
div#content div#categories div#categories-list a {
	color: #432628;
}
div#content div#bestbiz {
	float: right;
	width: 450px;
}
div#facebook-like-box {
	text-align: center;
}

/* TODO WERSJA TYMCZASOWA: */
div#content div#newrevs {
	float: none;
	width: 100%;
}
div#content div#bestbiz div.inside, div#content div#newrevs div.inside {
	padding-left: 5px;
	padding-right: 5px;
}
img.user-short {
	margin-bottom: 5px;	
}

/* TALKS */
div.talk {
	padding: 2px;
	padding-left: 5px;
}
div.talk a {
	position: relative;
	top: 0px;
}

/* REVIEWS, BUSINESSES */
#based-on {	/* tekst "na podstawie * recenzji" */
	position: absolute; left: 100px; color: #aaaaaa;	
}
#photo-box {
	width: 300px;
	float: right;	
}
#business-promo {
	margin-bottom: 8px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #999999; color: #444444; margin-right: 60px; padding: 3px; margin-top: 8px; font-size: 10px;	
}
#business-promo .promo-name {
	font-weight: bold; font-size: 11px; padding: 2px; padding-top: 0px; color: #333333;
}
#business-promo .promo-added {
	font-size: 10px; color: #cccccc; text-align: right; padding: 2px;
}
#business-hours {
	font-size: 11px; margin: 4px;
}
#business-properties {
	background-color: #ffffff; margin: 5px; padding: 5px;
}
#business-properties table {
	width: 100%;
}
#business-properties table tr td {
	width: 33%; font-size: 11px; line-height: 150%;
}
.business-link-icon {
	position: relative; top: -4px;
}
.business-option-button {
	position: relative; top: -4px;
}
.reviews {
	padding: 0;
	margin: 0;
	list-style: none;
}
.region {
    margin-right: 5px;
}

.summary {
	display: none;	
}
div.best-review, div.review-short, div.business-short, div.business-list {
	padding: 10px;
}
div.best-review a, div.talk a, div.review-short a, div.business-short a.title, div.business-list a.title {
	font-weight: bold;
/*	color: #690704; */
}
div.best-review img.photo, div.review-short img.photo, div.business-short img.photo, div.business-list img.photo {
	float: left;
	padding-right: 10px;
}
div.best-review img.button, div.review-short img.button, div.business-short img.button, div.business-list img.button {
	padding-top: 5px;
	float: right;
}
div.business-short {
	padding-bottom: 15px;
}
#search-nearby {
    margin: 2px;
    padding: 0px;
}
#search-nearby li {
    display: inline;
    font-size: 11px;
}

/* RIGHT COLUMN BANNER */
div#banner-friends {
	text-align: center;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 10px;
}

/* NEW USERS */
a.user-new {
	margin: 4px;
	margin-left: 6px;
	margin-right: 0px;
}
a.user-new img {
	border: 0px;
}
div.separator-8px { height: 8px; }
div.separator-20px { height: 20px; }


/* BANNERS */
div#mailing img{
	text-align: center;
	padding: 30px;
}
div#advs img {
	margin-bottom: 10px;
}

/* REVIEW */
div.hr {
	margin-top: 8px;
	margin-bottom: 8px;
}
.full-rev {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}
.full-rev, div.short-rev {
	margin-bottom: 8px;
}
.full-rev .date, .short-rev .date {
	font-size: 10px;
	color: #c5c5c5;
	padding: 3px;
	padding-top: 0px;
}
.full-rev div.title {
	font-weight: bold;
	vertical-align: middle;
}

/* GALLERY */
.gallery-photo {
	margin-right: 2px;	
}

/* rate this review */
.full-rev div.rate { 
	font-size: 12px;
	color: #666666;
}
.flag-button {
	padding: 5px;
	background: #FFF4F4;
	border: 1px solid #D0D0D0;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    margin-right: 4px;
	
}

.full-rev a.localname {
	font-size: 13px;
	font-weight: bold;
	display: block;
	padding-bottom: 3px;
}
.full-rev a.localname
{
	display: block;
	padding-bottom: 1px;
}

/* PROFILE */
div#content-profile {
	float: right;
	width: 759px;
}
div#sidebar-profile {
	float: left;
	width: 225px;
}

/* PROFILE EDIT */
div.choose-edit-box {
	margin-bottom: 10px;
	float: left;
	width: 500px;
	padding: 10px;
	border: 1px solid #cccccc;
	
}
div.choose-edit-box h3 {
	display: inline;
	line-height: 150%;
}

div.notification {
	border: 1px solid #ddddaa;
	background: #ffffcc;
	padding: 5px;
	width: 884px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}
div.notification h2 {
	font-size: 17px;
	font-weight: normal;
	color: #555533;
}
h1#username {
	vertical-align: top;
	height: 22px;
}
div#motto {
	font-style: italic;
	vertical-align: top;
	padding: 2px;
	color: #222222;
}
div#profile-menu {
	margin-bottom: 5px;
}
div#profile-menu a {
	background-color: #eeeeee;
	border: 1px solid #dddbce;
	border-bottom: 0px;
	color: #444444;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 1px;
}
div#profile-menu a.active {
	background-color: #ffffff;
	border: 1px solid #dddbce;
	border-bottom: 0px;
	color: #000000;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
}
div#sidebar-profile {
}
img#profile-img {
	border: 1px solid #eeebce;
}

/* */
.compliment-title img {
	vertical-align: middle;
	position: relative;
	top: -2px;
}
#compliment-box {
	background-color: white; border: thin solid; padding: 5px; position: absolute; z-index: 5000; display:none;
}

table.messages {
	width: 100%;
}


.help_text {
    font-size: smaller;
    color: #aaa;
}

input {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 20px;
    padding:0px;
    margin: 1px;

}

textarea {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    border-color: #ccc;    
    background-color: #fff;
    padding: 0px;
    margin: 1px;
}

select {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    border-color: #ccc;
    background-color: #fff;
    padding:0px;
    margin:1px;
    height: 23px;
}

form {
    display: block;
	text-align: center;
}

/* All standard forms like add, modify etc. */
form.form-standard {
    width: 700px;
}

/* The form that is shown in 'find business' */
form.form-search-main{
    
}
.checkbox-label {
	cursor: pointer;
}
.with-label {
	vertical-align: middle;
	margin-right: 4px;
}

/* The search form that is always at the top of page */
form.form-search-top {
	display: inline;
}

form table {
    width: 90%;        /* tabelka rozszerza się na cały element */
}

form table tr th {
    vertical-align: middle;
	text-align: right;  /* headery trzymają się prawej góry*/
    padding-right: 1em;
}

form table tr td {
	text-align: left;
    vertical-align: middle;
    padding: 0.2em;
}

form table tr td textarea{
    width: 100%;
}

form table tr td input, form table tr td div {
    width: 18em;
}

form table tr td input[type="radio"], form table tr td input[type="checkbox"] {
    width: auto;
}

form.form-standard ul {
  padding: 0;
  margin: 0;
  margin-top: 4px;
}
form.form-standard ul li {
	list-style: none;
	font-size: 10px;
	font-weight: bold;
	color: #de0502;
}
form.form-standard tr td {
	padding-top: 5px;
	padding-bottom: 5px;
	/*width: 100%;*/
}

/* suggest */
.nodisplay {
	display: none;
}
p.suggest {
	display: inline;
}

label.suggest {
	display: none;
}

#s {
	width: 149px;
}

.inactive {
    color: #BBB;
}

#suggest-results {
	position: absolute;
	top: 0;
	left: 0;
	width: 149px;
	z-index: 1000;
}

#suggest-results ul {
	border: 1px solid #bfbfbf;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

#suggest-results ul li {

}

#suggest-results ul li a {
	display: block;
	color: #444;
	background: #fff;
	font: normal 12px arial;
	text-decoration: none;
	padding: 1px 4px 2px 6px;
	text-align: left;
}

* html #suggest-results ul li a {
	width: 100%;
}

#suggest-results ul li a strong {
	color: #000;
}

#suggest-results ul li a:hover, #suggest-results ul li a.hover {
	background: #0056f4;
	color: #fff;
}

#suggest-results ul li a:hover strong, #results ul li a.hover strong {
	color: #fff;
}

div.del-item {
	text-align: right;
	padding-right: 10px;
}

div.del-item a:hover {
	background-color: #cccccc;
	text-decoration: none;
}

#map_canvas {
	border: 1px solid #cccccc;
	
}

#map-tooltip { width: 300px; color: #333333; padding: 0px; border: 1px solid #eb4946; background-color: #ffffff; }
#map-tooltip, .button { -moz-border-radius:10px; -webkit-border-radius:10px; }
#map-tooltip { background: #ffffff; }
#map-tooltip { background: rgba(255, 255, 255, 0.98); }
  
#map-tooltip {
box-shadow:rgba(0,0,0,0.55) 2px 2px 6px;
-webkit-box-shadow:rgba(0,0,0,0.55) 2px 2px 6px;
-moz-box-shadow:rgba(0,0,0,0.55) 2px 2px 6px;
}


/* checkbox on list */
ul.checkbox{
    list-style-type: none;
    padding:0px; 
}

ul.checkbox li {
    padding: 1em;
    margin: 1em;
}


ul.checkbox li div.checkbox-check {
    display:inline-block;
    vertical-align:top;
    padding: 0.5em 0 0 0.5em;
    width:4em;
    text-align:right;
}

ul.checkbox li div.checkbox-value {
    display:inline-block;
    width:550px;
}
/*general purpose classes*/

.center {
	text-align: center;
}

.highlight {
    background-color: #fee;
}

ul.right-menu {
	list-style-type: none;
	display: block;
	-webkit-padding-start: 0px; 
}
ul.right-menu li {
	padding: 8px;
	border-bottom: 1px solid #dddddd;
	display: block;
}

/* layout */

div.three-column-layout > div{
    display: inline-block;
    float: left;
    width:33%;
    height:100%;
}

/* table styles */

table.property-table th {
    width:70%;
    vertical-align:middle;
    text-align:right;
    padding: 0.3em;
}

table.property-table td {
    width:30%;
    vertical-align:middle;
    text-align:center;
    padding: 0.3em;
}

table.ranking-table {
    width: 100%;
}

.form-search-main input {
-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; margin: 0px;
}

/* review info tabs */
div.tabs { margin-bottom: 10px; margin-top: 5px; border-bottom: 1px solid #cccccc; }
div.tabs a {
-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px;
cursor: pointer;   margin-left: 10px; display: inline-block; background-color: #ffffff; border: 1px solid #cccccc; border-bottom: 0px; padding: 4px; padding-left: 8px; padding-right: 8px; position: relative; top:1px; }
div.tabs a.selected { font-weight: bold; color: #C82810; top:1px; text-decoration: none; padding-top: 6px; }
div.tabs a.normal { font-weight: normal; color: #cccccc; top:0px; }
div.block-hide { display: none }
div.block-display { display: block }
div#local-info { font-size: 12px; } 
div#local-info div { padding: 10px; padding-top: 3px; }

.shadow {
    -moz-box-shadow: 0px 3px 7px #999;
    -webkit-box-shadow: 0px 3px 7px #999;
    box-shadow: 0px 3px 7px #999;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#999')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#999');
}

/* sponsored box */
.sponsored-box { background-color: #fff4f4; margin: 5px; padding: 5px;  }
.sponsored-box h3 { padding: 3px; } 
.sponsored-box span { cursor: pointer; color: #444444; font-size: 10px;}


/* TEMP */
#advert-styk {
	padding-top: 5px; padding-bottom: 10px;
}

/* navigation */
#results-navigation a, #results-navigation strong {padding-right: 5px; display: inline-block;}

#tops tr td {
    vertical-align: top;
    padding-left: 25px;
}
#tops ol{
    margin-bottom: 0;
    padding-left: 0px;
}
#tops .more{
    font-size: 11px;
}