div.selectable-photo-box {
    display:inline-block;
    font-size:small;
    border: solid red;
}

div.selectable-photo-box>span {
    float:left;
    width:50px;
    height:50px;
    margin: 3px;
}

div.selectable-photo-box>div {
    float: right;
    height: 50px;
    margin: 3px; 
}

div.selectable-photo-box>div a{
    display: block;
    margin: 0.1em;
}

div.selectable-photo-box>div img{
    height: 1em;
}