			<div class="business-list translatable">
			<a href="{% url profile item.user.id %}"><img width="50" height="50" class="photo" alt="{{ item.user.profile }}" title="{{ item.user.profile }}" src="{{ item.user.profile.photo.get_thumbnail_url }}"></a>
			<a class="title" href="{{ item.get_absolute_url }}">{{ item.name }}</a><br />
			 {% for biz in item.businesses.all %}
			 <a href="{{ biz.get_absolute_url }}">{{ biz.name }}</a> {% if not forloop.last %} - {% endif %} 
			 {% endfor %}
			 <!-- a href="{{ item.get_absolute_url }}"><img class="button" src="{{ MEDIA_URL }}gfx/button-more.gif"></a -->
			 <div class="clean"></div>
			</div>
			{% if not forloop.last %}
			<div class="hr"><!--  --></div>
			{% endif %}