{% load i18n %}<div class="full-biz" id="biz-{{ item.id }}" onmouseover="showMapTooltip({{ item.id }})" onmouseout="hideMapTooltip({{ item.id }})">
	<!-- PHOTO -->
	<div style="float: left; width: 70px; text-align: center;">
	    <a href="{{ item.get_absolute_url }}">
	        <img width="50" height="50" alt="{{ item }}" title="{{ item }}" src="{{ item.photo.get_thumbnail_url }}">
	    </a>
	</div>

	<!-- ADDRESS -->
	<div style="float: right; width: 150px; padding-right: 10px; text-align: right; line-height: 150%; padding-top: 2px;">
		{{ item.address }}<br />
		<strong>{{ item.phone }}</strong>
	</div>

    <!-- STARS -->
	<div style="float: left; width: 200px; line-height: 150%; padding-top: 2px;">
	    <a href="{{ item.get_absolute_url }}">{{ item.name|truncatewords:4 }}</a><br />
	    {% load stars %}
	    {% stars item.rating %}
    </div>
    <div class="clean"></div>

    <!-- REDUCED REVIEW -->
    <div style="margin: 10px 5px 0px 10px;" class="reduced-review translatable">
        {{ item.review_body|truncatewords:40 }}
    </div>

    {% ifequal businesslist.user request.user %}
    <br />
    {% endifequal %}


    {% ifequal businesslist.user request.user %}
    <div class="del-item">
        <a href="{% url business_list_item_del businesslist.id item.slug %}">{% trans "Remove from list" %}</a>
    </div>
    {% endifequal %}

    <!-- REMOVE FROM FAVORITES -->
    {% ifequal favorites_user request.user %}
    <div class="del-item">
        <a href="{% url favorites_del 'lokal' item.id %}">{% trans "Remove from favorites" %}</a>
    </div>
    {% endifequal %}
</div>
			{% if not forloop.last %}
<div class="hr-nomargin"><!-- --></div>
			{% endif %}
