	<div class="short-rev translatable">{% load i18n %}

	<div style="float: left; width: 70px; text-align: center;">
	<a href="{{ item.get_absolute_url }}"><img width="50" height="50" alt="{{ item }}" title="{{ item }}" src="{{ item.photo.get_thumbnail_url }}"></a>
	</div>
	{% load stars %}
	<a class="localname" href="{{ item.get_absolute_url }}">{{ item }}</a>
	<div style="height: 25px">{% stars item.rating %}</div>
    {{ item.review_body|truncatewords:30 }}<br />
	<a href="{{ item.get_absolute_url }}" style="float: right; -moz-border-radius: 4px; display: inline-block; -webkit-border-radius: 4px; border-radius: 4px; background-color: #ebead5; border: 1px solid #dbdace; color: #d90202; font-weight: bold; font-size: 12px; padding: 7px; padding-top: 3px; padding-bottom: 3px; border-bottom: 2px; letter-spacing:1px">{% trans "more..." %}</a>
    <div class="clean"></div>
    <br />
    
    </div>
    