{% if not item.empty %}			<div class="business-list">
			<div style="float: left; width: 70px; text-align: center;" class="translatable">
			<a href="{{ item.represent.get_absolute_url }}"><img width="50" height="50" alt="{{ item.represent }}" title="{{ item.represent }}" src="{{ item.represent.photo.get_thumbnail_url }}"></a>
			</div>
			<a class="title" href="{{ item.get_absolute_url }}">{{ item.name }}</a><br />
			{{ item.comment }}<br />
			 {% for biz in item.businesses.all %}
			 <a href="{{ biz.get_absolute_url }}">{{ biz.name }}</a> {% if not forloop.last %} - {% endif %} 
			 {% endfor %}
			 <a href="{{ item.get_absolute_url }}"><img class="button" src="{{ MEDIA_URL }}gfx/button-more.gif"></a>
			 <div class="clean"></div>
			</div>
			<div class="hr"><!-- --></div>
{% endif %}