{% load i18n %}
{% load cache %}
{% cache 100000 categories_for_area request.session.area.slug request.session.area.slug LANGUAGE_CODE %}
				<div id="categories-list">
{% load num_of_businesses %}{% load sprite_img %}
{% for item in categories %}
    <a href="{% url category_city_listing category_name=item.slug city_slug=request.session.area.slug %}">{% sprite_img "categories" item.icon "" %}{% trans item.name %} <span style="font-size: 10px; color: #978885">({% num_of_businesses item request.session.area %})</span></a><br />
{% endfor %}
				</div>

				<br />
				 			<div id="advs">
			<!--a href="{% url generic_page 'mobile' %}"><img src="{{ MEDIA_URL }}gfx/adv-mobile.jpg"></a-->
			<!--img src="{{ MEDIA_URL }}gfx/adv-shirt.jpg"-->
			</div>
{% endcache %}
				 