{% load i18n %}<div class="full-rev">

    <!-- PHOTO --> 
    <div style="float: left; width: 70px; text-align: center;">
        {% ifequal item.user selecteduser %}
            <a href="{{ item.business.get_absolute_url }}">
            <img width="50" height="50" alt="{{ item.business }}" title="{{ item.business }}" src="{{ item.business.photo.get_thumbnail_url }}"></a>
        {% endifequal %}

        {% ifnotequal item.user selecteduser %}
            <a href="{% url profile item.user.id %}"><img width="50" height="50" alt="{{ item.user.profile }}" title="{{ item.user.profile }}" src="{{ item.user.profile.photo.get_thumbnail_url }}"></a>
        {% endifnotequal %}
    </div>

    <!-- NAME, STARS, DATE -->
    <div class="translatable" style="float: right; padding-right: 5px; width: {% ifequal item.business business %}570{% endifequal %}{% ifnotequal item.business business %}430{% endifnotequal %}px;">
        {% ifnotequal item.business business %}
            <a class="localname" href="{{ item.business.get_absolute_url }}">{{ item.business }}</a>
        {% endifnotequal %}

        {% load stars %}
        <div style="height: 25px">
            {% stars item.rating %}
        </div>

        <div class="date">{% blocktrans with time=item.date|timesince %}{{ time }} ago{% endblocktrans %}</div>
	    {% ifequal item.business business %}
	        {% if item.removed %}{{ item.removed }}{% else %}{{ item.content|linebreaks  }}{% endif %}
	    {% endifequal %}
	    {% ifnotequal item.business business %}
	        {% if item.removed %}{{ item.removed }}{% else %}{{ item.content|linebreaks|truncatewords:40  }}{% endif %}
	    {% endifnotequal %}

	    <!-- FLAGS -->
	    <div id="rate">{% trans "This review is:" %}
	        <a class="spamflag" href="{{ item.get_spam_url }}">
	            <img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/flag.gif">
	            {% trans "Flag as unappropriate" %}
	        </a>
	
	        <a href="javascript: addReviewFlag({{ item.id }}, 'useful')">{% trans "Useful" %}</a> (<span id="numflags-{{ item.id }}-useful">{{ item.get_useful_count }}</span>),
	        <a href="javascript: addReviewFlag({{ item.id }}, 'funny')">{% trans "Funny" %}</a> (<span id="numflags-{{ item.id }}-funny">{{ item.get_funny_count }}</span>),
	        <a href="javascript: addReviewFlag({{ item.id }}, 'cool')">{% trans "Cool" %}</a> (<span id="numflags-{{ item.id }}-cool">{{ item.get_cool_count }}</span>),
	        <a href="javascript: addReviewFlag({{ item.id }}, 'interesting')">{% trans "Interesting" %}</a> (<span id="numflags-{{ item.id }}-interesting">{{ item.get_interesting_count }}</span>)
	        <div class="clean"><!-- --></div>
	    </div>

    </div>

    <div class="clean"></div>
				{% if not forloop.last %}
				<div class="hr"><!--  --></div>
				{% endif %}
    
    <!-- TEXT -->



</div>
    