{% load i18n %}{% comment %}item - instancja obiektu Review {% endcomment %}

<li class="full-rev {% if hidden_reviews %}{% else %}hreview{% endif %}">
	{% ifequal item.business business %}
	<span class="item hidden"><a class="url fn include" href="#biz-vcard">{{ item.business }}</a></span>
	{% else %}
	<span class="item hidden"><a class="url fn include" href="{% url business_detail item.business.slug %}#biz-vcard">{{ item.business }}</a></span>
	{% endifequal %}
	
    <!-- PHOTO --> 
    <div style="float: left; width: 60px; text-align: center;">
        {% ifequal item.user selecteduser %}
            <a href="{{ item.business.get_absolute_url }}">
            <img width="50" height="50" alt="{{ item.business }}" title="{{ item.business }}" src="{{ item.business.photo.get_thumbnail_url }}"></a>
        {% endifequal %}

        {% ifnotequal item.user selecteduser %}
            <a href="{% url profile item.user.id %}"><img width="50" height="50" alt="{{ item.user.profile }}" title="{{ item.user.profile }}" src="{{ item.user.profile.photo.get_thumbnail_url }}"></a>
            
            <div style="padding: 3px;">
            	<img style="vertical-align: middle;" src="{{ MEDIA_URL }}gfx/crown-small.png" /> <a style="vertical-align: middle;" href="{% url generic_page "reputation" %}"><font style="font-size: 18px; font-weight: bold;">{{ item.user.profile.reputation }}</font></a>
            </div>
        {% endifnotequal %}
        
        
        
        <div style="width: 100%; font-size: 25px; font-weight: bold; color: #999999; text-align: center; margin-top: 10px;">
        	<!-- +<br />
        	{{ item.votes }}<br />
        	- -->
        </div>

    </div>

    <!-- NAME, STARS, DATE -->
    <div style="float: right; padding-right: 5px; width: {% ifequal item.business business %}570{% endifequal %}{% ifnotequal item.business business %}430{% endifnotequal %}px;">
        {% ifnotequal item.business business %}
            <a class="localname" href="{{ item.business.get_absolute_url }}">{{ item.business }}</a>
        {% endifnotequal %}

        {% load stars %}
        <div style="height: 25px" class="rating">
        	<span class="value-title" title="{{ item.rating }}"/>
            {% stars item.rating %}
        </div>

        <abbr class="date dtreviewed" title="{{ item.date|date:"Y-m-d" }}">{% blocktrans with time=item.date|timesince %}{{ time }} ago{% endblocktrans %}</abbr>
        <div class="description translatable" style="padding-bottom: 4px;">
	    {% ifequal item.business business %}
	        {% if item.removed %}<i>{{ item.removed }}</i>{% else %}{{ item.content|linebreaks  }}{% endif %}
	    {% endifequal %}
	    {% ifnotequal item.business business %}
	        {% if item.removed %}<i>{{ item.removed }}</i>{% else %}{{ item.content|linebreaks|truncatewords:40  }}{% endif %}
	    {% endifnotequal %}
	    </div>

		{% ifnotequal hiddenrevs 1 %}
	    <!-- FLAGS -->
	    <div class="rate">
	    <!-- trans "This review is:" -->
	        <a class="flag-button" href="javascript: addReviewFlag({{ item.id }}, 'useful')">{% trans "Useful" %} (<span id="numflags-{{ item.id }}-useful">{{ item.useful }}</span>)</a>
	        <a class="flag-button" href="javascript: addReviewFlag({{ item.id }}, 'funny')">{% trans "Funny" %} (<span id="numflags-{{ item.id }}-funny">{{ item.funny }}</span>)</a>
	        <a class="flag-button" href="javascript: addReviewFlag({{ item.id }}, 'cool')">{% trans "Cool" %} (<span id="numflags-{{ item.id }}-cool">{{ item.cool }}</span>)</a>
	        <a class="flag-button" href="javascript: addReviewFlag({{ item.id }}, 'interesting')">{% trans "Interesting" %} (<span id="numflags-{{ item.id }}-interesting">{{ item.interesting }}</span>)</a>
	        <div class="clean"><!-- --></div>
	        <a class="spamflag" href="{{ item.get_spam_url }}">
	            <img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/flag.gif">
	            {% trans "Flag as unappropriate" %}
	        </a>
	        <div class="clean"><!-- --></div>

            <div class="comments">
                <!-- posted comments -->
                <div class="posted">
                {% for comment in item.get_comments %}
                    <div class="comment ui-corner-all">

                        <a href="{% url profile comment.user.id %}"><img width="20" height="20" src="{{ comment.user.profile.photo.get_micro_url }}"/></a>

                        <div class="content">
                            <span class="user">
                                <a href="{% url profile comment.user.id %}">{{ comment.user.profile.fullname }}</a>
                            </span>{{ comment.body }}
                        </div>
                        <div class="clean"></div>
                    </div>
                {% endfor %}
                </div>

                <!-- new comment form -->
                <form action="/json/review/{{ item.pk }}/comment/">
                    <div class="comment-add" style="width: 100%; text-align:right;">
                        <input type="text" name="comment" style="width:100%;"/>
                        <input type="submit" value="{% trans "Comment" %}" style="width: 100px;">
                    </div>
                </form>
            </div>
		    {% if request.user.profile.privileges > 0 %}
			{% trans "Moderation" %}
			<a href="{% url inlineadmin_hide_review item.id %}">{% trans "Remove this review" %}</a><br />
		    {% endif %}
	    </div>
        {% endifnotequal %}

    </div>

    <div class="clean"></div>

    <!-- TEXT -->

    {% if not forloop.last %}
    <div class="hr"><!--  --></div>
    {% endif %}
</li>
    