{% load i18n %}<div class="short-rev translatable">
    <!-- PHOTO -->
    <div style="float: left; width: 70px; text-align: center;">
        <a href="{% url profile item.user.id %}"><img width="50" height="50" alt="{{ item.user.profile }}" title="{{ item.user.profile }}" src="{{ item.user.profile.photo.get_thumbnail_url }}"/></a>
    </div>
    <!-- STARS -->
    <div style="float: left;">
        {% load stars %}
        <a class="localname" href="{{ item.business.get_absolute_url }}">{{ item.business|truncatewords:6 }}</a>
        <div style="height: 25px">{% stars item.rating %}</div>
        <div class="date">{% blocktrans with time=item.date|timesince %}{{ time }} ago{% endblocktrans %}</div>
    </div>
    <!-- TEXT -->
    <div class="clean"></div>
    {{ item.content|truncatewords:30 }}<br />
    <a href="{{ item.business.get_absolute_url }}" style="float: right; -moz-border-radius: 4px; display: inline-block; -webkit-border-radius: 4px; border-radius: 4px; background-color: #ebead5; border: 1px solid #dbdace; color: #d90202; font-weight: bold; font-size: 12px; padding: 7px; padding-top: 3px; padding-bottom: 3px; border-bottom: 2px; letter-spacing:1px">{% trans "more..." %}</a>
    <br />
</div>
    