{% load i18n %}{% load absurl %}
	<div class="full-rev">

	<div style="float: left; width: 70px; text-align: center;">
	<a href="{% absurl profile item.user.id %}"><img width="50" height="50" alt="{{ item.user.profile }}" title="{{ item.user.profile }}" src="{{ item.user.profile.photo.get_thumbnail_url }}"></a>
	</div>
	<a style="font-size: 13px; font-weight: bold; display: block; padding-bottom: 3px;" href="{% absurl business_detail item.business.slug %}">{{ item.business }}</a>
	{% load stars %}
	<div style="height: 20px">{% stars_no_bg item.rating %}</div>
    <div class="translatable" style="font-size: 10px; color: #c5c5c5; padding: 3px; padding-top: 0px;">{% blocktrans with time=item.date|timesince %}{{ time }} ago{% endblocktrans %}</div>
	        {% if item.removed %}{{ item.removed }}{% else %}{{ item.content|linebreaks  }}{% endif %}
    <div class="clean"></div>

    </div>
    
