{% extends "base.full.html" %}
{% block content %}{% load i18n %}
<div style="width: 50%; float: left"><h2>{% trans "Login" %}</h2>
{% if form.errors %}
<p style="font-color: red">{% trans "Login and password do not match. Please try again or use password remainder." %}</p>
{% endif %}
        <form class="form-standard" action="" method="post">{% csrf_token %}
            <table>
            	<tr><th>{% trans "E-mail" %}</th><td>{{ form.username }}</td></tr>
            	<tr><th>{{ form.password.label }}</th><td>{{ form.password }}</td></tr>

            </table>
			<input type="hidden" name="next" value="{{ request.GET.next }}" />
            <input class="submit" type="submit" value="{% trans "Login" %}">
        </form>
        <br />
        <br />
        <a href="{% url password_reset %}">{% trans "I don't remember my password." %}</a>

</div>
<div style="width: 49%; border-left: 1px solid #dddddd; float: right"><h2>{% trans "Registration" %}</h2>
<div style="padding: 5px">
{% blocktrans with site='neib.org' %}
{{ site }} is first global east-european network aimed to sharing local reviews. With help of other users who
review your area you looking for places which suit you appear to be much easier. Write reviews and evaluate places
and our system will choose best alternatives according to your preferences!
{% endblocktrans %}</div><br />
<div style="text-align: center; ">
<a style="font-size: 18px; text-transform: uppercase;" href="{% url registration_register %}">{% trans "Register now!" %}</a><br /><br />
</div>
</div>
<div class="clean">
</div>
{% endblock %}