{% extends "base.html" %}
{% block content %}
<h2>W aktualnej wersji można rejestrować się tylko po zaproszeniu.</h2>
Poproś znajomego, aby zaprosił Cię do naszego serwisu lub <a href="{% url generic_page 'onas' %}">napisz do nas</a>
{% endblock %}