{% extends "base.html" %}{% load i18n %}
{% block content %}
<h2>{% trans "Reset password" %}</h2>
        <form class="form-standard" action="{% url password_reset %}" method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input class="submit" type="submit" value="Reset">
        </form>
{% endblock %}
