{% extends "base.html" %}
{% load i18n %}{% block content %}
<h2>{% trans "Registration" %}</h2>
        <form class="form-standard" action="" method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div style="text-align: left; font-size: 12px; padding-bottom: 5px;"><a href="{% url generic_page 'regulamin' %}">{% trans "Registration is equivalent to acceptance of terms of use." %}</a></div>
            <input class="submit" type="submit" value="{% trans "Register" %}">
        </form>
{% endblock %}
{% block sidebar %}
<h3>{% trans "Registered already?" %} <a href="{% url profile_login %}">{% trans "Login" %}</a></h3>
{% blocktrans with site='neib.org' %}
{{ site }} is first global east-european network aimed to sharing local reviews. With help of other users who
review your area you looking for places which suit you appear to be much easier. Write reviews and evaluate places
and our system will choose best alternatives according to your preferences!
{% endblocktrans %}
{% endblock %}