{% load i18n %}<table id="talk-details">
{% load pagination_tags %}
{% autopaginate posts 10 %}
{% for item in posts %}
<tr>
 <td class="author" style="width: 120px;"><a href="{% url profile item.user.id %}"><img width="50" height="50" alt="{{ item.user.profile }}" title="{{ item.user.profile }}" src="{{ item.user.profile.photo.get_thumbnail_url }}"></a>
 <div class="date">{% blocktrans with time=item.date|timesince %}{{ time }} ago{% endblocktrans %}</div></td>
 <td style="vertical-align: top" class="translatable">{{ item.body|linebreaks }}

    {% if request.user.profile.privileges > 0 %}
    <div class="icons">
    <div style="padding: 4px; text-align: right; padding-top: 17px; font-size: 11px; color: #888888;">
	{% trans "Moderation" %}
	<a href="{% url inlineadmin_hide_post item.id %}">{% trans "Remove post" %}</a>
    </div>
    </div>
    {% endif %}
 </td>
</tr>
{% empty %}
{% trans "No posts" %}
{% endfor %}
{% paginate %}</table>
<div class="hr"></div>
<h3>{% trans "Your opinion:" %}</h3>
<form action="" method="post">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value={% trans "Add" %}>
</form>