			<div class="talk">
			 <div style="float: left; width: 30px; text-align: center; padding-top: 6px;">
	<a href="{% url profile item.user.id %}"><img width="20" height="20" alt="{{ item.user.profile }}" title="{{ item.user.profile }}" src="{{ item.user.profile.photo.get_micro_url }}"></a>
	</div> <!-- {{ item.user.profile }} napisał{% ifequal item.user.gender 'F' %}a{% endifequal %}:<br /> -->
	<a href="{% url forum_thread_details item.thread.id %}">{{ item.thread.name }}<br /><font style="font-weight: normal" class="translatable">{{ item.body|truncatewords:15 }}</font></a>
	<div class="clean"></div>
			</div>