{% extends "base.html" %}
{% load i18n %}{% block title %} {% trans "Events" %}{% endblock %}

{% load pagination_tags %}
{% load list_to_columns %}
{% block content %}
    <!--h2>Wybierz kategorię</h2>
    
    <table style="width: 100%"><tr>
    {% list_to_columns categories as list 3 %}
	{% for l in list %}
		<td style="width: 33%">
			{%for item in l %}
				<span class="cat-list"><a href="{{ item.get_absolute_url }}">{{ item }}</a></span><br />
			{% endfor %}
		</td>
	{% endfor %}
	</tr></table>

    <div class="clearer"></div>  -->
				<h2>{% trans "Current events" %}</h2>
				<a href="{% url events_add %}">{% trans "Add new events" %}</a><br /><br />
{% autopaginate events 10 %}
{% for item in events %}
    {% include "include/event.html" %}
{% endfor %}
{% paginate %}
				


<div class="clean"><!-- --></div>
	<!-- h2>Nowe zdjęcia w tej kategorii</h2 -->

{% endblock %}
{% block sidebar %}
{% if best_reviews %}
		<h2>{% trans "New reviews" %}</h2>
{% for item in best_reviews %}
    {% include "include/review.short.html" %}
{% endfor %}
{% endif %}

{% if users %}
        <h2>{% trans "Most active users" %}</h2>
{% for item in users %}{% include "include/user.short.html" %}{% empty %}
	{% trans "No active users here" %}
{% endfor %}
{% endif %}


{% endblock %}