{% extends "base.html" %}
{% load i18n %}{% block fulltitle %}{{ event }} {{ event.business.city }} | {% trans "events" %}{% endblock %}
{% block head %}
{% include "include/map.head.html" %}
    <meta property="og:title" content="{{ event.name }}"/>
    <meta property="og:type" content="activity"/>
    <meta property="og:url" content="http://neib.org{{ event.get_absolute_url }}"/>
    <meta property="og:image" content="{{ event.photo.get_urls.profile }}"/>
    <meta property="og:description" content="{{ event.description|truncatewords:60 }}"/>
    <meta property="og:site_name" content="neib.org"/>
    <meta property="og:latitude" content="{{ event.business.latitude }}"/>
    <meta property="og:longitude" content="{{ event.business.longitude }}"/>
    <meta property="og:street-address" content="{{ event.business.street }}"/>
    <meta property="og:locality" content="{{ event.business.city }}"/>
    <meta property="og:region" content="Polska"/>
    <meta property="og:postal-code" content="{{ event.business.zipcode }}"/>
    <meta property="og:country-name" content="Polska"/>
    <meta property="fb:app_id" content="d17b98d9f31c0e6857fdd6be8eee4d75"/>
{% endblock %}
{% block js_include %}
<script src="http://maps.google.com/maps/api/js?sensor=false&region=PL" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="vevent">
<h1><span class="summary" style="display: inline"">{{ event.name }}</span></h1>
{% load stars %}
{% load onoff %}
{% load list_to_columns %}
<br />
<div style="width: 300px; float: right;">
    <span class="photo"><a href="{{ event.photo.get_absolute_url }}"><img src="{{ event.photo.get_urls.thumbnail }}"></a></span>
<br />
<a href="{{ event.gallery.get_photo_add_url }}"><img class="icon" src="{{ MEDIA_URL }}gfx/icons/photo-add.gif">{% trans "Add photo" %}</a>
<br />
<br />
<fb:like show_faces="true" width="295" font="verdana"></fb:like>
</div><!-- TODO: to powinno wygladac inaczej -->
{% if event.categories %}
<strong>{% trans "Category" %}:</strong>
{% for item in event.categories.all %}
    <a href="{{ item.get_absolute_url }}">{{ item }}</a>
{% endfor %}<br />
<br />
{% endif %}
<strong>{% trans "When?" %}</strong><br />
{{ event.event_date|date:"l, j F, P" }}<br />
<span class="dtstart">
	<span class="value-title" title="{{ event.event_date|date:"c" }}" />
</span>
<br />
<strong>{% trans "Where?" %}</strong><br />
<a href="{{ event.business.get_absolute_url }}">{{ event.business }}</a><br />
<span class="location">
{{ event.business.address }}<br />
{{ event.business.zip }} {{ event.business.city }}<br />
</span>
{% trans "Tel." %} {{ event.business.phone }}<br />
<br />

{% if event.cost %}
<strong>{% trans "How much?" %}{% comment %}Translators: As "How much it costs?"{% endcomment %}</strong><br />
{{ event.cost }}<br /><br />
{% endif %}

{% if event.business.www %}
<strong>{% trans "WWW?" %}</strong><br />
<span class="url">{{ event.www|urlize }}</span><br /><br />
{% endif %}

<strong>{% trans "Added by" %}</strong><br />
			 <div style="float: left; text-align: center; padding-top: 6px;">
	<a href="{% url profile event.user.id %}"><img style="vertical-align: middle; position: relative; top: -2px;" alt="{{ event.user.profile }}" title="{{ event.user.profile }}" src="{{ event.user.profile.photo.get_micro_url }}"> {{ event.user.profile }}</a>
	</div> 
	<div class="clean"></div>
<br />
<strong>{% trans "What is going on?" %}</strong><br />
<span class="description">{{ event.description|linebreaks }}</span>

<!-- chwilowo geolokalizacja businessu a nie eventu jako takiego -->
<span class="geo">
   <span class="latitude">
      <span class="value-title" title="{{ event.business.latitude }}" />
   </span>
   <span class="longitude">
      <span class="value-title" title="{{ event.business.longitude }}" />
   </span>
</span>

</div>

    {% if request.user.profile.privileges > 0 %}
    <div class="hr"><!--  --></div>
    <div class="icons">
	{% trans "Moderation" %}
        <a href="{% url events_edit event.slug %}">{% trans "Edit" %}</a> |
        <a href="{% url events_delete event.slug %}">{% trans "Remove" %}</a>
    </div>
    {% endif %}

<div class="hr"><!--  --></div>
<h2>{% trans "Forum" %}</h2>
{% include "include/show.posts.html" %}

{% endblock %}
{% block sidebar %}
<h2>{% trans "Map" %}</h2>
<a href="{% url business_bigmap event.business.slug %}">{% trans "Big map" %}</a>
{% include "map.html" %}


{% endblock %}

