{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}screen/jquery/jquery.intellisearch.css" type="text/css"/>
{{ form.media.css }}

{% endblock %}
{% block js_include %}
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_API_KEY }}&sensor=true" type="text/javascript"></script>
	<script type="text/javascript" src="{% url dynamic_media "jquery.intellisearch.js" %}"></script>
	{{ form.media.js }}
{% endblock %}

{% block js_ready %}
        $("#biz-search").intellisearch();
{% endblock %}

{% block content %}
<form class="form-standard" action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="submit" type="submit" value="Dodaj">
</form>
<div id="autosearch-results">
</div>
{% endblock %}
