{% block content %}
{% for notice in notices %}<a href="{{ notice.get_absolute_url }}">{{ notice.notice_type.display }}</a> <i>({{ notice.added }})</i><br />{% endfor %}
<br />
<a href="{% url profile_preferences_edit %}">Ustawienia powiadomień</a>
{% endblock %}