{% extends "email.base.html" %}
{% load reviews %}
{% load users %}
{% block title %}powiadomienie{% endblock %}
{% block body %}
{{ message }}<br /><br />
{% if review %}
	{{ review|nooptions }}
{% endif %}
{% if action_user %}
	{{ action_user|display_short }}
{% endif %}
<font style="font-size: 10px; color: #666666;">Aby zobaczyć inne powiadomienia lub żeby zmienić ustawienia powiadomień wejdź tutaj {{ notices_url|urlize }}.</a>

{% endblock %}