/*
  Template 0027
  Designed by CSS Templates For Free and licensed under the Creative Commons Attribution 3.0
  Website: http://www.csstemplatesforfree.org/
  Twitter: @cssforfree
*/

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
  color: #91776E;
}

a:hover {
  text-decoration: none;
}

body {
  font-size: 11pt;
  font-family: 'Times New Roman', serif;
  line-height: 2em;
  background: #FFFFFF;
  color: #404040;
}

br.clear-all {
  clear: both;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
  font-weight: normal;
}

h2 {
  font-size: 1.5em;
}

h2,h3,h4 {
  color: #000000;
  margin-bottom: 1.25em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

img.float-left {
  margin: 5px 20px 20px 0px;
  float: left;
}

img.float-top {
  margin: 5px 0px 20px 0px;
}

p {
  margin-bottom: 1.75em;
}

ul {
  margin-bottom: 1.75em;
}

ul h4 {
  margin-bottom: 0.4em;
}

#column1 {
  padding: 0px;
  margin: 0px 0px 0px 315px;
  width: 625px;
}

#column2 {
  width: 300px;
  float: left;
  padding: 0px;
}

#content1 {
  overflow: hidden;
  width: 625px;
  margin: 0px 0px 15px 0px;
}

#content2 {
  overflow: hidden;
  width: 305px;
  float: left;
}

#content3 {
  margin: 0px 0px 0px 320px;
  width: 305px;
  overflow: hidden;
}

#feature-box {
  background: #FFFFFF;
  width: 980px;
  height: 220px;
  padding: 0px;
  margin: 20px 0px 0px 0px;
  position: relative;
}

#header {
  position: relative;
  width: 940px;
  padding: 20px;
  height: 135px;
}

#inner-container {
  background: #FFFFFF;
  color: #303030;
  padding: 20px 20px 0px 20px;
  width: 940px;
  position: relative;
  margin: 20px 0px 0px 0px;
}

#inner-container .features {
  list-style: none;
  padding-left: 0;
}

#inner-container .features li {
  padding: 10px 0px 10px 0px;
  clear: both;
}

#inner-container a {
  color: #1F1F1F;
}

#inner-container h2, #inner-container h3, #inner-container h4 {
  color: #0D0D0D;
}

#inner-container strong {
  color: #171717;
}

#inner-container ul {
  list-style: none;
}

#inner-container ul li {
  padding: 5px 0px 5px 0px;
  border-top: solid 1px #BDBDBD;
}

#inner-container ul li.first-item {
  padding-top: 0;
  border-top: 0;
}

#main-logo {
  position: absolute;
  line-height: 115px;
  top: 0px;
  height: 115px;
  left: 20px;
}

#main-logo a {
  text-decoration: none;
  color: #000000;
}

#main-logo h1 {
  font-size: 2.25em;
}

#main-menu {
  padding: 0px 20px 0px 20px;
  position: absolute;
  margin: 20px 0px 0px 0px;
  line-height: 60px;
  left: 0px;
  height: 60px;
  bottom: 0px;
  width: 940px;
  background: #91776E url('images/menu.gif') top left repeat-x;
}

#main-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

#main-menu ul {
  list-style: none;
}

#main-menu ul li {
  padding: 0px 10px 0px 10px;
  display: inline;
}

#main-menu ul li.first-item {
  padding-left: 0;
}

#outer-container {
  position: relative;
  margin: 0px auto 0px auto;
  width: 980px;
}

#search-form input.btn {
  padding: 6px;
  background: #91776E;
  color: #FFFFFF;
  border: 0px;
  margin-left: 1em;
}

#search-form input.txt {
  padding: 5px;
  border: solid 1px #000000;
}

#site-credits {
  padding: 0px 0px 90px 0px;
  text-align: center;
}

#site-credits a {
  color: #404040;
}