{% load i18n %}<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin-ext' rel='stylesheet' type='text/css'>
<style>
body {
margin: 0;
}
#top-bar {
border-bottom: 1px solid #DD0000;
height: 5px;
background-color: #D44220;
}
#header {
border-bottom: 1px solid #E0E0E0;
height: 60px;
background-color: #F9F9F9;
padding-top: 13px;
}
h1,h2,h3,h4 {
font-family: 'Open Sans Condensed', cursive;
font-weight: normal;
margin: 0px;
color: #D44220;
}
div,td, input{
font-family: "Arial", sans-serif, Verdana, Tahoma;
color: #444444;
}
#left-menu {
float: left;
display: block;
width: 200px;
vertical-align: top;
padding: 10px;
border-right: 1px solid #E0E0E0;
}
#content {
vertical-align: top;
display: block;
padding: 10px;
padding-left: 230px;
}
#site {
line-height: 150%;
}
#site {
padding: 0px;
margin: 0px;
}

a {
text-decoration: none;
color: #111111;
}
a:hover {
text-decoration: underline;
}
#left-menu a {
display: block;
padding: 5px;
margin: 0px;
}
#left-menu a:hover {
display: block;
background-color: #FAFAE2;
}
#left-menu ul {
list-style-type:none;
padding: 0px;
}
th {
font-family: 'Open Sans Condensed', cursive;
padding: 5px;
font-weight: normal;
}
td{
padding: 5px;
}
input, textarea {
padding: 3px;
border: 1px solid #DADADA;
border-radius: 5px;
}
textarea:focus, input:focus {
	background-color: #FAFAE2;
border-radius: 5px;
}
#title {
padding-left: 230px;
}
#back {
float: left;
padding-left: 10px;
}
h1 {font-weight: bold; }

#bld-website {
	float: right;
	width: 40%;
	border: 1px solid #CEE1ED;
	background-color: #F0F6FA;
	margin: 5px;
	padding: 5px;
}
#bld-website h1, #bld-website h2, #bld-website h3 {
	color: #4C638F
}
#bld-website a {
	font-weight: bold;'
}
#foot {
	border-top: 1px solid #eeeeee;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	color: #cccccc;
	margin-top: 10px;
}
</style>
</head>
<body>
<div id="top-bar"></div>
<div id="header">
<div id="back"><h1><a href="http://neib.org{% if business %}{{ business.get_absolute_url }}{% else %}/{% endif %}">neib.org</a> / owners</h1></div>
<div id="title">
<h1>{% block header %}Panel administracyjny lokalu {{ business }} ({{ business.address }}){% endblock %}</h1>
</div>
</div>
<div id="site">
{% block content_full %}
{% block sidebar %}
<div id="left-menu">
<h2>Profil na neib.org</h2>
<ul>
<li><a href="{% url ownership_home business.slug %}">Początek</a></li>
<!-- li><a href="{% url business_statistics business.slug %}">Statystyki</a></li -->
<li><a href="{% url business_details_edit business.slug %}">Edycja danych</a></li>
<li><a href="{% url business_extrafields_edit business.slug %}">Szczegółowe dane</a></li>
<li><a href="{% url business_hours_edit business.slug %}">Godziny otwarcia</a></li>
<li><a href="{% url business_main_review business.slug %}">Recenzja główna</a></li>
<li><a href="{% url business_photo business.slug %}">Zdjęcie główne</a></li>
<li><a href="{% url business_promotions business.slug %}">Promocje w lokalu</a></li>
<li>&nbsp;</li>
<li><a href="{% url ownership_logout %}">{% trans "Logout" %}</a></li>
<!-- li><a href="{% url business_subscription business.slug %}">Abonament</a></li -->
</ul>
<h2>Twoja strona WWW</h2>
<ul>
<li><a href="{% url website_home business.slug %}">{% trans "See your website" %}</a></li>
<li><a href="">{% trans "Configuration" %}</a></li>
<li><a href="">{% trans "Payments" %}</a></li>
<li><a href="">{% trans "Statistics" %}</a></li>
</ul>
{% if businesses %}
<h2>Inne lokale</h2>
<ul>
{% for item in businesses %}
<li><a href="{% url ownership_home item.slug %}">{{ item }}<br /><font style="font-size: 10px;">({{ item.address }})</font></a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
{% endblock %}
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
</div>
</body>
</html>