{% extends "ownership/base.html" %}
{% load i18n %}
{% block title %}Panel właściciela lokalu {{ business }}{% endblock %}
{% block content %}
    <h2> Witamy w panelu właściela</h2>
    <div id="bld-website"><h2>Build your website</h2>
    
    <p>{% trans "Check out our bestselling product! Build a website of your company within one click. Try it for a month for free!" %}</p>
    
    <a href="{% url website_home business.slug %}">Build a website</a> &nbsp;-&nbsp;
    <a href="{% url website_home business.slug %}">Deploy it for free</a>
    </div>
    <p>
    Tu możesz uzupełnić dane swojego lokalu, obejrzeć statystyki, a jeśli uznasz, że wyniki są niewystarczające, możesz
    skorzystać z naszej oferty promowania Twojeglo lokalu w naszym serwisie.
    </p>
    {% comment %}
    <div class="ui-corner-all" style="border: thin solid red; padding:1em; margin-bottom: 2em;">
        <h3>Wygląd {{ business }} na stronie</h3>
        {% with business as item %}
            {% include "include/business.html" %}
        {% endwith %}
    </div>
    {% endcomment %}

    <div id="ownership-home-info" class="three-column-layout" style="height: 155px;">
        <h3>Opinia użytkowników na temat lokalu</h3>
        {% if reviews_count %}
        <img style="margin: 15px;" src="http://chart.apis.google.com/chart?chxt=x,x,y,y&cht=bvs&chd=t:{{ rating }}&chco=FFD400|FFB400|FF8500|FF5b00|FF3500&chls=2.0&chs=200x150&chxl=0:|1|2|3|4|5|1:|||Ocena|3:||Ilość|&chxr=2,0,{{ max }}"/>
        {% endif %}

        <div>
            <table>
                <tr>
                    <th>Liczba recenzji</th>
                    <td> {{ reviews_count }}</td>
                </tr>
                {% if reviews_count %}<tr>
                    <th>Średnia ocen</th>
                    <td> {{ reviews_avg|floatformat:"-2" }}</td>
                </tr>
                {% endif %}
                <!-- tr>
                    <th style="font-size:11px;">Liczba odwiedzin</th>
                    <td> {{ visits_count }}</td>
                </tr>
                <tr>
                    <th style="font-size:11px;">Odwiedziny w tym miesiącu</th>
                    <td> {{ visits_last_month }}</td>
                </tr -->
            </table>
        </div >

        <div>
            <h4>Ranking</h4>
            <table class="ranking-table">
                <tr>
                    <th>Kategoria</th>
                    <th>Miejsce</th>
                </tr>
                {% for key, value in position.items %}
                    <tr>
                        <th>{{ key }}</th>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}