{% extends "ownership/base.html" %}

{% block title %}Wybór głównej recenzji dla {{ business }}{% endblock %}
{% block content %}
<h2>Wybór recenzji głównej dla {{ business }}</h2>
	{% if business.review_set.all %}
    <ul class="checkbox">
        {% for review in business.review_set.all %}
            <li>
                <div class="checkbox-check">
                    {% ifnotequal business.main_review review %}
                        <a href="?review={{ review.pk }}#reverw-{{ review.pk }}"><img src="/static/gfx/unchecked.png" alt="Zaznacz"/></a>
                    {% else %}
                        <a href="?review=none"><img src="/static/gfx/checked.png" alt="Odznacz"/></a>
                    {% endifnotequal %}
                </div>
                <div class="checkbox-value" id="reverw-{{ review.pk }}" style="padding-left: 10px;">
                    {% load stars %}
                    {% with review as item %}
                        {% stars item.rating %}<br /><br />
                        {{ item.content }}
                    {% endwith %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    	Nie masz jeszcze żadnej recenzji.
    {% endif %}
{% endblock %}