{% extends "ownership/base.html" %}
{% block js_ready %}
    var img = $(".full-biz>div>a>img");
    var old_photo = img.attr("src");
    
    $(".selectable-photo-box").mouseover(function(evt){
        $(this).addClass("highlight");
        img.attr("src", $(this).find("span>img").attr("src") );
    });

    $(".selectable-photo-box").mouseout(function(evt){
        $(this).removeClass("highlight");
        img.delay(100).attr("src", old_photo);
    });
{% endblock %}

{% block title %}Zdjęcia {{ business }}{% endblock %}
{% block content %}
    <h2> Zdjęcia dla {{ business }}</h2>
    <div id="main-photo">
        <h3>Podgląd wyświetlania na stronie</h3>
        {% with business as item %}
            {% include "include/business.html" %}
        {% endwith %}
    </div>
    <div class="clean"><!-- --></div>
    <div class="selectable-photos" id="own-photos">
        <h3>Twoje zdjęcia</h3>
        {% if user_photos %}
            <div>
                {% for photo in user_photos %}
                    {% include 'ownership/photo.box.html' %}
                {% endfor %}
            </div>
        {% else %}
            Nie masz żadnych zdjęć dla tego lokalu, ale możesz je dodać poniżej.
        {% endif %}

        <h3>Dodaj kolejne zdjęcie:</h3>
        <form enctype="multipart/form-data" action="{% url photo_add business.gallery.pk %}" method="post">{% csrf_token %}
            {{ photo_form.as_p }}
            <input type="hidden" name="return_to" value="{{ request.path }}" />
            <input class="submit" type="submit" value="Dodaj">
        </form>

    </div>
    <div class="hr"></div>

    <div class="selectable-photos" id="other-photos">
        <h3>Zdjęcia użytkowników</h3>
        {% if other_photos %}
            {% for photo in other_photos %}
               {% include 'ownership/photo.box.html' %}
            {% endfor %}
        {% else %}
            Użytkownicy jeszcze nie dodali żadnego zdjęcia
        {% endif %}
    </div>
{% endblock %}
