<div class="selectable-photo-box ui-corner-all" style="border-width:{% ifequal business.gallery.get_representative_photo photo %} 3px {% else %} 1px {%  endifequal %};">
    <span>
        <img src="{{ photo.get_thumbnail_url }}" width="50" height="50"/>
    </span>
    <div>
        {% ifequal photo.user request.user %}
            <a href="{{ photo.get_absolute_url }}usun/?return_to={{ request.path }}">
            <img src="/static/gfx/icons/cross.gif" style="height: 1em;"/>usuń</a>
        {% endifequal %}
        <a href="{{ photo.get_absolute_url }}">
        <img src="/static/gfx/icons/observe.png"/>
        zobacz</a>
        <a href="?main={{ photo.id }}">
        <img src="/static/gfx/icons/favorite.gif"/>
        wybierz</a>
    </div>
</div>