{% extends "base.full.html" %}{% load i18n %}
{% block title %}{% trans "Claim ownership" %} | {{ business }}{% endblock %}
{% block head %}
{% include "include/map.head.html" %}
{% endblock %}

{% block content %}
<br /><br />
<div style="text-align: center">
{% blocktrans with business=business %}
Are you the owner of {{ business }}?
{% endblocktrans %}
<br /><br />
<a href="{% url ownership_request_sent business.slug %}" style="font-size: 24px;">{% trans "YES" %}</a>
&nbsp; &nbsp; &nbsp;
<a href="{{ business.get_absolute_url }}" style="font-size: 24px;">{% trans "NO" %}</a>
<br /><br />

{% trans "We will contact you within few days in order to verify information." %}
</div>
<br /><br /><br />
{% endblock %}

