{% extends "ownership/base.html" %}
{% block title %}Abonament lokalu {{ business }}{% endblock %}
{% block content %}
<h2>Operacja nie powiodła się</h2>
Niestety nie udało się zrealizować zamówienia. Jeśli pieniądze zostały przelane to bardzo prosimy o <a href="{% url generic_page "kontakt" %}">kontakt</a>.

{% endblock %}