{% extends "base.html" %}
{% block content %}

Jeżeli masz jakieś sugestie co do działania naszego serwisu podziel się nimi z nami:

<form action="#" method="post">
	{% csrf_token %}
	<table>
		{{ form }}
	</table>
	<input type="submit" value="Wyślij"/>
</form>

{% endblock %}