{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
  Template 0027
  Designed by CSS Templates For Free and licensed under the Creative Commons Attribution 3.0
  Website: http://www.csstemplatesforfree.org/
  Twitter: @cssforfree
--><html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="description" content=""><meta name="keywords" content="">
<title>{% block title %}{% endblock %}{{ business }}</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}website/{{ theme.template }}/screen.css">
{% block header %}{% endblock %}
<style>
body {
background-image: url('{{ theme.background }}');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 
}
#outer-container {
background-color: #ffffff;
padding-left: 10px; 
padding-right: 10px; 
border-radius: 10px;
margin-top: 10px;
margin-bottom: 10px;

border: 5px solid {{ theme.colors.main_menu }};
}
#main-photo {
	border: 1px solid {{ theme.colors.main_menu }};
	border-radius: 10px;
}
#main-menu {
	background: {{ theme.colors.main_menu }};
	border-radius: 10px;
}
#site-credits {
	padding-bottom: 20px;
}
body, div, p, h1,h2,h3 {
	font-family: Tahoma, Arial;
}
</style>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23968296-1']);
        _gaq.push(['_setDomainName', '.neib.org']);
        _gaq.push(['_setCustomVar', 1, 'User Status', '{% if request.user %}logged{% else %}anonymous{% endif %}', 2]);
        _gaq.push(['_setCustomVar', 2, 'User ID', '{{ request.user.id }}', 2]);
        _gaq.push(['_setCustomVar', 3, 'StatRecommendationVersion', '{{ request.session.stat_recommendation_ver }}', 2]);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <div id="outer-container">
      <div id="header">
        <div id="main-logo">
          <h1><a href="#">{{ business }}</a></h1>
        </div>
        <div style="margin-top: 55px; width: 400px; line-height: 110%; color: #666666; font-size: 12px;">{% trans "Disclaimer: This is just an example of website. It is NOT an official website, but you can buy it and launch if you are the owner of this venue." %}</div>
        <div id="main-menu">
          <ul><li class="first-item enabled-item">
              <a href="{% url website_home business.slug %}">{% trans "Home" %}</a>
            </li>
            <li>
              <a href="{% url website_about business.slug %}">{% trans "About us" %}</a>
            </li>
            <li>
              <a href="{% url website_offer business.slug %}">{% trans "Offer" %}</a>
            </li>
            <li>
              <a href="{% url website_reviews business.slug %}">{% trans "Reviews" %}</a>
            </li>
            <li>
              <a href="{% url website_gallery business.slug %}">{% trans "Gallery" %}</a>
            </li>
            <li>
              <a href="{% url website_contact business.slug %}">{% trans "Contact" %}</a>
            </li>
          </ul><br class="clear-all"></div>
      </div>
      {% block feature-box %}
      {% endblock %}
      <div id="inner-container">
        {% block content %}
        <div id="column2">
          <h3>{% trans "Contact" %}</h3>
          <p class="address">
        <span class="street-address">{{ business.address|default_if_none:"" }}</span><br />
        <span class="postal-code">{{ business.zip|default_if_none:"" }}</span>
        <span class="locality">{{ business.city|default_if_none:"" }}</span><br />
        {% if business.phone %}<span class="phone">{% trans "phone" %}: {{ business.phone|default_if_none:"" }}</span><br />{% endif %}
	          <a href="{% url website_contact business.slug %}">{% trans "Show on the map" %}</a>
          </p>
          {% if reviews %}
          <h3>{% trans "Recent reviews" %}</h3>
          <ul class="links"><li class="first-item">
            {% for item in reviews %}
            <li>
            <div style="float: left; width: 70px; text-align: center;">
        		<a href="{% url profile item.user.id %}"><img width="50" height="50" alt="{{ item.user.profile }}" title="{{ item.user.profile }}" src="{{ item.user.profile.photo.get_thumbnail_url }}"/></a>
			</div>
            {{ item.content|truncatewords:30 }}
            </li>
            {% endfor %}
          </ul>{% endif %}</div>
        <div id="column1">
          <div id="content1">
            <h2>{% trans "Welcome" %}</h2>
            <a href="{% url website_gallery business.slug %}"><img class="float-left" src="{{ business.photo.get_urls.medium }}" width="110" height="110" alt=""></a><p>
              Welcome. This is your brand new website generated from <a href="http://neib.org/">neib.org</a> data. Once you acquire this website you will be able to change this text and other data.
            </p>
          </div>
          <!-- div id="content2">
            <h3>Subheading</h3>
            <p>
              Tempus sagittis metus ligula posuere. Euismod est suscipit rhoncus congue pellentesque.
            </p>
            <ul class="links"><li class="first-item">
                <a href="#">Facilisis varius condimentum ullamcorper</a>
              </li>
              <li>
                <a href="#">Arcu velit integer ultrices</a>
              </li>
              <li>
                <a href="#">Lorem sed volutpat ullamcorper</a>
              </li>
              <li>
                <a href="#">Fermentum elit aenean condimentum</a>
              </li>
              <li class="last-item">
                <a href="#">Magnis scelerisque dis ridiculus</a>
              </li>
            </ul></div>
          <div id="content3">
            <h3>Subheading</h3>
            <p>
              Mollis cursus posuere semper. Volutpat rhoncus tortor turpis sed vel suscipit.
            </p>
            <ul class="links"><li class="first-item">
                <a href="#">Blandit parturient pharetra auctor</a>
              </li>
              <li>
                <a href="#">Semper ipsum scelerisque suscipit</a>
              </li>
              <li>
                <a href="#">Nascetur feugiat euismod quis</a>
              </li>
              <li>
                <a href="#">Hendrerit sapien odio malesuada</a>
              </li>
              <li class="last-item">
                <a href="#">Faucibus magna dolor dolor</a>
              </li>
            </ul></div>
          <br class="clear-all"></div -->
        <br class="clear-all"></div>
        {% endblock %}
    </div>
    <div id="site-credits">
      &copy; {{ business }}.
    <!--%@##--> {% trans "Site hosted by" %} <a href="http://neib.org/">neib.org</a>.<!--##@%--></div>
    {% include "toolbar/base.html" %}
  </body></html>
