{% extends "website/default/base.html" %}
{% load i18n %}
{% block title %}{% trans "Contact" %} - {% endblock %}
{% block content %}
<h2>{% trans "Contact" %}</h2>
<div style="float: left; width: 300px;">
          <p class="address">
        <span class="street-address">{{ business.address|default_if_none:"" }}</span><br />
        <span class="postal-code">{{ business.zip|default_if_none:"" }}</span>
        <span class="locality">{{ business.city|default_if_none:"" }}</span><br />
        {% if business.phone %}<span class="phone">{% trans "phone" %}: {{ business.phone|default_if_none:"" }}</span><br />{% endif %}
          </p>
</div>
<div style="float: right; width: 610px">
<img width="600" height="400" style="border: 1px solid #CCC" src="http://maps.google.com/maps/api/staticmap?center={{ business.latitude }}%2C{{ business.longitude }}&amp;language=fr&amp;zoom=15&amp;markers=shadow%3Atrue%7Cicon%3Ahttp%3A%2F%2Fstatic.neib.org%2Fgfx%2Fmarker.checked.png%7C{{ business.latitude }}%2C{{ business.longitude }}&amp;sensor=false&amp;size=600x400">
<!-- iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.be/maps?q={{ business }}&amp;ie=UTF8&amp;hq=&amp;hnear={{ business }}&amp;gl=be&amp;t=w&amp;z=14&amp;vpsrc=0&amp;ll={{ business.latitude }},{{ business.longitude }}&amp;output=embed"></iframe></small -->
</div>
<div style="clear: both"></div>
{% endblock %}