{% extends "website/default/base.html" %}
{% block header %}
<script type="text/javascript" src="{{ MEDIA_URL }}website/js/jquery.lightbox-0.5.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}website/css/jquery.lightbox-0.5.css" media="screen" />
<script>
$(function() {
	$('#gallery a').lightBox({fixedNavigation:true,
	imageLoading: '{{ MEDIA_URL }}website/images/lightbox-ico-loading.gif',
	imageBtnClose: '{{ MEDIA_URL }}website/images/lightbox-btn-close.gif',
	imageBtnPrev: '{{ MEDIA_URL }}website/images/lightbox-btn-prev.gif',
	imageBtnNext: '{{ MEDIA_URL }}website/images/lightbox-btn-next.gif',});
});
</script>
{% endblock %}
{% load i18n %}
{% block title %}{% trans "Gallery" %} - {% endblock %}
{% block content %}
<h2>{% trans "Gallery" %}</h2>

<div id="gallery">
{% for photo in business.gallery.photo_set.all %}
<a href="{{ photo.get_urls.display }}"><img width="110" height="110" src="{{ photo.get_urls.medium }}"/></a>
{% endfor %}
</div>
{% endblock %}