{% extends "website/default/base.html" %}
{% load i18n %}
{% block title %}{% trans "Offer" %} - {% endblock %}
{% block content %}
<h2>{% trans "Offer" %}</h2>
{% if business.owners %}{{ business.owners|linebreaks }}{% else %}
<p>Pellentesque volutpat condimentum lectus, vel facilisis nisl gravida dictum. Proin non nisl nec ipsum suscipit porttitor. Nulla at commodo lorem. Nunc at nulla est. Sed varius elit in massa ultricies ullamcorper. Donec risus erat, imperdiet ut vehicula luctus, mollis sodales purus. Nullam lacinia auctor mauris in dictum. Suspendisse eget nunc mi, id accumsan felis. Nunc laoreet, libero et tristique dictum, dolor ipsum dapibus neque, quis pulvinar velit elit a odio. Quisque aliquam, sem scelerisque ultrices semper, mauris orci congue sem, ac porttitor ipsum nisl et nunc. Proin pharetra orci sed felis blandit vulputate. Curabitur nec mi lectus, quis feugiat sapien. Phasellus ante nisi, viverra eu tempor ut, tempor non nunc. Nam porta, metus id fringilla tristique, quam enim varius nisi, eget fringilla urna nunc eget turpis.</p>
{% endif %}
{% endblock %}