{% extends "website/default/base.html" %}
{% load i18n %}{% load stars %}
{% block title %}{% trans "Reviews" %} - {% endblock %}
{% block content %}
<h2>{% trans "Reviews" %}</h2>
<ul style="width: 600px;">
<style>p {margin-bottom: 10px;}
.date { font-size: 11px; color: #888888 }</style>
{% for item in business.review_set.all %}
<li class="short-rev translatable">
    <div style="float: left; width: 70px; text-align: center;">
        <a href="{% url profile item.user.id %}"><img width="50" height="50" alt="{{ item.user.profile }}" title="{{ item.user.profile }}" src="{{ item.user.profile.photo.get_thumbnail_url }}"/></a>
    </div>
    <div>
        <div style="height: 25px">{% stars item.rating %}</div>
        <div class="date">{% blocktrans with time=item.date|timesince %}{{ time }} ago{% endblocktrans %}</div>
    </div>
    <div style="display: block; margin-bottom: 0px;">{{ item.content|linebreaks }}</div>
    <div class="clean"></div>
</li>
    {% endfor %}
</ul>
{% endblock %}