#select-ordering {
	list-style-type: none;
}
#select-ordering li {
	font-weight: normal;
}
#select-ordering li.selected {
	font-weight: bold;
}
#select-ordering li.selected a {
	color: #000000;
}