{% load i18n %}{% load decline %}
<div class="full-rev">
	<div style="float: left; width: 70px; text-align: center;">
	<a href="{% url profile item.id %}"><img width="50" height="50" alt="{{ item.profile }}" title="{{ item.profile }}" src="{{ item.profile.photo.get_thumbnail_url }}"></a>
	</div>
	<div style="float: left;">
	<div class="title"><a href="{% url profile item.id %}">{{ item.get_profile }}</a></div>
    <div style="padding-bottom: 2px; font-style: italic;">{{ item.profile.motto|default_if_none:"" }}</div>
    <div class="icons">
	<a href="{% url friendship_delete item.id %}"><img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/reviews.png">{% trans "Remove" %}</a>
	</div>
	</div>
    <div class="clean"></div>
    <br />
</div>
    