{% load i18n %}{% load decline %}{% load common_tags %}
<div class="full-rev">
	<div style="float: left; width: 70px; text-align: center;">
	<a href="{% url profile item.id %}"><img width="50" height="50" alt="{{ item.profile }}" title="{{ item.profile }}" src="{{ item.profile.photo.get_thumbnail_url }}"></a>
	</div>
	<div style="float: left;">
	<div class="title"><a href="{% url profile item.id %}">{{ item.get_profile }}</a></div>
    <div style="padding-bottom: 2px; font-style: italic;">{{ item.profile.motto|default_if_none:"" }}</div>
    <div class="icons">
	<img width="16" height="16" src="{{ 'gfx/icons/reviews.png'|ADD_MEDIA_URL }}">{% blocktrans count counter=item.get_profile.num_of_reviews %}1 review{% plural %}{{ counter }} reviews{% endblocktrans %}.<br />
	<img width="16" height="16" src="{{ 'gfx/icons/friends.png'|ADD_MEDIA_URL }}">{% blocktrans count counter=item.get_profile.num_of_friends %}1 review{% plural %}{{ counter }} friends{% endblocktrans %}.
	</div>
{% ifequal favorites_user request.user %}
<div class="del-item" style="margin-top: 5px;"><a href="{% url favorites_del 'uzytkownika' item.id %}">{% trans "Remove" %}</a></div>
{% endifequal %}
	</div>
    <div class="clean"></div>
    <br />
</div>
    