{% extends "base.full.html" %}
{% load decline %}
{% block content %}
<h1>Konkurs dla aktywnych</h1>
W konkursie zwyciężyły: <a href="http://dood.pl/profil/30/aktualnosci/">Zuzia</a>, 
<a href="http://dood.pl/profil/203/aktualnosci/">Magda K.</a>,
<a href="http://dood.pl/profil/244/aktualnosci/">Karolina K.</a>.<br />
Nagrody można odebrać w biurze firmy LEMONET przy ul. Srebrnej 16 lok. 212. O wynikach zwyciężczynie zostaną poinformowane mailowo.

<!--div style="float: right; background-color: #FFF4F4; width: 300px; padding: 4px; border: 1px solid #f0f0f0;">
	<h2>Ranking</h2>
    {% for item in users %}
 	 	<div>
 	 		<a style="float: left; margin-right: 5px;" class="user-new" href="{% url profile item.id %}"><img width="50" height="50" class="user-short" src="{{ item.get_profile.photo.get_thumbnail_url }}"></a>
 	 		<a href="{% url profile item.id %}">{{ item.profile }}</a><br />
 	 		<div>{% decline 'punkt' item.profile.get_current_points %}</div>
 	 		<div class="clean"></div>
		</div>
    {% endfor %}
    {% if request.user.id %}
    {% if not request.user in users %}
    	<div style="border-top: 1px solid #f0f0f0; padding-top: 5px;"></div>
    	{% with request.user as item %}
 	 	<div>
 	 		<a style="float: left; margin-right: 5px;" class="user-new" href="{% url profile item.id %}"><img width="50" height="50" class="user-short" src="{{ item.get_profile.photo.get_thumbnail_url }}"></a>
 	 		<a href="{% url profile item.id %}">{{ item.profile }}</a><br />
 	 		<div>{% decline 'punkt' item.profile.get_current_points %}</div>
 	 		<div class="clean"></div>
		</div>
		{% endwith %}
    {% endif %}
    {% endif %}
</div>
<div>
Przygotowaliśmy konkurs dla najaktywniejszych użytkowników dood.pl.<br />
<br />
Promujemy najlepsze recenzje na doodzie. Za każde kliknięcie przez użytkowników "Użyteczna", "Śmieszna", "Fajna" lub "Ciekawa" otrzymasz 1 punkt! Osoba, która pomiędzy <strong>19 lipca a 1 sierpnia</strong> uzyska najwięcej punktów
otrzyma od nas kupon na 80 zł do wykorzystania w salonach sieci EMPiK.<br />
Kolejne dwie dostaną odpowiednio kupony na 40 i 20 zł!<br />
</div>
<h2>3 kroki do sukcesu</h2>
<div style="text-align: center"><img src="{{ MEDIA_URL }}gfx/3kroki.jpg" /></div>
<br />
<a href="{% url competition_conditions %}">Regulamin konkursu</a><br />
<div style="float: left; width: 400px; padding-top: 4px;"><span style="font-size: 10px; color: #777777">Organizatorem konkursu i fundatorem nagrody jest firma LEMONET Łukasz Kidziński. Firma EMPiK. Sp. z o.o. nie jest współorganizatorem konkursu, a znak i nazwa EMPiK są zastrzeżonymi znakami EMPiK. Sp. z o.o.</span></div>
<div class="clean"></div-->

{% endblock %}


