{% extends "neibadmin/base_with_sidebar.html" %}
{% block content %}
{% load pagination_tags %}
{% load neibadmin_tags %}
<br/>
<h2>Lista Businessow:</h2>
<h4>
<a href="{% url doodadmin_business_list %}?mode=all">{% ifequal mode "all" %}</a>WSZYSTKIE{% else %}WSZYSTKIE</a>{% endifequal %} | 
<a href="{% url doodadmin_business_list %}?mode=verification">{% ifequal mode "verification" %}</a>TYLKO NIEZWERYFIKOANE{% else %}TYLKO NIEZWERYFIKOANE</a>{% endifequal %} | 
<a href="{% url doodadmin_business_list %}?mode=moderation">{% ifequal mode "moderation" %}</a>TYLKO WYMAGAJĄCE MODERACJI{% else %}TYLKO WYMAGAJĄCE MODERACJI</a>{% endifequal %}</h4>
{% autopaginate businesses 30 %}
{% paginate %}
<table>
	{% if businesses %}
	<thead>
		<tr class="rowB">
		{% table_header headers %}
		<td>DETAILS</td>
		</tr>
	</thead>
	{% endif %}
	<tbody>

	{% for business in businesses %}
	<tr class="{% cycle 'rowA' 'rowB' %}">
	<td>{{ business.id }}</td>
	<td>{{ business.name }}</td>
	<td>{{ business.address }}</td>
	<td>{{ business.phone }}</td>
	<td>
		{% for i in verify_choices %}
			{% ifequal i.0 business.verified %}{{ i.1 }}{% endifequal %}
		{% endfor %}			
	</td>
	<td>{{ business.date }}</td>
	<td style="text-align: center;"><a href="{% url doodadmin_business_details business.id %}"><img src="http://static.dood.pl/gfx/icons/business-edit.gif"></img></a></td>
				
	</tr>
	{% empty %}
		Nie ma zadnego businessu
	{% endfor %}
	</tbody>
</table>
{% paginate %}
{% endblock %}
