{% extends "neibadmin/base_with_sidebar.html" %} {% block content %}
<script type="text/javascript" language="javascript">
<!-- //
function acceptAll()
{
	phoneSuggestClick()
	wwwSuggestClick()
	addressSuggestClick()
	zipSuggestClick()
	emailSuggestClick()
	alert("Zaakceptowałeś(-aś) wszystkie zmiany");
}
function getClearValue(value)
{
	if (value == "**WYCZYSC**")
		return "";
	else
		return value;
	
}
function phoneSuggestClick()
{
	document.businessForm.phone.value=getClearValue("{%if suggestions.phone %}{{ suggestions.phone }}{% else %}{{business.phone }} {% endif %}");
}
function wwwSuggestClick()
{
	document.businessForm.www.value=getClearValue("{{ suggestions.www }}");
}
function addressSuggestClick()
{
	document.businessForm.address.value=getClearValue("{%if suggestions.address %}{{ suggestions.address }}{% else %}{{ business.address }}{% endif %}");
}
function zipSuggestClick()
{
	document.businessForm.zip.value=getClearValue("{{ suggestions.zip }}");
}

function emailSuggestClick()
{
	document.businessForm.email.value=getClearValue("{{ suggestions.email }}");
}
function confirmDelete()
{
	var answer=confirm("Czy na pewno usunąć lokal?")
	if (answer)
		alert("usuwanie lokalu")
}
 //  -->	
</script>
<br />
<h2>Detale Businessu: (id: {{ business.id }})</h2>
<table>
	<thead></thead>
	<tbody>
		<tr class="rowA">
			<td>Status weryfikacji</td>
			<td>Akcje</td>
			<td>Nawigacja</td>
		</tr>
		<tr class="rowB">
			<td>{% if verifiedFlag %} <font color="green"> {% else %}
			<font color="red">{% endif%} {{ verifiedStatus }}</font></td>
			<td><input type="button" value="USUŃ LOKAL"
				onclick="confirmDelete()"
				title="Trwałe usunięcie lokalu, wymaga potwierdzenia"></input><br />
			</td>
			<td><a href="/business/details?id={{ navigation.first }}">Przejdź
			do pierwszego</a> <br />
			</td>
		</tr>
		<tr class="rowA">
			<td></td>
			<td><input type="button" value="WERYFIKUJ LOKAL" {% if verifiedFlag %} disabled="disabled"{% endif %} ></input></td>
			<td><a href="/business/details?id={{ navigation.next }}">Przejdź
			do następnego</a><br />
			</td>
		</tr>
	</tbody>
</table>

<form action="/contact/" method="post" name="businessForm">
<table>
	<thead>
		<tr class="rowB">
			<th>Klucz</th>
			<th>Wartość</th>
			<th><!-- <input type="button" onclick="acceptAll()" value="<<"></input> --></th>
			<th>Wartość sugerowana</th>
			<th style="text-align: right;">Błąd</th>
		</tr>

	</thead>
	<tbody>
		<tr class="rowA">
			<td><label for="id_subject">Nazwa:</label></td>
			<td>
			<div class="fieldWrapper" dir="ltr">{{ form.name }}</div>
			</td>
			<td></td>
			<td></td>
			<td>{{ form.name.errors }}</td>

		</tr>
		<tr class="rowB">
			<td><label for="id_subject">Adres:</label></td>
			<td>
			<div class="fieldWrapper" dir="ltr">{{ form.address }}</div>
			</td>
			{% if suggestions.address %}
			<td><input type="button" onclick="addressSuggestClick()" value="<<"></input></td>
			<td style="text-align: right;">{{ suggestions.address }}{% else %}
			<td></td>
			<td></td>
			{% endif %}
			<td>{{ form.address.errors }}</td>
		</tr>
		<tr class="rowA">
			<td><label for="id_subject">Kod Pocztowy:</label></td>
			<td>
			<div class="fieldWrapper" dir="ltr">{{ form.zip }}</div>
			</td>
			{% if suggestions.zip %}
			<td><input type="button" onclick="zipSuggestClick()" value="<<"></input></td>
			<td style="text-align: right;">{{ suggestions.zip }}{% else %}
			<td></td>
			<td></td>
			{% endif %}
			<td>{{ form.zip.errors }}</td>
		</tr>
		<tr class="rowB">
			<td><label for="id_subject">Telefon:</label></td>
			<td>
			<div class="fieldWrapper" dir="ltr">{{ form.phone }}</div>
			</td>
			{% if suggestions.phone %}
			<td><input type="button" onclick="phoneSuggestClick()" value="<<"></input></td>
			<td style="text-align: right;">{{ suggestions.phone }} {% else %}
			<td></td>
			<td></td>
			{% endif %}
			<td>{{ form.phone.errors }} {{ errors.phone }}</td>
		</tr>
		<tr class="rowA">
			<td><label for="id_subject">WWW:</label></td>
			<td>
			<div class="fieldWrapper" dir="ltr">{{ form.www }}</div>
			</td>
			{% if suggestions.www %}
			<td><input type="button" onclick="wwwSuggestClick()" value="<<"></input></td>
			<td style="text-align: right;">{{ suggestions.www }} {% else %}
			<td></td>
			<td></td>
			{% endif %}
			<td>{{ form.www.errors }}</td>
		</tr>
		<tr class="rowB">
			<td><label for="id_subject">E-mail:</label></td>
			<td>
			<div class="fieldWrapper" dir="ltr">{{ form.email }}</div>
			</td>
			{% if suggestions.email %}
			<td><input type="button" onclick="emailSuggestClick()" value="<<"></input></td>
			<td style="text-align: right;">{{ suggestions.email }} {% else %}
			<td></td>
			<td></td>
			{% endif %}
			<td>{{ form.email.errors }} {{ errors.email }}</td>
		</tr>
		<tr class="rowA">
			<td><label for="id_subject">Comment:</label></td>
			<td>
			<div class="fieldWrapper">{{ form.comment }}</div>
			</td>
			<td>{{ form.comment.errors }}</td>
		</tr>
	</tbody>
</table>
<input type="submit" value="Zatwierdź" /></form>
<br />
<h3>Wybor kategorii dla businessu</h3>
Kategorie: {% for item in business.categories.all %} {{ item }}; {% endfor %}
<br />
<br />
<h3>Wybor tagów dla businessu</h3>
Tagi: {% for item in business.tags.all %} {{ item }}; {% endfor %}
<br />
<br />

{% if reviews %}
<h3>Recenzje:</h3>
<table>
	<tr>
		<th>rating</th>
		<th>content</th>
		<th>edycja</th>
	</tr>
	{% for review in reviews %}
	<tr class="{% cycle 'rowA' 'rowB' %}">
		<td>{{ review.rating }}</td>
		<td>{{ review.content }}</td>
		<td>
		<center><a href=""><img
			src="http://static.dood.pl/gfx/icons/observe.png"></img></a></center>
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %} {% if similar %}
<br />
<br />
<h3>Lista businessow podobnych:</h3>
<table>
	<thead>
		<tr>
			<th><a href="/business/?sort=id">id</a></th>
			<th><a href="/business/?sort=name">name</a></th>
			<th><a href="/business/?sort=address">address</a></th>
			<th><a href="/business/?sort=phone">phone</a></th>
			<th dir="rtl">Stopien podobieństwa</th>
			<th>Zarządzaj</th>
		</tr>
	</thead>
	<tbody>
		{% for bus,level in similar %}
		<tr class="{% cycle 'rowA' 'rowB' %}">
			<td>{{ bus.id }}</td>
			<td>{{ bus.name }}</td>
			<td>{{ bus.address }}</td>
			<td>{{ bus.phone }}</td>
			<td dir="rtl">{{ level }}</td>
			<td>
			<center><a href=""><img
				src="http://static.dood.pl/gfx/icons/observe.png"></img></a></center>
			</td>
			{% endfor %}
	</tbody>
</table>
{% endif %} {% endblock %}
