#category-widget-main select{
	width: 14em;
}
#category-widget-main .cat-item {
	float: left;
	margin: 2px;
	border: 1px solid #5D8A51;
	border-bottom: 2px solid #5D8A51;
	background-color: #85EB6A;
	color: #333333;
	font-size: 11px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width: auto;
}
#category-widget-main .cat-item a {
	font-weight: bold;
	cursor: pointer;
}
#category-widget-main .cat-item a:hover {
	font-weight: bold;
	cursor: pointer;
	color: #111111;
}