div.comments {
    margin-left: 3em;
    margin-right: 2em;
}

div.comments div.posted {
}

div.comments div.posted div.comment {
    font-size: 12px;
    margin: 2px;
    padding: 2px;
    background-color: #EEE;
    position: relative;
}

div.comments div.posted div.comment img {
    float: left;
    margin: 5px;
}

div.comments div.posted div.comment div.content {
    margin: 5px;
    margin-left: 35px;
    font-size: 11px;
    color: #444;
}

div.comments div.posted span.user {
    font-weight: bold;
    margin-right: 1em;
    margin-bottom: 0.5em;
    color: #086C9A;
}

div.comments div.comment-add {
    width: 100%;
    text-align: right;
}

div.comments div.comment-add input {
    width: 100%;
}