{% extends "base.full.html" %}
{% block title %}O nas{% endblock %}
{% block content %}
<div style="width: 800px; margin-left: 90px;"><h1>O nas</h1>
{% autoescape off %}
<style>
    .employee {
        width: 45%;
        float: left;
        border: 1px solid #cccccc;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border-top-left-radius: 6px 6px;
        border-top-right-radius: 6px 6px;
        border-bottom-right-radius: 6px 6px;
        border-bottom-left-radius: 6px 6px;
        padding: 6px;
        margin: 10px;
        line-height: 150%;
        font-size: 14px;

    }
    .employee img {
        float: left;
        margin: 5px;
    }
    .employee h3 {
        font-size: 16px;
    }
</style>
Jesteśmy absolwentami dobrych warszawskich uczelni. Wiedzę zebraną podczas studiów i pracy zawodowej postanowiliśmy wykorzystać w nowatorskim projekcie neib.org.<br /><br />
<div class="clearfix">
    {% for item in employees %}
    <div class="employee">
        <div style="height: 60px;"><a href="{%  url profile item.user.id %}"><img class=""  width="50" height="50" alt="{{ item|escape }}" title="{{ item|escape }}" src="{{ item.photo.get_thumbnail_url }}"></a>
        <h3>{{ item }}</h3></div>
        {{ item.description }}
    </div>
        {% if forloop.counter|divisibleby:2 %}
            <div class="clean"></div>
        {% endif %}
    {% endfor %}
</div>
<div class="clean"></div>
<h2>Nad stroną pracują także</h2>
{% for user in users %}
    {% include "include/user.micro.html" %}
{% endfor %}
<div class="clean"></div>
i inni...
<h3>Gdzie nas znaleźć?</h3>Właścicielem portalu jest<br />
<br />
LEMONET Łukasz Kidziński<br />
ul. Kępińska 14a<br />
05-840 Brwinów<br />
<br />
Tel. 0-22 2454345<br />
Tel. 0-604-947-603<br />
<br />
<h3>Administracja www:</h3>e-mail: <a href="mailto: webmaster@neib.org">webmaster@neib.org</a><br />
<br />
<h3>Dział marketingu:</h3>e-mail: <a href="mailto: marketing@neib.org">marketing@neib.org</a>
</div>
{% endautoescape %}
{% endblock %}


