{% extends "base.html" %}
{% load i18n %}  
{% block bodyclass %}about{% endblock %}
{% block content %}  
{% endblock %}
{% block sidebar %}
<a href="{% url messages_inbox %} ">{% trans "Inbox" %}</a><br />
<a href="{% url messages_outbox %} ">{% trans "Sent Messages" %}</a><br />
{% endblock %}