{% extends "messages/base.html" %} 
{% load i18n %} 
{% block content %} 
<h2>{% trans "Compose Message"%}</h2>
<form action="" method="post">{% csrf_token %}
<table>
<tr><th><label>Adresat:</label></th><td>{{ recipient.get_profile }}</td></tr>
{{ form.as_table }}
</table>
<input type="submit" value="{% trans "Send" %} &raquo;"/>
</form>

{% endblock %}