{% extends "messages/base.html" %} 
{% load i18n %} 
{% block content %}
    <h2>{% trans "Inbox" %}</h2>
{% if message_list %}
    <table class="messages">
        <thead>
            <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Received" %}</th><th>{% trans "Action" %}</th></tr>
        </thead>
        <tbody>
    {% for message in message_list %} 
        <tr>
            <td>{{ message.sender.get_profile }}</td>
            <td>
                {% if message.new %}<strong>{% endif %}
                {% if message.replied %}<em>{% endif %}
                <a href="{{message.get_absolute_url }}">{{ message.subject }}</a>
                {% if message.replied %}</em>{% endif %}
                {% if message.new %}</strong>{% endif %}</td>
            <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
            <td><a href="{% url messages.views.delete message.id %}">{% trans "delete" %}</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% else %}
Nie masz żadnych otrzymanych wiadomości.
{% endif %}
{% endblock %}