{% extends "messages/base.html" %} 
{% load i18n %} 
{% block content %} 
<h2>{% trans "Deleted Messages" %}</h2>
<table class="messages">
    <thead>
        <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Date" %}</th><th>{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% for message in message_list %} 
    <tr>
        <td>{{ message.sender }}</td>
        <td> 
        {{ message.subject }}
        </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url messages_undelete message.id %}">{% trans "undelete" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br />
<p>UWAGA: Wiadomości są usuwane z kosza nieregularnie i w każdej chwili mogą zniknąć!</p>
{% endblock %}