{% extends "messages/base.html" %} 
{% load i18n %} 
{% block content %}
<h2>{% trans "View Message" %}</h2>
<dl class="message-headers">
    <dt>{% trans "Subject" %}</dt>
    <dd><strong>{{ message.subject }}</strong></dd>
    <dt>{% trans "Sender" %}</dt>
    <dd>{{ message.sender.get_profile }}</dd>
    <dt>{% trans "Date" %} </dt>
    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>
    <dt>{% trans "Recipient" %}</dt>
    <dd>{{ message.recipient.get_profile }}</dd>
</dl>
{{ message.body|linebreaksbr }}<br /><br />

{% ifequal message.recipient user %}
<a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a>
{% endifequal %}
<a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a>
{% endblock %}