{% extends "base.html" %}
{% load common_tags %}
{% block title %}Galeria {{ gallery }}{% endblock %} 
{% block content %}
    {% block js_include %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&region=PL" type="text/javascript"></script>
    {% endblock %}

<h2>Galeria</h2>
{% for item in gallery.photo_set.all %}
    <a href="{{ item.get_absolute_url }}"><img class="gallery-photo" src="{{ item.get_thumbnail_url }}"/></a>
{% endfor %}
<br />
<a href="{{ gallery.get_photo_add_url }}"><img class="icon" src="{{ MEDIA_URL }}gfx/icons/photo-add.gif"/>Dodaj zdjęcie</a>
{% endblock %}

{% block sidebar %}
	{% sidebar gallery.owner %} 
{% endblock %}
