{% for photo in photos %}
    <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_urls.thumbnail }}"></a>
{% endfor %}
<br />
<a href="{{ gallery.get_photo_add_url }}"><img class="icon" src="{{ MEDIA_URL }}gfx/icons/photo-add.gif">Dodaj zdjęcie</a>