{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Galleries management" %}{% endblock %} 
{% block content %}
<h2>{% trans "Profile photo management" %}</h2>
{% for item in user.profile.gallery.photo_set.all %}
    <div style="float: left; width: 100px;">
    	<a href="{% url photo_detail item.id %}"><img src="{% url photo_detail item.id %}"></a><br />
    	<a href="{% url photo_delete item.id %}">{% trans "Delete" %}</a>
    </div>
{% endfor %}
<div class="clean"></div>
<div class="icons"><a href="{% url photo_add user.profile.gallery %}"><img class="icon" src="{{ MEDIA_URL }}gfx/icons/photo-add.gif">{% trans "Add photo to profile" %}</a></div>

<h2>{% trans "Other photos" %}</h2>
{% for item in other_photos %}
    <div style="float: left; width: 100px;">
    	<a href="{% url photo_detail item.id %}"><img src="{% url photo_detail item.id %}"></a><br />
    	<a href="{% url photo_delete item.id %}">{% trans "Delete" %}</a>
    </div>
{% endfor %}
<div class="clean"></div>
<div class="icons"><img class="icon" src="{{ MEDIA_URL }}gfx/icons/photo-add.gif">{% trans "In order to add photos for given venue go to it's site first." %}</div>
<br />
{% endblock %}

