{% extends "base.html" %}
{% block title %}Dodawanie zdjecia{% endblock %} 
{% block js_include %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_API_KEY }}&sensor=true" type="text/javascript"></script>
{% endblock %}
{% block content %}
<h2>Dodaj zdjęcie</h2>
        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input class="submit" type="submit" value="Dodaj">
        </form>
{% endblock %}