{% extends "base.html" %}
{% load common_tags %}
{% block title %}Zdjęcie {{ photo }}{% endblock %} 
{% block js_include %}
<script src="http://maps.google.com/maps/api/js?sensor=false&region=PL" type="text/javascript"></script>
{% endblock %}
{% block content %}
<h2>Zdjęcie</h2>
<img src="{{ photo.get_display_url }}"><br />
<br />Dodał:<br />
<a href="{% url profile photo.user.id %}">
<img src="{{ photo.user.get_profile.photo.get_thumbnail_url }}"><br />{{ photo.user.get_profile }}</a>
{% endblock %}
{% block sidebar %}
<h2>Galeria</h2>
{% for photo in gallery.photo_set.all %}
    <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_urls.thumbnail }}"></a>&nbsp;
{% endfor %}
<br />
<a href="{{ gallery.get_photo_add_url }}"><img class="icon" src="{{ MEDIA_URL }}gfx/icons/photo-add.gif">Dodaj zdjęcie</a>
	{% sidebar gallery.owner %}

{% endblock %}


