<html>
<head>
<style>
body, * {
   font-family: Verdana
}
input.submit {
    border: 1px solid #777777;
    background-color: #dddddd;
    color: #000000;
    font-size: 16px;
}
</style>
</head>
<body>
<h2>Panel administracyjny neib.org - weryfikacja adresow</h2>
<h3 style="color: #770000">TELEFON: {{ phone }}</h3>
<form method="post">{% csrf_token %}
<input type="hidden" name="id" value="{{ id }}">
<table>
{% for field in form1 %}
{% ifequal field.label_tag form1.verified.label_tag %}{% else %}<tr>
    <th>{{ field.label_tag }}:</th><td>{{ field.errors }} {{ field }}</td>
</tr>{% endifequal %}
{% endfor %}
{{ form2.as_table }}
</table>
<table>
<tr><th>Godziny:</th><td></td></tr>
{% include "forms/hours.html" %}
</table>
<table>
<tr><td style="height: 20px;"></td></tr>
<tr><th>Weryfikacja:</th><td>
{{ form1.verified }}
</td></tr>
</table>
<input type="submit" name="submit" class="submit" style="background-color: fbe021" value="Nie odbiera">
<input type="submit" name="submit" class="submit" style="background-color: 229a38; padding: 5px; border: 3px solid #1a762b; font-size: 18px;" value="OK - zapisz i przejdź dalej">
</form>

</body>
</html>
