{% load i18n %}
<img style="float: left;" src="http://static.dood.pl/gfx/crown.jpg">
<h2>Gratulacje!</h2>
Masz nowe do<strong>odznaczenie</strong>!<br />
<br />
{% load badges_tags %}
<div>{{ badge|show_badge }}&nbsp;- {{ badge.description }}</div><br />
<br />
