{% load absurl %}<html>
<head>
<base href="http://neib.org/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<style>
a { text-decoration: none; color: #086c9a; }
a:hover { text-decoration: underline; }
img { border: 0px }
</style>
</head>
<body style="font-family: Verdana; font-size: 12px;">
<div style="float: left; width: 600px;">
{% if not static %}
<div style="color: #a8a8a8;padding: 3px; padding-top: 1px; padding-bottom: 5px; font-size: 12px;">Czy ten mail wygląda dziwnie? <a href="{% absurl newsletter newsletter.date %}">Spróbuj obejrzeć go tu.</a></div>
{% endif %}
<div style="background-image: url('http://static.dood.pl/gfx/newsletter-head.png'); background-color: #e30502; height: 38px; color: #ffffff;">
<div style="float: left; padding: 4px; font-size: 22px; padding-left: 5px; font-weight: bold; "><a style="color: #ffffff; text-decoration: none;" href="http://neib.org/">neib.org</a> <font style="font-weight: normal">// newsletter</font></div>
<div style="float: right; padding: 11px; padding-right: 10px; font-size: 14px; font-weight: normal; padding-left: 5px; font-weight: bold; color: #fde1e0;">{{ newsletter.date }}</div>
</div>
<div style="color: #847477;padding: 3px; padding-top: 5px; padding-bottom: 5px; font-size: 11px;">Masz sugestie dotyczące newslettera? <a href="mailto:newsletter@neib.org">Napisz do załogi neib.org</a></div>
<div style="float: left; width: 490px;">

{% autoescape off %}
<h1 style="color: #d22c16; font-size: 18px;">{{ newsletter.subject }}</h1>
<div style="font-size: 12px; line-height: 150%; padding-right: 5px; border-right: 1px solid #dbdcca"><img src="{{ MEDIA_URL }}newsletter/{{ newsletter.date }}.jpg" style="float: left; margin: 5px; margin-right: 10px;" /><strong>{{ newsletter.lead }}</strong><br /><br />
{{ newsletter.content|linebreaks }}</div>
</div>
{% endautoescape %}
<div style="float: right; width: 109px;">
<div style="padding-left: 10px; text-align: center;">
<h2 style="font-size: 12px; font-weight: bold; color: #d22c16;">Aktywni użytkownicy</h2>
{% for item in newsletter.users.all %}
<a style="margin: 4px; margin-left: 6px; margin-right: 0px;" href="{% url profile item.id %}""><img style="border: 0px; padding: 5px;" src="{{ item.profile.photo.get_thumbnail_url }}"></a>
{% endfor %}
</div>
</div>
<div style="clear: both"></div>
<br />
<div style="border-top: 1px solid #dbdcca; "><!-- --></div>
<h2 style="font-size: 12px; font-weight: bold; color: #d22c16;">Wydarzenia</h2>
{% for item in newsletter.events.all %}

<div style="float: left; width: 299px; height: 60px; padding-bottom: 10px;"> 
	<div style="float: left; width: 70px; text-align: center;"> 
	<a href="{{ item.get_absolute_url }}"><img alt="" title="" src="{{ item.photo.get_thumbnail_url }}"></a><br /> 
	</div> 
	<a class="localname" href="{{ item.get_absolute_url }}">{{ item }}</a><br />
	{{ item.event_date|date:"l, j F, \g\o\d\z. H:i" }}
    <div class="clean"></div> 
    <br /> 
</div> 
{% endfor %}
<div style="clear: both"></div>
<div style="border-top: 1px solid #dbdcca; "><!-- --></div>
<h2 style="font-size: 12px; font-weight: bold;color: #d22c16;">Recenzje</h2>
{% for item in newsletter.reviews.all %}
	<div style="margin-bottom: 8px; padding-bottom: 10px;">

	<div style="float: left; width: 70px; text-align: center;">
	<a href="{% absurl profile item.user.id %}"><img alt="{{ item.user.profile }}" title="{{ item.user.profile }}" src="{{ item.user.profile.photo.get_thumbnail_url }}"></a>
	</div>
	{% load stars %}
	<a class="localname" href="{{ item.business.get_absolute_url }}">{{ item.business }}</a>
	<div style="height: 25px">{% stars item.rating %}</div>
    <div style="font-size: 10px; color: #c5c5c5; padding: 3px; padding-top: 0px;">{{ item.date|timesince }} temu</div>
    {{ item.content|truncatewords:30 }}<br />
	 <a style="float: right;" href="{{ item.business.get_absolute_url }}"><img class="button" style="padding-top: 5px;" src="{{ MEDIA_URL }}gfx/button-more.gif"></a>
    <div class="clean"></div>
    <br />
    
    </div>
{% endfor %}
<div style="clear: both"></div>
<div style="border-top: 1px solid #dbdcca; "><!-- --></div>
<div style="color: #dddddd; font-size: 11px; text-align: center; padding: 5px;">
<a href="{% absurl profile_preferences_edit %}" style="font-size: 12px; color: #888888;">wypisz mnie z newslettera</a><br />
<font style=" ">copyrights neib.org</font></div>
	
</div>
</body>
</html>