{% load dayword %}

<script>
 function copyToOthers()
 {
    fromHour0 = document.getElementById('id_form-' + 0 + '-time_from_hour');
    fromMinute0 = document.getElementById('id_form-' + 0 + '-time_from_minute');
    toHour0 = document.getElementById('id_form-' + 0 + '-time_to_hour');
    toMinute0 = document.getElementById('id_form-' + 0 + '-time_to_minute');

    for (i=1; i <=6; i++){
        fromHour = document.getElementById('id_form-' + i + '-time_from_hour');
        fromMinute = document.getElementById('id_form-' + i + '-time_from_minute');
        toHour = document.getElementById('id_form-' + i + '-time_to_hour');
        toMinute = document.getElementById('id_form-' + i + '-time_to_minute');

        fromHour.value = fromHour0.value;
        fromMinute.value = fromMinute0.value;
        toHour.value = toHour0.value;
        toMinute.value = toMinute0.value;
    }
 }
</script>

{{ formset.management_form }}
{% for form in formset.forms %}
    <tr>
        <th>{% dayword forloop.counter %}</th>
        <td>otwarte {{ form.opened }}</td>
        <td>od {{ form.time_from }}</td>
        <td>do {{ form.time_to }}</td>
        {% ifequal forloop.counter 1 %}
        <td><a href="javascript: copyToOthers()">kopiuj do pozostałych dni</a></td>
        {% endifequal %}
    </tr>
{% endfor %}