{% extends "base.for.profile.html" %}{% load i18n %}
{% block title %}{{ selecteduser.get_profile }}{% block profile_title %}{% endblock %}{% endblock %}
{% load active %}
{% load decline %}
{% block main-container %}
<div class="container">
	<div id="sidebar-profile">
		<div class="inside">
  		<div class="column-body">
        {% block sidebar %}
        <img width="200" alt="{{ selecteduser.profile }}" title="{{ selecteduser.profile }}" src="{{ selecteduser.profile.photo.get_profile_url }}" /><br />
{% comment %}
{% if selecteduser.profile.is_elite %}
<div style="float: left; margin-top: 1px; margin-right: 2px;"><a href="{% url elite_info %}"><img width="67" height="20" style="padding-bottom: 0px; border: 0px;" src="{{ MEDIA_URL }}gfx/doodelita.gif" /></a></div>
{% endif %}
{% endcomment %}
<div><div style="float: left; font-size: 30px; font-weight: bold; padding-right: 5px;">{{ selecteduser.profile.reputation }}</div>
<div style="line-height: 110%; padding-top: 5px; font-size: 12px;"><a href="{% url generic_page "reputation" %}">punktów<br />reputacji</a></div><div class="clean"></div></div>
Zdobyte odznaczenia:<br />
<div style="padding-top: 3px; padding-bottom: 3px;">{% load badges_tags %}
{% for badge in selecteduser.badge_set.all %}
	{{ badge|show_badge }}
{% endfor %}</div>
<div style="clear: both;"></div>
{% if selecteduser.get_profile.motto %}
<div id="motto">{{ selecteduser.get_profile.motto|default_if_none:"" }}</div>
{% endif %}
<div class="icons">
{% ifnotequal request.user selecteduser %}
    {% if request.user.profile.privileges > 1 %}
		<h2>{% trans "Moderation" %}</h2>
		{% if selecteduser.profile.privileges < 1 %}
			<a href="{% url privileges_set selecteduser.id 1 %}">{% trans "Mine intern!" %}</a><br />
		{% else %}
			{% trans "User's status" %} <strong>{% ifequal selecteduser.profile.privileges 1 %}{% trans "INTERN" %}{% else %}{% trans "COORDINATOR" %}{% endifequal %}</strong>.<br />
			{% if selecteduser.profile.supervisor %}
				{% trans "Supervisor" %} <a href="{% url profile selecteduser.profile.supervisor.id %}">{{ selecteduser.profile.supervisor.profile }}</a>.<br />
			{% else %}
				{% trans "No supervisor - he works on his own." %}
			{% endif %}
				
			{% ifequal selecteduser.profile.supervisor request.user %}
				<br /><a href="{% url privileges_set selecteduser.id 0 %}">{% trans "Turn off internship" %}</a><br />
			{% else %}
				{% trans "You can't change anything here" %}
			{% endifequal %}
		{% endif %}
    {% endif %}
<h2>{% trans "Operations" %}</h2>
<span id="friend-add"><a href="javascript: addFriend({{ selecteduser.id }})"><img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/friend-add.gif">{% trans "Invite to friends" %}</a></span><br>
{% if not selected_user.get_profile.is_observed %}<span id="observe-add"><a href="javascript: addObserve({{ selecteduser.id }})"><img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/observe-add.gif">{% trans "Follow user" %}</a></span><br>{% endif %}
<a id="compliment-add" href="#"><img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/compliment-send.png">{% trans "Compliment" %}</a>
{% include 'compliments/compliments.box.html' %}
<br />
<a href="{% url messages_compose_to selecteduser.id %}"><img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/message-send.png">{% trans "Send message" %}</a><br>
{% endifnotequal %}
        <h2>{% trans "Statistics" %}</h2>
<img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/reviews.png">{% blocktrans count counter=selecteduser.get_profile.num_of_reviews %}1 review{% plural %}{{ counter }} reviews{% endblocktrans %}.<br />
<img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/friends.png">{% blocktrans count counter=selecteduser.get_profile.num_of_friends %}1 friend{% plural %}{{ counter }} friends{% endblocktrans %}.<br />
<img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/compliments.png">{% blocktrans count counter=selecteduser.get_profile.num_of_compliments %}1 compliment{% plural %}{{ counter }} compliments{% endblocktrans %}.<br />
<img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/bookmarks.png">{% blocktrans count counter=selecteduser.get_profile.num_of_biz_bookmarks %}1 favorite{% plural %}{{ counter }} favorites{% endblocktrans %}.<br />
<img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/observe.png">{% blocktrans count counter=selecteduser.get_profile.num_of_bookmarked_by %}1 follower{% plural %}{{ counter }} followers{% endblocktrans %}.<br />
</div>
        <h2>{% trans "Information" %}</h2>
	<strong>{% trans "Neibs since" %}</strong><br />
	{{ selecteduser.get_profile.date|date:"F 'y" }}<br />
	<br />
{% for item in selecteduser.get_profile.info %}
{% if item.value %}
	<strong>{% trans item.field.name %}</strong><br />
	{% trans item.value|urlize %}<br />
	<br />
{% endif %}
{% endfor %}
        {% endblock %}
	    </div>
		</div>
	</div>
	<div id="content-profile">
  		<div class="column-body">
		<!-- content -->
        {% block content %}
{% url profile selecteduser.id as show_profile %}
{% url reviews_list selecteduser.id as show_reviews %}
{% url compliments_list selecteduser.id as show_compliments %}
{% url friends_list selecteduser.id as show_friends %}
{% url business_lists selecteduser.id as show_lists %}
{% url forum_user_list selecteduser.id as show_talks %}
{% url favorites_list selecteduser.id as show_favorites %}

<h1 id="username">{{ selecteduser.get_profile }}</h1>
<div id="profile-menu">
<a class="{% active request show_profile %}" href="{% url profile selecteduser.id %}">{% trans "News" %}</a>&nbsp; 
<a class="{% active request show_reviews %}" href="{% url reviews_list selecteduser.id %}">{% trans "Reviews" %}</a>&nbsp; 
<a class="{% active request show_compliments %}" href="{% url compliments_list selecteduser.id %}">{% trans "Compliments" %}</a>&nbsp; 
<a class="{% active request show_friends %}" href="{% url friends_list selecteduser.id %}">{% trans "Friends" %}</a>&nbsp; 
<a class="{% active request show_talks %}" href="{% url forum_user_list selecteduser.id %}">{% trans "Conversations" %}</a>&nbsp; 
<a class="{% active request show_favorites %}" href="{% url favorites_list selecteduser.id %}">{% trans "Favorites" %}</a>
</div>
{% block profile-left %}

{% endblock %}
        {% endblock %}
	    </div>
	</div>
	<div class="clean"></div>
</div>
{% endblock %}
