{% extends "base.full.html" %}{% load i18n %}
{% block content %}
<h2>Co to jest <img style="top: 5px; position: relative; padding-bottom: 0px; border: 0px;" src="{{ MEDIA_URL }}gfx/doodelita.gif" />?</h2>
<b>neibelita</b> została stworzona z myślą o najbardziej aktywnych i charyzmatycznych użytkownikach naszego portalu. To grupa ludzi, którzy sprawiają, że wspólna, internetowa koegzystencja nabiera barw, stając się bardziej żywą i użyteczną. Przy każdym profilu użytkownika należącego do <b>neibelita</b> znajduje się specjalny znaczek. Tak wyróżnione osoby mogą liczyć na wiele ciekawych atrakcji i bonusów; m.in. zaproszenia na specjalne, ekskluzywne i jedyne w swoim rodzaju imprezy organizowane przez neib.org oraz wejściówki na różne imprezy.<br />

<h2>Jak mogę stać się członkiem neibelity?</h2>

Czy jesteś osobą, która na bieżąco śledzi nowe wydarzenia w stolicy i jest częstym bywalcem warszawskich lokali; klubów, barów, czy teatrów? Czy to do Ciebie zgłaszają się znajomi o radę, gdzie udać się po nowe ciuchy lub kupić prezent dla znajomego? Czy lubisz dzielić się swoimi wrażeniami i opiniami? Jeżeli odpowiedziałeś TAK na którekolwiek z powyższych pytań, to znaczy, że jesteś odpowiednią osobą, by ubiegać się o członkowstwo w <b>neibelicie</b>.<br /><br />
Wystarczy, że spełnisz poniższe wymogi:
<ul>
<li>Jesteś autorem wielu ciekawych i wartościowych recenzji, które są cenną informacją dla innych użytkowników portalu. Co najważniejsze: pozostali członkowie darzą Cię zaufaniem i  mają przekonanie, że teksty te są w pełni osobiste, wnikliwe i użyteczne, a przy okazji dobrze i zabawnie napisane.</li>
<li>Posiadasz rozbudowany i „dopieszczony” profil. Nie chodzi tu o poprawność ortograficzną, gramatyczną, czy zakres językowy. Szukamy osób charyzmatycznych, z osobowością, którzy wnoszą coś „swojego” do naszej społeczności. Nie jesteśmy jedynie przewodnikiem po mieście. Jesteśmy grupą ludzi, którzy wymieniają się swoimi wrażeniami i opiniami o miejscach w naszej pięknej stolicy. Im będziesz bardziej charakterystyczny i autentyczny, tym więcej ludzi będzie odnosić się do twoich recenzji i opinii- a co za tym idzie, zyskają one na znaczeniu.</li>
<li>Zdjęcia! Żeby stać się prawomocnym członkiem <b>neibelity</b> musisz zamieścić w profilu swoje prawdziwe zdjęcie. Urok naszego portalu polega na tym, że skupia on realnych ludzi dzielących się autentycznymi i szczerymi opiniami. Ujawnienie tożsamości poprzez wklejenie własnego zdjęcia sprawi, że Twoje słowa staną się bardziej przekonywujące!</li>
<li>Oczekujemy, że kandydat do <b>neibelity</b> będzie używał swoich prawdziwych danych osobowych. Wiemy, że wymyślanie nowych pseudonimów sprawia dużo radości i gwarantuje anonimowość, ale neib.pl to strona dla tych, którzy nie boją się własnych opinii i biorą odpowiedzialność za swoje słowa.</li>
</ul>

Spełniasz powyższe kryteria i masz „to coś”, co sprawia, że Twój profil rzuca się w oczy poprzez indywidualny styl i błyskotliwe, pomocne wypowiedzi ? To znaczy, że nadajesz się na członka <b>neibelity</b>! Pamiętaj – wielki neib patrzy i w każdej chwili może zaproponować Ci dołączenie się do naszego grona.<br />
Jeżeli uważasz, że spełniasz wymienione wcześniej wymagania i chcesz należeć do naszej <b>neibelity</b>, a my jeszcze nie zaproponowaliśmy Ci członkowstwa- napisz nam maila wraz z linkiem do Twojego profilu pod adres <a href="mailto: biuro@neib.pl">biuro@neib.pl</a> wpisując w temacie „<b>neibelita</b>”.  Jednocześnie prosimy o adnotacje, czy jesteś osobą pełnoletnią, która może pobierać napoje procentowe;)<br />
Do zobaczenia wkrótce, na imprezach <b>neibelity</b>.<br />

<h3>Elitarni</h3>
W tej chwili do neibelity należą:<br />
<div style="padding-top: 5px;">
{% for item in users %}
    {% include "include/user.short.html" %}
{% endfor %}
</div>

{% endblock %}


