{% extends "community/base.profile.html" %}{% load i18n %}
{% block profile_title %} | {% trans "Favorites" %}{% endblock %}
{% load list_to_columns %}

{% block profile-left %}
<h2>{% trans "Venues" %}</h2>
{% for item in businesses %}
    {% include "include/business.html" %}
{% empty %}
{% trans "There is nothing to like for me." %}
{% endfor %}

<h2>{% trans "Followed users" %}</h2>
{% if users %}
    <table style="width: 100%"><tr>
    {% list_to_columns users as list 3 %}
	{% for l in list %}
		<td style="width: 33%">
			{%for item in l %}
				{% include "include/user.html" %}
			{% endfor %}
		</td>
	{% endfor %}
	</tr></table>
{% else %}
	{% trans "I do not follow anybody" %}
{% endif %}

{% endblock %}
