{% extends "community/base.profile.html" %}{% load i18n %}
{% block profile_title %} | {% trans "Friends" %}{% endblock %}
{% load list_to_columns %}
{% block head %}
{% include "include/map.head.html" %}
{% endblock %}
{% block profile-left %}

<h2>{% trans "Friends" %}</h2>
{% if friends %}
    <table style="width: 100%"><tr>
    {% list_to_columns friends as list 3 %}
	{% for l in list %}
		<td style="width: 33%">
			{%for item in l %}
				{% include "include/user.html" %}
			{% endfor %}
		</td>
	{% endfor %}
	</tr></table>
{% else %}
{% trans "I don't have friends here yet." %} <a href="{% url messages_compose_to selecteduser.id %}">{% trans "Write to me!" %}</a>
{% endif %}

{% endblock %}
