{% extends "base.full.html" %}{% load i18n %}
{% block title %}{% trans "Your friends" %}{% endblock %}
{% load list_to_columns %}
{% block content %}

<h2>{% trans "Invitations" %}</h2>
{% if friend_requests %}
    <table style="width: 100%"><tr>
    {% list_to_columns friend_requests as list 3 %}
	{% for l in list %}
		<td style="width: 33%">
			{%for item in l %}
				{% include "include/user.accept.html" %}
			{% endfor %}
		</td>
	{% endfor %}
	</tr></table>
{% else %}
	{% trans "You don't have any invitations.'" %}
{% endif %}
<h2>{% trans "Friends" %}</h2>
{% if friends %}
    <table style="width: 100%"><tr>
    {% list_to_columns friends as list 3 %}
	{% for l in list %}
		<td style="width: 33%">
			{%for item in l %}
				{% include "include/user.edit.html" %}
			{% endfor %}
		</td>
	{% endfor %}
	</tr></table>
{% else %}
	{% trans "You don't have friends here yet.'" %}
{% endif %}
	

{% endblock %}
