{% extends "base.html" %}{% load i18n %}
{% load decline %}
{% block title %}{% endblock %}
{% block content %}
    {% if not request.user.profile.has_photo %}
        <div style="border: 3px solid #FFCC33; margin: 5px; margin-right: 10px; padding: 5px;">
            <div style="float: left; margin: 5px;">
                <a href="{% url profile request.user.id %}">
                <img alt="{{ request.user.profile }}" title="{{ request.user.profile }}" src="{{ request.user.profile.photo.get_thumbnail_url }}"></a>
            </div>
            <h3>{% blocktrans with username=request.user.profile %}Hello {{ username }}!{% endblocktrans %}</h3>
            <a href="{% url photos_management %}">{% trans "Add your photo" %}</a> <a href="{% url profile_info_edit %}">({% trans "and write something about yourself" %})</a>.
            <div class="clean"></div>
        </div>
    {% endif %}

    <div id="categories">
    <h2>{% trans "Search by category" %}</h2>
    {% include "include/categories.html" %}
    </div>


    <div id="bestbiz">
        <div class="inside">
            {% include "include/tops.html" %}
        </div>
	</div>

    <div class="clean"></div>
    {% include "include/neiborhood.html" %}

	<div class="clean"></div>
{% if business_sponsored %}
<div class="hr"><!--  --></div>
{% with business_sponsored as item %}
{% include "include/sponsored.html" %}
{% endwith %}
{% endif %}

    <div class="hr"><!-- --></div>

    <h2>{% trans "New reviews" %}</h2>
    {% for item in reviews %}
        {% include "include/review.on.main.html" %}
    {% endfor %}



{% endblock %}

{% block sidebar %}

<!-- sidebar -->
    <div class="icons">
        {% if user.get_profile.invited_by or user.get_profile.num_of_new_compliments or user.get_profile.num_of_new_messages %}
            <h2>{% trans "News" %}</h2>

            {% if user.get_profile.invited_by %}
                <img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/invitations.gif">{% trans "Friend's invitations" %}<br />
                {% for item in user.get_profile.invited_by %}
                    <a href="{% url profile item.user1.id %}">{{ item.user1.get_profile }}</a> (<a href="{% url friendship_accept item.user1.id %}">{% trans "accept" %}</a>, <a href="{% url friendship_delete item.user1.id %}">{% trans "reject" %}</a>)<br />
                {% endfor %}
            {% endif %}

            {% ifnotequal user.get_profile.num_of_new_compliments 0 %}
                <a href="{% url compliments_list user.id %}"><img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/compliments-new.gif">{% trans "New compliments" %}!</a><br />
            {% endifnotequal %}

            {% ifnotequal user.get_profile.num_of_new_messages 0 %}
                <a href="{% url messages_inbox %}">
                    <img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/messages-new.gif"/>
                    {% blocktrans count counter=user.get_profile.num_of_new_messages %}1 new message{% plural %}{{ counter }} new messages{% endblocktrans %}
                </a><br />
            {% endifnotequal %}
        {% endif %}


        <!-- {% if props %}
            <h2>Propozycje znajomych</h2>
            {% for user in props %}
                <div id="friend-proposition-{{ user.id }}" style="float: left; width: 90px; text-align: center; margin-bottom: 15px;">
                    <a href="{% url profile user.id %}">
                        <img width="50" height="50" src="{{ user.profile.photo.get_thumbnail_url }}" />
                    </a>
                    <br />
                    <div style="padding-top: 2px;">
                        <a href="{% url profile user.id %}">
                            {{ user.profile }}
                        </a>
                    </div>
                    <span id="friend-{{ user.id }}-add">
                        <a href="javascript: acceptFriendProposition({{ user.id }})">
                            <img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/friend-add.gif">
                            Dodaj
                         </a>
                        </span>
                        <br/>
                    <span id="friend-{{ user.id }}-remove">
                        <a href="javascript: removeFriendProposition({{ user.id }})">
                            <img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/invitations.gif"/>
                            Odrzuć
                        </a>
                    </span>
                    <br>
                </div>
            {% endfor %}
            <div style="clear: both"></div>
        {% endif %} -->
	{% if promotions %}
    <h2>Bergains in neighbourhood</h2>
    {% for item in promotions %}
        {% include "include/promotion.short.html" %}
    {% endfor %}
    {% endif %}

        <h2>Statystyki</h2>
        <img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/reviews.png">{% blocktrans count counter=user.get_profile.num_of_reviews %}1 review{% plural %}{{ counter }} reviews{% endblocktrans %}.<br />
        <img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/friends.png">{% blocktrans count counter=user.get_profile.num_of_friends %}1 friend{% plural %}{{ counter }} friends{% endblocktrans %}.<br />
        <img width="16" height="16" src="{{ MEDIA_URL }}gfx/icons/compliments.png">{% blocktrans count counter=user.get_profile.num_of_compliments %}1 compliment{% plural %}{{ counter }} compliments{% endblocktrans %}!<br />
        <div style="padding-top: 5px;">
            <a href="{% url profile user.id %}">
                {% trans "Check out your profile for more" %}
            </a>
        </div>
    </div>

    <!-- BEST REVIEW -->
    {% if best_reviews %}
        <h2>{% trans "Review of the week" %}</h2>
        <ul class="reviews">
        {% for item in best_reviews %}
            {% include "include/review.short.html" %}
        {% endfor %}
        </ul>
    {% endif %}

    <!-- FRIEND REVIEWS -->
    {% if friends_reviews %}
    <h2>{% trans "Friends' reviews" %}</h2>
        <ul class="reviews">
        {% for item in friends_reviews %}
            {% include "include/review.short.html" %}
        {% endfor %}
        </ul>
    {% endif %}

{% include "include/ads.html" %}

    <!-- EVENTS -->
    <h2>{% trans "Events" %}</h2>
    {% for item in events %}
        {% include "include/event.short.html" %}
    {% endfor %}
    {% if events %}
        <a href="{% url events %}">{% trans "see more..." %}</a>
    {% else %}
        {% trans "No events in this neighbourhood?" %}<br />
        <a href="{% url events_add %}">{% trans "Add event" %}</a>
    {% endif %}
    {% include "include/facebook.likebox.html" %}

{% endblock %}
