{% extends "base.full.html" %}
{% block title %}Zaproś znajomych{% endblock %}
{% block content %}
<h2>Zaproś znajomych</h2>
<form action="" method="post">{% csrf_token %}
    <table>
    	<tr><th>Temat:</th><td>Zaproszenie do serwisu neib.org</td></tr>
        {{ form.as_table }}
    </table>
    <input class="submit" type="submit" value="Zaproś">
</form>
{% endblock %}