{% extends "base.full.html" %}
{% block title %}Lista lokacji{% endblock %}
{% block content %}
<h2>Lista lokacji</h2>
{% if locations %}
<table>
{% for item in locations %}
<tr><td><a href="{% url location_activate item.id %}"><strong>{{ item.name }}</strong> ({{ item.get_display_address }})</a> </td><td style="width: 10px"></td><td> <a href="{% url location_edit item.id %}">Edytuj</a></td><td style="width: 5px;"></td><td><a href="{% url location_delete item.id %}">Usuń</a></td></tr>
{% endfor %}
</table><br />
{% endif %}
<a href="{% url location_add %}">dodaj nową</a><br />
{% endblock %}