{% extends "base.full.html" %}
{% block title %}Dodawanie lokacji{% endblock %}
{% block content %}
<h2>Dodaj lokację</h2>
<form class="form-standard" action="" method="post">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input name="location_id" type="hidden" value="{{ form.instance.id }}">
    <input class="submit" type="submit" value="Zapisz">
</form>
{% endblock %}