{% extends "base.full.html" %}{% load i18n %}
{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}
<h2>{% trans "Edit password" %}</h2>
        <form action="" method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input class="submit" type="submit" value="{% trans "Save" %}">
        </form>
{% endblock %}