{% extends "base.full.html" %}{% load i18n %}
{% block title %}{% trans "Edit profile" %}{% endblock %}
{% block content %}
<h2>{% trans "Edit profile" %}</h2>

<div class="choose-edit-box">

<h3>{% trans "Personal data" %}</h3> &nbsp;<a href="{% url profile_details_edit %}">({% trans "edit" %})</a><br />
{% trans "Information such as name, surname, gender, birthday, etc." %}<br />
 <a href="{% url password_edit %}">{% trans "If you want to CHANGE your PASSWORD click here" %}</a><br />
</div>

<div class="choose-edit-box">
<h3>{% trans "Profile" %}</h3> &nbsp;<a href="{% url profile_info_edit %}">({% trans "edit" %})</a><br />
{% trans "Answer questions which describe your personality" %}
</div>

<!-- div class="choose-edit-box">
<h3>Lokacje</h3> &nbsp;<a href="{% url location_list %}">({% trans "edit" %})</a><br />
Podaj nam lokalizacje w których bywasz najczęściej, a my pomożemy Ci znaleźć odpowiedni lokal jeszcze szybciej.
Możesz tutaj zdefiniować miejsca gdzie mieszkasz, pracujesz, uczysz się albo gdzie masz babcię.
</div -->

<div class="choose-edit-box">
<h3>{% trans "Photos" %}</h3> &nbsp;<a href="{% url photos_management %}">({% trans "edit" %})</a><br />
{% trans "Add photos to your profile or check photos already added" %}
</div>

<div class="choose-edit-box">
<h3>{% trans "Friends" %}</h3> &nbsp;<a href="{% url friends_edit %}">({% trans "edit" %})</a><br />
{% trans "Manage list of your friends. Remove some friends if you don't like them any more!'" %}
</div>

<!--div class="choose-edit-box">
<h3>Połączenia</h3> &nbsp;<a href="">(edytuj)</a><br />
Zaproś znajomych z grona i gmaila. Publikuj swoje recenzje automatycznie na facebookowej ścianie.
</div-->

<div class="choose-edit-box">
<h3>{% trans "Preferences" %}</h3> &nbsp;<a href="{% url profile_preferences_edit %}">({% trans "edit" %})</a><br />
{% trans "Personalize this website. Tell us which information is important for you and whic is not.'" %}
</div>

<div class="clean"></div>

{% endblock %}