{% extends "base.full.html" %}{% load i18n %}
{% block title %}{% trans "Edit profile" %}{% endblock %}
{% block content %}
<h2>{% trans "Edit profile" %}</h2>
        <form class="form-standard" action="" method="post">{% csrf_token %}
            <table>
                {{ user_form.as_table }}
                {{ form.as_table }}
            </table>
            <input class="submit" type="submit" value="{% trans "Save" %}">
        </form>
{% endblock %}