{% extends "base.full.html" %}{% load i18n %}
{% block title %}{% trans "Preferences and privacy" %}{% endblock %}
{% block content %}
<h2>{% trans "Preferences and privacy" %}</h2>
        <form class="form-standard" action="" method="post">{% csrf_token %}
            <table>
                {% for field in form %}
                <tr>
                    <th>{{ field }}</th><td>{{ field.label_tag }}</td>
                </tr>
                {% endfor %}
            </table>
            <input class="submit" type="submit" value="{% trans "Save" %}">
        </form>
{% endblock %}