{% extends "community/base.profile.html" %}{% load i18n %}
{% block profile_title %} | {% trans "News" %}{% endblock %}
{% block head %}
    {% include "include/map.head.html" %}
{% endblock %}
{% block profile-left %}
<div style="float: left; width: 509px;">
<h2>{% blocktrans with username=profile %}Recent reviews{% endblocktrans %}</h2>
<ul class="reviews">
{% for item in reviews %}
    {% include "include/review.html" %}
{% empty %}
{% trans "No reviews yet. Just looking around." %}
{% endfor %}
</ul>
</div>
<div style="float: right; width: 230px">
<div style="padding-left: 3px; border-left: 1px solid #c5c5c5">
{% if friends %}
<h2>{% trans "Friends" %}</h2>
{% for item in friends %}
    {% include "include/user.short.html" %}
{% endfor %}
{% endif %}
<div id="profile-compliments">
{% if compliments %}
<h2>{% trans "Compliments" %}</h2>
{% for item in compliments %}
    {% include "include/compliment.short.html" %}
{% endfor %}
{% endif %}
</div>
</div>
</div>
<div class="clean"></div>

{% endblock %}
