{% extends "community/base.profile.html" %}{% load i18n %}
{% block profile_title %} | {% trans "Conversations" %}{% endblock %}
{% load pagination_tags %}
{% block head %}
{% include "include/map.head.html" %}
{% endblock %}
{% block profile-left %}

<h2>{% trans "Conversations" %}</h2>
{% if threads %}
<div style="margin-bottom: 5px">{% trans "Recent user talks" %}</div>
{% for item in threads %}
    <a style="display: block; padding: 3px;" href="{% url forum_thread_details item.id %}">{{ item.name }} ({{ item.category }})</a>
{% endfor %}
{% else %}
{% trans "Recently nothing inspired me to talk about it..." %}
{% endif %}

{% endblock %}
