{% extends "base.full.html" %}{% load i18n %}
{% block head %}
	{{ form.media.css }}
{% endblock %}

{% block js_include %}
	{{ form.media.js }}
{% endblock %}

{% block content %}
<h2>{% trans "Add new venue" %}</h2>
{% trans "Help us in building complete database by adding new venues!" %}<br />
        <form class="form-standard" action="" method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input class="submit" type="submit" value="{% trans "Add" %}">
        </form>
{% endblock %}