{% extends "base.full.html" %}
{% block description %}{{ business.review_body|truncatewords:40 }}{% endblock %}
{% block title %}Duża mapa | {{ business }}{% endblock %}
{% block head %}
<link rel="canonical" href="{{ business.get_absolute_url }}" />
{% include "include/map.head.html" %}
{% endblock %}
{% block js_include %}
<script src="http://maps.google.com/maps/api/js?sensor=false&region=PL" type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="full-biz">
	<div style="float: left; width: 70px; text-align: center;">
	<a href="{{ business.get_absolute_url }}"><img alt="{{ business }}" title="{{ business }}" src="{{ business.photo.get_thumbnail_url }}"></a>
	</div>
	<a href="{{ business.get_absolute_url }}">{{ business.name }}</a><br />
	{% load stars %}
	{% stars business.rating %}<br /><br />
	{{ business.address }}<br />
	<strong>{{ item.phone }}</strong>
	
    <div class="clean"></div>
    <div class="hr"><!-- --></div>
</div>
<div id="map_canvas" style="width: 975px; height: 500px"></div>

{% endblock %}

