{% extends "base.full.html" %}
{% block head %}
	{{ form.media.css }}
{% endblock %}

{% block js_include %}
	{{ form.media.js }}
{% endblock %}
{% block js_ready %}
    toggle = function(e){
        if($(this).is(':checked')){
            $(this).parent().parent().find("th").removeClass("inactive");
            $(this).parent().parent().find("td").removeClass("inactive");
            $(this).parent().parent().find("td select").removeClass("inactive");
        }
        else{
            $(this).parent().parent().find("th").addClass("inactive");
            $(this).parent().parent().find("td").addClass("inactive");
            $(this).parent().parent().find("td select").addClass("inactive");
        }
    }

    $("table.hours input[type='checkbox']").each(toggle);
    $("table.hours input[type='checkbox']").click(toggle);
{% endblock %}

{% block content %}
Pomóż nam rozbudowywać bazę miejsc wprowadzając do niej nowe obiekty.<br />
<strong>Uwaga!</strong> Lokal nie pojawi się od razu - musi zostać zatwierdzony przez moderatora.
        <form class="form-standard" action="" method="post">{% csrf_token %}
        	<h2>Dane lokalu</h2>
            <table>
                {{ form.as_table }}
            </table>
        	<h2>Godziny otwarcia</h2>
            <table class="hours">
				{% include "forms/hours.html" %}
            </table>
        	<h2>Dodatkowe informacje</h2>
            <table class="hours">
				{{ exform.as_table }}
            </table>
            <input class="submit" type="submit" value="Dodaj">
        </form>
{% endblock %}