<div id="{{ id }}-main">
	{{ hidden }}
	<div id="{{ id }}-category-1">
		<div style="float: left;"><select id="{{id}}-select-1"></select></div>
		<div style="float: left;"><select id="{{id}}-select-2" style="display: none;"></select></div>
		<div style="float: left;"><select id="{{id}}-select-3" style="display: none;"></select></div>
		<div class="clean"></div>
	</div>
	<div id="{{ id }}-list"></div>
	<div class="clean"></div>
</div>