<h2><a href="{{ business.get_absolute_url }}">{{ business.name }}</a></h2>
    <div>
        Kategorie:
        {% for item in business.categories.all %}
        <a href="{{ item.get_absolute_url }}">{{ item }}</a>&nbsp;
        {% endfor %}<br />
        <div class="vcard"><!-- for google search engine -->
            <span class="fn org"><span class="value-title" title="{{ business.name }}" ></span></span>
            <div class="address">
                <span class="street-address">{{ business.address|default_if_none:"" }}</span><br />
                <span class="region">{{ business.zip|default_if_none:"" }}</span>
                <span class="locality">{{ business.city|default_if_none:"" }}</span><br />
            </div>
            <strong><span class="tel">{{ business.phone|default_if_none:"" }}</span></strong><br />
            {% if business.www %}
            <span class="url">{{ business.www|urlize }}</span><br />
            {% endif %}
            {% if business.hours %}
            <div style="font-size: 11px; margin: 4px;"><strong>Godziny otwarcia:</strong><br />{{ business.hours|linebreaksbr }}</div>
            {% else %}
            <br />
            {% endif %}
            <span class="geo">
                <span class="latitude">
                    <span class="value-title" title="{{ business.latitude }}" />
                </span>
                <span class="longitude">
                    <span class="value-title" title="{{ business.longitude }}" />
                </span>
            </span>
        </div>
        {% include "map.html" %}
		<script type="text/javascript"> 
            var selectedBusiness = {
                id: '{{ business.id }}',
                latitude: {{ business.latitude|default:"0" }},
                longitude: {{ business.longitude|default:"0" }}
            };
			// ustawiamy latlng do zmiennej tak by później mapa wiedziała co ma wyświetlić.
		</script>
    </div>