<html>
	
	<head>
		<script type="application/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js" charset="utf-8"></script> 
		<script type="application/javascript">
			$(document).ready(function () {
				var tags = $("textarea[name='tags']");
				tags.width($(document).width() - $(document).width()/4);
				var categories = $("select[name='category']");
				categories.change(function(){
					tags.val($("#"+categories.val()).text());					
				});
			});
		</script>
		
	</head>
	<body>
		
		<form action="" method="post">{% csrf_token %}
			<table>
			{{ form }}
			</table>
			<input type="submit"> 
		</form>
		<div style="display:none;">
		{% for cat, tags in categories %}
			<div id="{{cat}}">{{tags}}</div>
		{% endfor %}
		</div>
	</body>
</html>