{% extends "base.html" %}{% load i18n %}
{% block fulltitle %}{% ifnotequal category.parent.id 0 %}{{ category.parent }} - {% endifnotequal %}{{ category }} {{ request.session.area.name }}{% endblock %}
{% load tagging_tags %}
{% block keywords %}{% tags_for_object category as tags %}{% for tag in tags %}{{ tag }}, {% endfor %}{% if category.parent %}{% tags_for_object category.parent as tags %}{% for tag in tags %}{{ tag }}, {% endfor %}{% endif %}{% endblock %}
{% block description %}{% endblock %}

{% load list_to_columns %}
{% block head %}{% endblock %}
{% block js_include %}
<script src="http://maps.google.com/maps/api/js?sensor=false&region=PL" type="text/javascript"></script>
{% endblock %}

{% block js_ready %}
	{% autoescape off %} 
	{% for item in businesses %}
		{% if item.longitude and item.latitude %}
			$("#map_canvas").addPoint({{ item.latitude|default:"0" }}, {{ item.longitude|default:"0" }}, {{ item.get_json }});
		{% endif %}
	{% endfor %}
	$("#map_canvas").fitZoom();
	$("#map_canvas").css({position: 'fixed'});
	$("#map_canvas").addMarkerListeners("mouseover",showTooltipCallback);
	$("#map_canvas").addMarkerListeners("mouseout",hideTooltipCallback);
	{% endautoescape %}
{% endblock %}

{% block content %}
    <h2>{% for item in category_path %}
	    <a href="{% url category_city_listing category_name=item.slug city_slug=request.session.area.slug %}">{% trans item.name %}</a> {% if not forloop.last %}-&gt;{% endif %}
	{% empty %}
	{% trans "Choose category" %}
    {% endfor %}</h2>
    
    <table style="width: 100%"><tr>
    {% list_to_columns subcategories as list 3 %}
	{% for l in list %}
		<td style="width: 33%">
			{%for item in l %}
				<span class="cat-list"><a href="{% url category_city_listing category_name=item.slug city_slug=request.session.area.slug %}">{% trans item.name %}</a></span><br />
			{% endfor %}
		</td>
	{% endfor %}
	</tr></table>

    <div class="clearer"></div>

{% if business_sponsored %}
{% with business_sponsored as item %}
{% include "include/sponsored.html" %}
{% endwith %}
{% endif %}

			<div id="categories">
			<h2>{% trans "Other categories" %}</h2>
{% include "include/categories.html" %}
			</div>
			<div id="bestbiz">
				<div class="inside">
				<h2>{% trans "Recommended by users" %}</h2>
{% for item in businesses %}
    {% include "include/business.html" %}
{% endfor %}
<div style="text=align: right; padding-right: 10px;"><a href="{% url business_search %}?kategoria={{ category.slug }}&gdzie={{ request.session.area.full_name }}">{% trans "See more in this category" %}</a></div>
<br />
<div style="text=align: right; padding-right: 10px;"><a href="{% url business_add %}">{% trans "Add your venue" %}</a></div>
				


				</div>
			</div>
<div class="clean"><!-- --></div>
	<!-- h2>Nowe zdjęcia w tej kategorii</h2 -->

{% endblock %}
{% block sidebar %}
    {% include "include/map.html" %}
<div class="separator-20px"><!-- --></div>
{% if best_reviews %}
		<h2>{% trans "New reviews" %}</h2>
{% for item in best_reviews %}
    {% include "include/review.short.html" %}
{% endfor %}

{% endif %}
{% if business_lists %}
        <h2>{% trans "New lists" %}</h2>
{% for item in business_lists %}
    {% include "include/businesslist.short.html" %}
{% endfor %}
{% endif %}

{% if users %}
        <h2>{% trans "Most active users" %}</h2>
{% for item in users %}{% include "include/user.short.html" %}{% empty %}
	nie ma nikogo w okolicy
{% endfor %}
{% endif %}


{% endblock %}