{% extends "base.full.html" %}{% load i18n %}
{% load as_dict %}
{% block fulltitle %}{{ search.what }} {{ search.where }}{% endblock %}

{% block head %}
    {% include "include/map.head.html" %}
{% endblock %}

{% block js_ready %}
	{% autoescape off %} 
	{% for item in businesses %}
		{% if item.longitude and item.latitude %}
			if (!window.location.hash) $("#map_canvas").addPoint({{ item.latitude|default:"0" }}, {{ item.longitude|default:"0" }}, {{ item.get_json }});
		{% endif %}
	{% endfor %}
	{% if businesses %}$("#map_canvas").fitZoom();{% endif %}
	{% endautoescape %}
{% endblock %}

{% block content %}
{% block js_include %}
<script src="http://maps.google.com/maps/api/js?sensor=false&region=PL" type="text/javascript"></script>
{% endblock %}
	<h1>{{ search.what }} {{ search.where }}</h1>
<script>
</script>
<ul id="select-ordering">
	<li id="select-ordering-fitting" class="selected"><a style="cursor: pointer">{% trans "Most accurate" %}</a></li>
	<li id="select-ordering-rank"><a style="cursor: pointer">{% trans "Higest rank" %}</a></li>
	<li id="select-ordering-reviews"><a style="cursor: pointer">{% trans "Most popular" %}</a></li>
</ul>

<div class="hr"><!--  --></div>
<div style="float: left; width: 670px;" id="search-results-pane">
{% if business_sponsored %}
{% with business_sponsored as item %}
{% include "include/sponsored.html" %}
{% endwith %}
<div class="hr"><!--  --></div>
{% endif %}
        <img id="loader" style="display: none;" src="{{ MEDIA_URL }}gfx/loading.gif" />
        <div id="results">
        {% for item in businesses %}
        {% include "include/business.html" %}
        {% endfor %}
        </div>
<div id="results-navigation">
{% for i in pages %}<a href="javascript:getResults({{ i }})">{{ i }}</a>{% endfor %}
</div>
</div>
<div style="float: right; width: 290px;" id="search-map-pane">
{% include "include/map.html" %}
{% endblock %}