{% extends "base.html" %}
{% block title %}Lista {{ business_list.name }}{% endblock %}
{% block head %}
{% include "include/map.head.html" %}
{% endblock %}
{% block js_include %}
<script src="http://maps.google.com/maps/api/js?sensor=false&region=PL" type="text/javascript"></script>
{% endblock %}
{% block js_ready %}
{% for item in businesslist.businesses.all %}
	{% autoescape off %} 
	{% for item in businesses %}
		{% if item.longitude and item.latitude %}
			$("#map_canvas").addPoint({{ item.latitude|default:"0" }}, {{ item.longitude|default:"0" }}, {{ item.get_json }});
		{% endif %}
	{% endfor %}
	$("#map_canvas").fitZoom();
	{% endautoescape %}
{% endblock %}
{% block content %}
	{% ifequal businesslist.user request.user %}
<div style="float: right; padding-right: 10px"><a href="{% url business_list_del businesslist.id %}">Usuń listę</a> |
<a href="{% url business_list_edit businesslist.id %}">Edytuj opis</a></div>
	{% endifequal %}
	<h2>Lista {{ businesslist.name }}</h2>
	<div class="full-rev">

	<div style="float: left; width: 70px; text-align: center;">
	<a href="{% url profile businesslist.user.id %}"><img alt="{{ businesslist.user.profile }}" title="{{ businesslist.user.profile }}" src="{{ businesslist.user.profile.photo.get_thumbnail_url }}"></a>
	</div>
	{{ businesslist.description }}
    <div class="clean"></div>
    </div>
    <br />


    <div class="hr"><!-- --></div>
{% for item in businesslist.businesses.all %}
{% include "include/business.html" %}
{% empty %}
	<p>Na liście jeszcze nie ma biznesów</p>
{% endfor %}

{% endblock %}
{% block sidebar %}
    {% include "include/map.html" %}
{% endblock %}