{% extends "base.html" %}
{% block title %}Dodawanie nowej listy{% endblock %}
{% block content %}
<h2>Stwórz nową listę businessów</h2>
        <form action="" method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input class="submit" type="submit" value="Dodaj">
        </form>
{% endblock %}