{% extends "base.html" %}
{% block title %}Dodawanie recenzji{% endblock %}
{% block head %}
{% include "include/map.head.html" %}
{% endblock %}
{% block js_ready %}
	$('.rating').rating();
{% endblock%}
{% block sidebar %}
<h2>Nowa recenzja lokalu {{ business.name }}</h2>
    <div>
        Kategorie:
        {% for item in business.categories.all %}
        <a href="{{ item.get_absolute_url }}">{{ item }}</a>
        {% endfor %}<br />
        <div class="vcard"><!-- for google search engine -->
            <span class="fn org"><span class="value-title" title="{{ business.name }}" ></span></span>
            <div class="address">
                <span class="street-address">{{ business.address }}</span><br />
                <span class="region">{{ business.zip }}</span>
                <span class="locality">{{ business.city }}</span><br />
            </div>
            <strong><span class="tel">{{ business.phone }}</span></strong><br />
            {% if business.www %}
            <span class="url">{{ business.www|urlize }}</span><br />
            {% endif %}
            {% if business.hours %}
            <div style="font-size: 11px; margin: 4px;"><strong>Godziny otwarcia:</strong><br />{{ business.hours|linebreaksbr }}</div>
            {% else %}
            <br />
            {% endif %}
            <span class="geo">
                <span class="latitude">
                    <span class="value-title" title="{{ business.latitude }}" />
                </span>
                <span class="longitude">
                    <span class="value-title" title="{{ business.longitude }}" />
                </span>
            </span>
        </div>
        {% include "map.html" %}
    </div>
{% endblock %}
{% block content %}
	{% if form.cleened_data.password %}Hasło jest nieprawidłowe - spróbuj ponownie.{% else %}Twój e-mail jest już w naszej bazie. Prosimy o podanie hasła w celu zalogowania się.{% endif %}
    <form class="form-standard" class="table-form" action="" method="post">{% csrf_token %}
        <table>
            <tr><th>{{ form.rating.label_tag }} {{ form.rating.errors }}</th><td style="padding-bottom: 5px;">{{ form.rating }} <div id="rate-text"><!-- --></div></td></tr>
            <tr><th style="vertical-align: top;">{{ form.content.label_tag }} {{ form.content.errors }}</th><td>{{ form.content }}</td></tr>
            <tr><th style="vertical-align: top;">{{ form.email.label_tag }} {{ form.content.errors }}</th><td>{{ form.email }}</td></tr>
            <tr><th style="vertical-align: top;">{{ form.password.label_tag }} {{ form.content.errors }}</th><td>{{ form.password }}</td></tr>

        </table>
        <input class="submit" type="submit" value="Dodaj">
    </form>
{% endblock %}