{% extends "base.html" %}
{% load common_tags %}
{% block title %}Dodawanie recenzji{% endblock %}
{% block head %}
{% include "include/map.head.html" %}
{% endblock %}
{% block js_ready %}
	$('.rating').rating();
{% endblock%}
{% block sidebar %}
{% sidebar business %} {# include "business/business.sidebar.html" #}
{% endblock %}
{% block js_include %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_API_KEY }}&sensor=true" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <form class="form-standard" class="table-form" action="" method="post">{% csrf_token %}
        <table>
            <tr><th>{{ form.rating.label_tag }} {{ form.rating.errors }}</th><td style="padding-bottom: 5px;">{{ form.rating }} <div id="rate-text"><!-- --></div></td></tr>
            <tr><th style="vertical-align: top;">{{ form.content.label_tag }} {{ form.content.errors }}</th><td>{{ form.content }}</td></tr>
            <tr><th>{{ form.tags.label_tag }} {{ form.tags.errors }}</th><td>{{ form.tags }}</td></tr>
            <tr><th></th><td class="help_text">{{ form.tags.help_text }}</td></tr>
            {% if not form.facebook_publish.is_hidden  %}
            <tr><th>{{ form.facebook_publish.label_tag }} {{ form.facebook_publish.errors }}</th><td>{{ form.facebook_publish }}</td></tr>
            <tr><th></th><td class="help_text">{{ form.facebook_publish.help_text }}<br />Zanim zadziała musisz <a target="_blank" href="http://www.facebook.com/connect/prompt_permissions.php?api_key=d17b98d9f31c0e6857fdd6be8eee4d75&v=1.0&next=http://apps.facebook.com/myappname/granted/%3fxxRESULTTOKENxx&display=popup&ext_perm=read_stream,publish_stream,offline_access&enable_profile_selector=1">włączyć odpowiednie uprawnienia</a></td></tr>
            {% endif %}
        </table>
        <input class="submit" type="submit" value="Dodaj">
    </form>
{% endblock %}