	<div class="full-rev">

	<div style="float: left; width: 70px; text-align: center;" class="translatable">
	<a href="{% url profile item.sender.id %}"><img width="50" height="50" alt="{{ item.sender.profile }}" title="{{ item.sender.profile }}" src="{{ item.sender.profile.photo.get_thumbnail_url }}"></a>
	</div>
	<div class="title"><div class="compliment-title"><img src="{{ item.compliment.image.url }}" /> {{ item.compliment_title }}</div></div>
    <div class="date">{{ item.date|timesince }} temu</div>
    {{ item.body|truncatewords:10 }}<br />
    <div class="clean"></div>
    
    <div class="hr"><!-- --></div>
    </div>