{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>JadziAPP</h1>
<ul>
<li>{% ifequal pending_doubles 0 %}
	Nie ma żadnych wykrytych dubli.
{% else %}
	<a href="/double/merge?pair_id={{ links.double }}">Zacznij usuwać duble ({{ pending_doubles }})</a>
{% endifequal %}</li><li>
{% ifequal pending_moderate 0 %}
	Nie ma żadnych lokali do moderowania
{% else %}
	<a href="/business/details?id={{ links.moderation }}">Zacznij moderować dane ({{ pending_moderate }})</a>
{% endifequal %}</li><li>
{% ifequal pending_verify 0 %}
	Wszystkie lokale są zweryfikowane
{% else %}
	<a href="">Zacznij weryfikować lokale (<font color="red">{{ pending_verify }}</font>)</a>
{% endifequal %}</li>
</ul>
{% endblock %}
{% block sidebar %}
<ul>
	<li><a href="{% url admin_main %}">{% trans "Main" %}</a></li>
	<li><a href="{% url business_bulk_add %}">{% trans "Add businesses" %}</a></li>
	<li><a href="{% url ownership_requests %}">{% trans "Requests" %}</a></li>
</ul>
{% endblock %}