{% extends "inlineadmin/base.html" %}
{% load i18n %}
{% block content %}
<style>
	table.info-tb { margin: 10px; border-collapse:collapse; }
	table.info-tb td, table.info-tb th { border: #EAEAD2 1px solid; padding: 5px; }
	table.info-tb th { font-weight: normal; background-color: #FAFAF2; }
</style> 
<h1>{% trans "Add businesses" %}</h1>
{% if errors %}
<div class="errors">Errors:
<ul>
{% for item in errors %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</div>{% endif %}

CSV (semicolon-separated, new line - new row) may contain following columns:
<table class="info-tb">
<tr><th><strong>name</strong></th><td>in original language</td></tr>
<tr><th><strong>address</strong></th><td>street with house nr</td></tr>
<tr><th><strong>city</strong></th><td>in original language</td></tr>
<tr><th><strong>zip</strong></th><td>column required but field may be empty</td></tr>
<tr><th>phone</th></tr>
<tr><th>www</th></tr>
<tr><th><strong>categories</strong></th><td>preferebly as comma-separated neib.org's slugs</td></tr>
<tr><th>comment</th><td>any other important data (for moderator)</td></tr>
</table>
<strong>bolded fields</strong> are required
<div style="padding: 5px;">
Example:
<pre>
name;address;city;zip;www;phone;categories;comment
McDonalds;Creepy 16;Dubai;12-122;http://mcdonalds.com/;+1202021222;restauracje,restauracje-fast-food;
KFC;Wall 6;London;1022;http://kfc.com/;;restauracje,restauracje-fast-food;
</pre>
</div>
<form style="margin-top: 15px;" method="post" enctype="multipart/form-data" action=".">
{{ form.as_table }}
<input type="submit" value="{% trans "Send" %}">
</form>
{% endblock %}
