{% extends "inlineadmin/base.html" %}
{% load i18n %}
{% block content %}
<table>
<tr>
<th>Name</th>
<th>Street</th>
<th>City</th>
</tr>
{% for buss in businesses %}
<tr>
<td><a href="{% url business_detail buss.slug %}">{{ buss.name }}</a></td>
<td>{{ buss.address }}</td>
<td>{{ buss.city }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
