{% extends "inlineadmin/base.html" %}
{% load i18n %}
{% block content %}
<table>
<tr>
<th>Name</th>
<th>Street</th>
<th>City</th>
<th>Zip</th>
<th>Phone</th>
<th>WWW</th>
<th>Categories</th>
<th>Comment</th>
</tr>
{% for buss in businesses %}
<tr>
<td>{{ buss.name }}</td>
<td>{{ buss.address }}</td>
<td>{{ buss.city }}</td>
<td>{{ buss.zip }}</td>
<td>{{ buss.phone }}</td>
<td>{{ buss.www }}</td>
<td>{{ buss.categories }}</td>
<td>{{ buss.comment }}</td>
</tr>
{% endfor %}
</table>
<br />
<a style="font-size: 20px;" href="{% url business_bulk_save %}">Seems fine. Save it!</a>
{% endblock %}
