{% extends "inlineadmin/base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "New owners" %}</h1>
<table>
    <th>{% trans "User" %}</th>
    <th>{% trans "Business" %}</th>
    {% for request in requests %}
    <tr>
        <td><a href="{% url profile request.user.id %}">{{ request.user }}</a></td>
        <td><a href="{{ business.get_absolute_url }}">{{ request.business }}</a></td>
        <td><a href="{% url ownership_request_accept request.id %}">{% trans "Validate" %}</a></td>
        <td><a href="{% url ownership_request_decline request.id %}">{% trans "Delete" %}</a></td>
    </tr>
{% endfor %}</table>
{% endblock %}
