{% extends "base.full.html" %}{% load common_tags %}{% load i18n %}
{% load badges_tags %}{% load pagination_tags %}
{% block content %}
<div style="float: left; width: 155px; font-size: 60px; font-weight: bold; text-align: center; border: 1px solid #dddddd; padding: 2px; margin: 5px; color: #aaaaaa;">
{{ users.count }}
<div style="font-size: 11px; font-weight: normal; color: #333333;">{% trans "number of badges awarded" %}</div>
</div><h1 style="font-weight: normal">{% trans "neibadges" %}<strong></strong></h1>
<div>{{ badge|show_badge }} - {{ badge.description }}</div>
<div style="margin: 5px;">
    <a href="{% url badges_info %}">{% trans "Checkout other neibadges" %}</a>
</div>
<h2>{% trans "Users who earned this badge" %}</h2>
{% autopaginate users 150 %}
{% for profile in users %}
    {% include "include/profile.micro.html" %}
{% endfor %}
<div style="clear: both"></div>
    {% paginate %}


{% endblock %}


