{% extends "base.full.html" %}{% load common_tags %}
{% load decline %}
{% block content %}
<h1 style="font-weight: normal">neib<strong>adge</strong></h1>
<div style="width: 800px;"><img style="float: right;" src="{{ 'gfx/crown.jpg'|ADD_MEDIA_URL }}" />
{% load badges_tags %}
{% for badge in badges %}
	<div>{{ badge|show_badge }}&nbsp;- {{ badge.description }}</div><br />

{% endfor %}
<div style="clear: both"></div>
</div>


{% endblock %}


